Repository Couchers-org/couchers, pull requests merged in 2020-11, with the labels that each got.

#270 Make couchers.config importable no matter your environment
  app/backend.dev.env
  app/backend.test.env
  app/backend/src/app.py
  app/backend/src/couchers/config.py
  app/backend/src/couchers/email/__init__.py
  app/backend/src/tests/test_api.py
  app/backend/src/tests/test_auth.py
  app/backend/src/tests/test_bug_tool.py
  app/backend/src/tests/test_conversations.py
  app/backend/src/tests/test_email.py
  app/backend/src/tests/test_fixtures.py
  app/backend/src/tests/test_media.py
  app/backend/src/tests/test_requests.py
Labels: backend, refactoring

#276 Bugfix: fix config check
  app/backend/src/app.py
  app/backend/src/couchers/config.py
Labels: backend, bug

#280 [MRG] Feature: email frontmatter
  app/backend/requirements.txt
  app/backend/src/couchers/email/__init__.py
  app/backend/src/couchers/tasks.py
  app/backend/src/tests/test_email.py
  app/backend/templates/email_base_html.html
  app/backend/templates/friend_request.md
  app/backend/templates/host_request.md
  app/backend/templates/login.md
  app/backend/templates/message_received.md
  app/backend/templates/report.md
  app/backend/templates/signup.md
Labels: backend, feature

#304 [MRG] CI: frontend artifacts
  .gitlab-ci.yml
  app/frontend/Dockerfile
  app/generate_protos.sh
  app/vue/Dockerfile
Labels: refactoring

#302 make the service layer ignorant about the rest of the front-end
  app/frontend/src/features/profile/UserInfoForm.tsx
  app/frontend/src/features/profile/actions.ts
  app/frontend/src/features/profile/index.ts
  app/frontend/src/index.tsx
  app/frontend/src/service/api.ts
  app/frontend/src/service/auth.ts
  app/frontend/src/service/index.ts
  app/frontend/src/service/search.ts
  app/frontend/src/service/user.ts
Labels: frontend

#310 Add nginx reverse proxy
  .gitlab-ci.yml
  app/.gitignore
  app/deployment/auto_deploy.py
  app/deployment/backup.sh
  app/deployment/deploy_conf.yaml
  app/deployment/deps.sh
  app/deployment/install.sh
  app/deployment/upgrade.sh
  app/docker-compose.prod.yml
  app/nginx/Dockerfile
  app/nginx/domains
  app/nginx/nginx.conf
  app/nginx/scripts/get-certs.sh
  app/nginx/scripts/run.sh
  app/nginx/sites-enabled/api.couchers.org
  app/nginx/sites-enabled/preview.coucher.org
  app/nginx/sites-enabled/user-media.coucher.org
Labels: devops

#312 Frontend env config
  .gitlab-ci.yml
  app/frontend/.env.development
  app/frontend/.env.production
Labels: frontend

#314 Disallow all crawling of preview sites
  app/nginx/sites-enabled/preview.coucher.org
Labels: devops

#315 Restart containers always
  app/docker-compose.prod.yml
Labels: devops

#321 Fix backend test running condition
  .gitlab-ci.yml
Labels: bug, devops

#327 Miscellaneous backend bugfixes
  app/backend/src/couchers/db.py
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/servicers/auth.py
  app/pb/bugs.proto
  app/vue/src/components/BugTool.vue
Labels: backend, bug

#320 Pass version env vars around to all containers
  .gitlab-ci.yml
  app/frontend/Dockerfile
  app/media/Dockerfile
  app/nginx/Dockerfile
Labels: devops

#330 Fix version string
  .gitlab-ci.yml
Labels: bug, devops, priority: low

#316 Frontend feature avatar in storybook
  app/frontend/src/components/Avatar.tsx
  app/frontend/src/components/Avatar/Avatar.stories.tsx
  app/frontend/src/components/Avatar/Avatar.tsx
  app/frontend/src/components/Avatar/index.ts
  app/frontend/src/stories/assets/funnycat.jpg
Labels: design, frontend

#337 mock the service
  app/frontend/.storybook/main.js
  app/frontend/src/__mocks__/service.ts
  app/frontend/src/service/api.ts
  app/frontend/src/service/auth.ts
  app/frontend/src/service/client.ts
  app/frontend/src/service/conversations.ts
  app/frontend/src/service/index.ts
  app/frontend/src/service/search.ts
  app/frontend/src/service/user.ts
Labels: frontend

#338 Frontend feature messages tab
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/features/messages/Messages.stories.tsx
  app/frontend/src/features/messages/Messages.tsx
  app/frontend/src/features/messages/TabBar.tsx
  app/frontend/src/features/messages/constants.ts
  app/frontend/src/features/messages/index.ts
Labels: frontend

#334 [MRG] Reject uppercase usernames
  app/backend/src/couchers/db.py
  app/backend/src/couchers/servicers/auth.py
  app/backend/src/couchers/servicers/conversations.py
  app/backend/src/couchers/servicers/sso.py
  app/backend/src/tests/test_db.py
  app/pb/auth.proto
Labels: backend, question

#339 Add a script to launch psql
  app/deployment/psql.sh
Labels: devops

#324 [MRG] Fix timezone bugs
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/api.py
  app/backend/src/couchers/servicers/conversations.py
  app/backend/src/couchers/servicers/requests.py
  app/backend/src/tests/test_api.py
  app/backend/src/tests/test_conversations.py
  app/backend/src/tests/test_fixtures.py
  app/backend/src/tests/test_requests.py
  app/pb/auth.proto
  app/pb/requests.proto
  docs/contributing.md
Labels: backend, bug

#319 Backend/bugfix: fix reply to host requests
  app/backend/src/app.py
  app/backend/src/couchers/db.py
  app/backend/src/couchers/migrations/env.py
  app/backend/src/couchers/migrations/versions/95c58503e9c0_fix_message_type_enum.py
  app/backend/src/tests/test_fixtures.py
Labels: backend, bug

#346 Fix timezone dependent tests
  app/backend/src/couchers/servicers/requests.py
  app/backend/src/couchers/utils.py
  app/backend/src/tests/test_requests.py
Labels: backend, bug

#351 delete deprecated flags
  app/frontend/package.json
Labels: frontend

#341 add a component to display a list of messages as used in a group chat…
  app/frontend/.storybook/main.js
  app/frontend/package.json
  app/frontend/src/__mocks__/service.ts
  app/frontend/src/features/messages/messagelist/Message.tsx
  app/frontend/src/features/messages/messagelist/MessageList.stories.tsx
  app/frontend/src/features/messages/messagelist/MessageList.tsx
  app/frontend/src/features/messages/messagelist/MomentIndication.tsx
  app/frontend/src/features/messages/messagelist/UserName.tsx
  app/frontend/src/stories/assets/funnydog.jpg
  app/frontend/src/stories/assets/funnykid.jpg
  app/frontend/yarn.lock
Labels: frontend

#340 [MRG] Frontend: edit hosting preferences
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/components/PageTitle.tsx
  app/frontend/src/features/auth/authSlice.ts
  app/frontend/src/features/auth/signup/CompleteSignupForm.tsx
  app/frontend/src/features/profile/EditHostingPreferencePage.tsx
  app/frontend/src/features/profile/EditProfilePage.tsx
  app/frontend/src/features/profile/HostingPreferenceForm.tsx
  app/frontend/src/features/profile/ProfileForm.tsx
  app/frontend/src/features/profile/ProfilePage.tsx
  app/frontend/src/features/profile/ProfileTextInput.tsx
  app/frontend/src/features/profile/actions.ts
  app/frontend/src/features/profile/constants.ts
  app/frontend/src/features/profile/index.ts
  app/frontend/src/service/user.ts
  app/frontend/src/utils/types.ts
  app/frontend/src/utils/validation.ts
Labels: feature, frontend

#353 [MRG] frontend chore: relax no-unused-vars ESLint check to ignore "classes"
  app/frontend/package.json
Labels: frontend

#333 Mobile Navigation Bar
  app/frontend/src/App.tsx
  app/frontend/src/components/Navigation.tsx
  app/frontend/src/components/Navigation/Navigation.stories.tsx
  app/frontend/src/components/Navigation/Navigation.tsx
  app/frontend/src/components/Navigation/index.ts
Labels: design, feature, frontend
