Repository Couchers-org/couchers, pull requests merged in 2020-12, with the labels that each got.

#311 [MRG] User profiles
  app/frontend/README.md
  app/frontend/package.json
  app/frontend/src/components/Alert.tsx
  app/frontend/src/components/Avatar/Avatar.tsx
  app/frontend/src/components/Button.tsx
  app/frontend/src/components/Icons/index.ts
  app/frontend/src/components/ScoreBar.tsx
  app/frontend/src/constants.ts
  app/frontend/src/features/auth/signup/CompleteSignupForm.tsx
  app/frontend/src/features/profile/constants.ts
  app/frontend/src/features/search/SearchResult.tsx
  app/frontend/src/features/userPage/UserAbout.tsx
  app/frontend/src/features/userPage/UserGuestbook.tsx
  app/frontend/src/features/userPage/UserHeader.tsx
  app/frontend/src/features/userPage/UserPage.tsx
  app/frontend/src/features/userPage/UserPlace.tsx
  app/frontend/src/features/userPage/UserSection.tsx
  app/frontend/src/features/userPage/UserSummary.tsx
  app/frontend/src/theme.ts
  app/frontend/src/utils/timeAgo.ts
  app/frontend/yarn.lock
Labels: design, feature, frontend

#362 [MRG] frontend chore/fix: put options back into jest config that shouldn't be removed...
  app/frontend/package.json
Labels: frontend

#271 [MRG] Jail
  app/backend/src/app.py
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/interceptors.py
  app/backend/src/couchers/migrations/versions/51398a87b2ef_add_agreed_to_tos_int_field.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/auth.py
  app/backend/src/couchers/servicers/jail.py
  app/backend/src/tests/test_auth.py
  app/backend/src/tests/test_fixtures.py
  app/backend/src/tests/test_jail.py
  app/frontend/package.json
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/components/TOS.tsx
  app/frontend/src/features/auth/authActions.ts
  app/frontend/src/features/auth/authSlice.ts
  app/frontend/src/features/auth/jail/Jail.tsx
  app/frontend/src/features/auth/jail/TOSSection.tsx
  app/frontend/src/features/auth/jail/jailActions.ts
  app/frontend/src/service/client.ts
  app/frontend/src/service/jail.ts
  app/frontend/src/service/user.ts
  app/pb/api.proto
  app/pb/auth.proto
  app/pb/bugs.proto
  app/pb/conversations.proto
  app/pb/jail.proto
  app/pb/media.proto
  app/pb/requests.proto
  app/pb/sso.proto
  app/proxy/envoy.yaml
  app/vue/src/App.vue
  app/vue/src/api.ts
  app/vue/src/router/index.ts
  app/vue/src/store/index.ts
  app/vue/src/views/CompleteLogin.vue
  app/vue/src/views/CompleteSignup.vue
  app/vue/src/views/Debug.vue
  app/vue/src/views/Login.vue
  app/vue/src/views/SSO.vue
  app/vue/src/views/TOS.vue
Labels: backend, feature, frontend-old, question

#356 Backend feature: account management
  app/backend/src/app.py
  app/backend/src/couchers/db.py
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/migrations/versions/aef55e9fa4a9_add_account_management_fields.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/account.py
  app/backend/src/couchers/servicers/auth.py
  app/backend/src/couchers/tasks.py
  app/backend/src/couchers/urls.py
  app/backend/src/tests/test_account.py
  app/backend/src/tests/test_auth.py
  app/backend/src/tests/test_fixtures.py
  app/backend/src/tests/test_jail.py
  app/backend/templates/email_changed_confirmation.md
  app/backend/templates/email_changed_notification.md
  app/backend/templates/password_changed.md
  app/backend/templates/password_reset.md
  app/frontend/src/views/TOS.vue
  app/pb/account.proto
  app/pb/auth.proto
Labels: backend, feature, priority: normal

#364 run yarn
  app/frontend/yarn.lock
Labels: frontend

#369 make the storybook service mock great again
  app/frontend/.storybook/main.js
  app/frontend/src/stories/__mocks__/service.ts
Labels: frontend

#366 Docs, backend coverage, some CI stuff, other misc
  .gitlab-ci.yml
  app/backend/.gitignore
  app/backend/pyproject.toml
  app/backend/requirements.txt
  app/deployment/psql.sh
  app/docker-compose.test.yml
  app/docker-compose.vue.yml
  app/docker-compose.yml
  app/frontend/.gitignore
  app/frontend/.travis.yml
  app/frontend/Dockerfile
  app/frontend/license.md
  app/frontend/package.json
  app/frontend/yarn.lock
  docs/architecture.md
  docs/cicd.md
  docs/contributing.md
  docs/database.md
  docs/docker.md
  foundation/cla/cla.md
  foundation/cla/cla.pdf
  foundation/contributor-guide/contributor-guide.md
  foundation/contributor-guide/contributor-guide.pdf
  license.md
  readme.md
Labels: backend, feature

#374 Frontend bugfix: password login and user signup (partially)
  app/frontend/src/features/auth/authActions.ts
  app/frontend/src/features/auth/login/Login.tsx
Labels: bug, frontend, priority: critical

#379 Refactor tokens to have 'is_valid' hybrid property
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/auth.py
  app/backend/src/couchers/servicers/media.py
Labels: backend, refactoring

#361 Profile markdown
  app/frontend/package.json
  app/frontend/src/components/Markdown.tsx
  app/frontend/src/features/profile/ProfileForm.tsx
  app/frontend/src/features/profile/ProfileMarkdownInput.tsx
  app/frontend/src/features/userPage/UserAbout.tsx
  app/frontend/src/features/userPage/UserPlace.tsx
  app/frontend/yarn.lock
Labels: feature, frontend

#376 make Date the default type to use for moments in time
  app/frontend/src/features/messages/messagelist/Message.tsx
  app/frontend/src/features/messages/surfing/HostRequestListItem.tsx
  app/frontend/src/features/userPage/UserHeader.tsx
  app/frontend/src/utils/date.ts
  app/frontend/src/utils/timeAgo.ts
Labels: frontend

#375 add delay to service mock calls from storybook
  app/frontend/src/features/messages/surfing/SurfingTab.stories.tsx
  app/frontend/src/stories/__mocks__/service.ts
Labels: frontend

#383 show spinner when awaiting onClick
  app/frontend/src/components/Button/Button.spec.tsx
  app/frontend/src/components/Button/Button.stories.tsx
  app/frontend/src/components/Button/Button.tsx
  app/frontend/src/components/Button/__snapshots__/Button.spec.tsx.snap
  app/frontend/src/components/Button/index.ts
  app/frontend/src/features/messages/messagelist/MessageList.tsx
Labels: frontend

#380 Stop passing sessions around
  app/backend/Dockerfile
  app/backend/src/app.py
  app/backend/src/couchers/config.py
  app/backend/src/couchers/db.py
  app/backend/src/couchers/servicers/account.py
  app/backend/src/couchers/servicers/api.py
  app/backend/src/couchers/servicers/auth.py
  app/backend/src/couchers/servicers/conversations.py
  app/backend/src/couchers/servicers/jail.py
  app/backend/src/couchers/servicers/media.py
  app/backend/src/couchers/servicers/requests.py
  app/backend/src/couchers/servicers/sso.py
  app/backend/src/dummy_data.py
  app/backend/src/tests/test_account.py
  app/backend/src/tests/test_api.py
  app/backend/src/tests/test_auth.py
  app/backend/src/tests/test_conversations.py
  app/backend/src/tests/test_email.py
  app/backend/src/tests/test_fixtures.py
  app/backend/src/tests/test_jail.py
  app/backend/src/tests/test_media.py
  app/backend/src/tests/test_requests.py
  app/media/Dockerfile
Labels: backend, question, refactoring

#378 Add grpc web dev tools
  app/frontend/src/service/client.ts
  app/vue/src/api.ts
Labels: feature, frontend, question

#392 Fix UpdateProfile
  app/backend/src/couchers/servicers/api.py
  app/backend/src/tests/test_api.py
Labels: backend, bug, priority: critical

#328 Error sanitization
  app/backend/src/app.py
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/interceptors.py
  app/backend/src/tests/test_interceptors.py
Labels: backend, feature

#402 Removes the 'build: nginx' line from the prod docker-compose file
  app/docker-compose.prod.yml
Labels: bug, devops

#385 add button to leave group chat
  app/frontend/src/features/messages/groupchats/CreateGroupChat.tsx
  app/frontend/src/features/messages/groupchats/GroupChatList.tsx
  app/frontend/src/features/messages/groupchats/GroupChatView.tsx
  app/frontend/src/features/messages/groupchats/GroupChatsTab.stories.tsx
  app/frontend/src/features/messages/groupchats/GroupChatsTab.tsx
  app/frontend/src/features/messages/groupchats/groupChatsActions.ts
  app/frontend/src/features/messages/groupchats/groupChatsSlice.ts
  app/frontend/src/features/messages/groupchats/index.ts
  app/frontend/src/reducers.ts
  app/frontend/src/service/conversations.ts
  app/frontend/src/stories/__mocks__/service.ts
  app/frontend/src/stories/__mocks__/store.ts
Labels: frontend

#388 Call deauthenticate during logout
  app/frontend/src/features/auth/Logout.tsx
  app/frontend/src/features/auth/authActions.ts
  app/frontend/src/features/auth/authSlice.ts
  app/frontend/src/service/user.ts
Labels: frontend

#387 Change style according to uiux meeting notes
  app/frontend/src/App.tsx
  app/frontend/src/components/Button/Button.tsx
  app/frontend/src/components/Navigation/Navigation.tsx
  app/frontend/src/components/PageTitle.tsx
  app/frontend/src/components/TextField.tsx
  app/frontend/src/features/search/SearchResult.tsx
  app/frontend/src/features/userPage/UserHeader.tsx
  app/frontend/src/features/userPage/UserSection.tsx
  app/frontend/src/theme.ts
Labels: design, frontend

#407 Meeting 12 notes
  docs/meetings/backend/Meeting 011.md
  docs/meetings/backend/Meeting 012.md
Labels: backend, docs

#395 Cookie based auth
  app/backend.dev.env
  app/backend/src/app.py
  app/backend/src/couchers/config.py
  app/backend/src/couchers/crypto.py
  app/backend/src/couchers/interceptors.py
  app/backend/src/couchers/migrations/versions/f85e551b9334_add_enhanced_session_fields.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/api.py
  app/backend/src/couchers/servicers/auth.py
  app/backend/src/couchers/utils.py
  app/backend/src/tests/test_account.py
  app/backend/src/tests/test_auth.py
  app/backend/src/tests/test_fixtures.py
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/components/Navigation/Navigation.tsx
  app/frontend/src/features/auth/Logout.tsx
  app/frontend/src/features/auth/authActions.ts
  app/frontend/src/features/auth/authSlice.ts
  app/frontend/src/features/auth/jail/Jail.tsx
  app/frontend/src/features/auth/login/Login.tsx
  app/frontend/src/features/auth/signup/Signup.tsx
  app/frontend/src/service/client.ts
  app/frontend/src/service/user.ts
  app/pb/auth.proto
  app/proxy/envoy.yaml
  app/vue/src/App.vue
  app/vue/src/api.ts
  app/vue/src/interceptor.ts
  app/vue/src/router/index.ts
  app/vue/src/store/index.ts
  app/vue/src/views/Logout.vue
Labels: backend, feature, frontend, frontend-old

#372 Frontend locations - Map with adjustable radius
  app/frontend/.env.development
  app/frontend/.env.production
  app/frontend/package.json
  app/frontend/src/components/Autocomplete.tsx
  app/frontend/src/components/EditUserLocationMap.stories.tsx
  app/frontend/src/components/EditUserLocationMap.tsx
  app/frontend/src/components/Map.stories.tsx
  app/frontend/src/components/Map.tsx
  app/frontend/src/constants.ts
  app/frontend/yarn.lock
Labels: feature, frontend

#425 Finish user location edit map (storybook)
  app/frontend/src/components/EditUserLocationMap.stories.tsx
  app/frontend/src/components/EditUserLocationMap.tsx
  app/frontend/src/components/MapSearch.tsx
  app/frontend/yarn.lock
Labels: design, feature, frontend

#424 add scripts to fill the database
  app/backend/requirements.txt
  app/backend/src/createusers.py
  app/backend/src/data/worldcities.csv
Labels: backend

#430 add two request date checks
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/servicers/requests.py
  app/backend/src/tests/test_requests.py
Labels: backend

#434 use pytest instead of py.test
  app/backend/readme.md
Labels: backend

#436 run isort on createusers
  app/backend/src/createusers.py
Labels: backend

#438 change ids to 64 bit signed in proto and model
  app/backend/src/couchers/models.py
  app/pb/api.proto
  app/pb/bugs.proto
  app/pb/requests.proto
Labels: backend

#441 add migration for id signed 64bit
  app/backend/src/couchers/migrations/versions/34cb1d27d207_change_ids_to_signed_64bit.py
Labels: backend

#443 refactor and test date validation
  app/backend/src/couchers/db.py
  app/backend/src/tests/test_db.py
Labels: backend

#444 add indexes to foreign keys
  app/backend/src/couchers/migrations/versions/8b6297128973_add_foreign_key_indexes.py
  app/backend/src/couchers/models.py
Labels: backend

#427 Implement location jail and profile edit
  app/frontend/src/components/Button/Button.tsx
  app/frontend/src/components/EditUserLocationMap.stories.tsx
  app/frontend/src/components/EditUserLocationMap.tsx
  app/frontend/src/components/Icons/index.ts
  app/frontend/src/components/MapSearch.tsx
  app/frontend/src/components/__mocks__/mapbox-gl.js
  app/frontend/src/features/auth/jail/Jail.tsx
  app/frontend/src/features/auth/jail/LocationSection.tsx
  app/frontend/src/features/auth/jail/TOSSection.tsx
  app/frontend/src/features/profile/ProfileForm.tsx
  app/frontend/src/features/profile/actions.test.ts
  app/frontend/src/features/userPage/UserSummary.tsx
  app/frontend/src/service/jail.ts
  app/frontend/src/service/user.test.ts
  app/frontend/src/service/user.ts
  app/frontend/src/test/fixtures/defaultUser.json
Labels: feature, frontend

#445 correct migration names
  app/backend/src/couchers/migrations/versions/34cb1d27d207_change_ids_to_signed_64bit.py
  app/backend/src/couchers/migrations/versions/8b6297128973_add_foreign_key_indexes.py
Labels: backend

#448 Fix profile pic email avatar
  app/backend/templates/friend_request.md
Labels: backend, bug

#449 Return OK on successful proto generation
  app/generate_protos.sh
Labels: devops

#450 Fixed empty avatar
  app/backend/src/couchers/models.py
Labels: backend, bug

#384 User map
  app/backend/src/app.py
  app/backend/src/couchers/servicers/gis.py
  app/frontend/src/components/MapSearch.tsx
  app/generate_protos.sh
  app/pb/gis.proto
  app/pb/google/api/annotations.proto
  app/pb/google/api/http.proto
  app/pb/google/api/httpbody.proto
  app/proxy/.gitignore
  app/proxy/Dockerfile
  app/proxy/envoy.yaml
  app/vue/src/api.ts
  app/vue/src/components/Drawer.vue
  app/vue/src/components/EditableLocation.vue
  app/vue/src/router/index.ts
  app/vue/src/views/Map.vue
  docs/location.md
Labels: backend, feature, frontend-old

#453 Add save buttons also on bottom of location selector
  app/vue/src/components/EditableLocation.vue
Labels: frontend-old

#459 Transform usernames to lowercase while typing
  app/vue/src/views/CompleteSignup.vue
  app/vue/src/views/Login.vue
Labels: bug, frontend-old

#442 create the model for communities
  app/backend/src/couchers/models.py
Labels: backend

#463 Remove stray vue view from react code
  app/frontend/src/views/TOS.vue
Labels: bug, frontend

#464 change two thread foreign keys to one-to-one
  app/backend/src/couchers/models.py
Labels: backend

#462 Communities dummy data
  app/.gitignore
  app/backend/.dockerignore
  app/backend/src/app.py
  app/backend/src/couchers/migrations/versions/a7ce4cb0a7f0_temp_communities.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/gis.py
  app/backend/src/couchers/utils.py
  app/backend/src/data/dummy_communities.json
  app/backend/src/data/dummy_users.json
  app/backend/src/data/osm/175905.geojson
  app/backend/src/data/osm/54224.geojson
  app/backend/src/data/osm/61320.geojson
  app/backend/src/data/osm/62149.geojson
  app/backend/src/data/osm/80500.geojson
  app/backend/src/data/osm/readme.md
  app/backend/src/dummy_data.json
  app/backend/src/dummy_data.py
  app/pb/gis.proto
  app/vue/src/views/Map.vue
Labels: backend, feature

#468 Add meeting 13 notes
  docs/meetings/backend/Meeting 013.md
Labels: backend, docs

#465 Implement a user map similar to Vue
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/components/Map.tsx
  app/frontend/src/components/Navigation/Navigation.tsx
  app/frontend/src/features/map/MapPage.tsx
  app/frontend/src/features/map/clusteredUsers.ts
Labels: feature, frontend

#469 Make session longer
  app/backend/src/couchers/models.py
  app/pb/auth.proto
Labels: backend

#474 add check for one page owner
  app/backend/src/couchers/migrations/versions/a7ce4cb0a7f0_temp_communities.py
  app/backend/src/couchers/models.py
Labels: backend

#458 Map (react) fixes
  app/frontend/src/components/EditUserLocationMap.tsx
  app/frontend/src/components/MapSearch.tsx
  app/frontend/src/features/auth/jail/LocationSection.tsx
  app/frontend/src/features/profile/ProfileForm.tsx
Labels: bug, frontend

#452 logout on unauthenticated error
  app/frontend/src/features/auth/AuthProvider.test.tsx
  app/frontend/src/features/auth/AuthProvider.tsx
  app/frontend/src/service/client.test.ts
  app/frontend/src/service/client.ts
Labels: bug, frontend

#431 Frontend: friends list with React Query
  app/frontend/.storybook/preview.js
  app/frontend/.storybook/reset.css
  app/frontend/package.json
  app/frontend/src/App.tsx
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/components/Icons/index.ts
  app/frontend/src/components/Navigation/Navigation.tsx
  app/frontend/src/components/TabBar.tsx
  app/frontend/src/features/connections/ConnectionsPage.tsx
  app/frontend/src/features/connections/friends/FriendList.stories.tsx
  app/frontend/src/features/connections/friends/FriendList.tsx
  app/frontend/src/features/connections/friends/FriendRequests.tsx
  app/frontend/src/features/connections/friends/FriendRequestsSent.tsx
  app/frontend/src/features/connections/friends/FriendsTab.tsx
  app/frontend/src/features/connections/friends/useFriendList.test.tsx
  app/frontend/src/features/connections/friends/useFriendList.ts
  app/frontend/src/features/connections/friends/useFriendsBaseStyles.ts
  app/frontend/src/features/connections/index.ts
  app/frontend/src/features/messages/Messages.tsx
  app/frontend/src/features/messages/surfing/HostRequestView.tsx
  app/frontend/src/index.tsx
  app/frontend/src/reactQueryClient.tsx
  app/frontend/src/service/__mocks__/index.ts
  app/frontend/src/test/fixtures/users.json
  app/frontend/src/test/serviceMockDefaults.ts
  app/frontend/src/test/utils.ts
  app/frontend/yarn.lock
Labels: feature, frontend

#482 Split up models.py
  app/backend/src/couchers/models/__init__.py
  app/backend/src/couchers/models/base.py
  app/backend/src/couchers/models/core.py
  app/backend/src/tests/test_models.py
Labels: backend

#405 Styling for tags in edit profile
  app/frontend/package.json
  app/frontend/src/App.tsx
  app/frontend/src/components/Icons/index.ts
  app/frontend/src/features/profile/ProfileForm.tsx
  app/frontend/src/features/profile/ProfileTagInput.stories.tsx
  app/frontend/src/features/profile/ProfileTagInput.tsx
Labels: frontend

#475 Refactor userCache to react-query
  app/frontend/package.json
  app/frontend/src/App.tsx
  app/frontend/src/components/Icons/index.ts
  app/frontend/src/constants.ts
  app/frontend/src/features/messages/groupchats/CreateGroupChat.tsx
  app/frontend/src/features/messages/messagelist/Message.tsx
  app/frontend/src/features/messages/surfing/HostRequestList.tsx
  app/frontend/src/features/messages/surfing/HostRequestListItem.tsx
  app/frontend/src/features/messages/surfing/HostRequestView.tsx
  app/frontend/src/features/userCache/constants.ts
  app/frontend/src/features/userCache/index.ts
  app/frontend/src/features/userCache/userCacheActions.ts
  app/frontend/src/features/userCache/userCacheSelectors.ts
  app/frontend/src/features/userCache/userCacheSlice.ts
  app/frontend/src/features/userCache/utils.ts
  app/frontend/src/features/userPage/UserPage.tsx
  app/frontend/src/features/userQueries/constants.ts
  app/frontend/src/features/userQueries/useUserByUsername.ts
  app/frontend/src/features/userQueries/useUsers.ts
  app/frontend/src/reactQueryClient.tsx
  app/frontend/src/reducers.ts
  app/frontend/yarn.lock
Labels: frontend, refactoring
