Repository Couchers-org/couchers, pull requests merged in 2021-04, with the labels that each got.

#812 References
  app/backend/src/app.py
  app/backend/src/couchers/db.py
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/migrations/versions/396a3f4d7c10_update_references_table.py
  app/backend/src/couchers/migrations/versions/fab13aac7ea2_change_host_request_dates_to_be_date_.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/api.py
  app/backend/src/couchers/servicers/auth.py
  app/backend/src/couchers/servicers/references.py
  app/backend/src/couchers/servicers/requests.py
  app/backend/src/couchers/tasks.py
  app/backend/src/couchers/utils.py
  app/backend/src/data/dummy_users.json
  app/backend/src/dummy_data.py
  app/backend/src/tests/test_api.py
  app/backend/src/tests/test_db.py
  app/backend/src/tests/test_fixtures.py
  app/backend/src/tests/test_references.py
  app/backend/src/tests/test_requests.py
  app/backend/templates/friend_reference.md
  app/backend/templates/host_reference.md
  app/frontend/src/features/constants.ts
  app/frontend/src/features/profile/constants.ts
  app/frontend/src/features/profile/hooks/referencesHooks.ts
  app/frontend/src/features/profile/view/ProfilePage.tsx
  app/frontend/src/features/profile/view/ReferenceList.tsx
  app/frontend/src/features/profile/view/ReferenceListItem.tsx
  app/frontend/src/features/profile/view/References.stories.tsx
  app/frontend/src/features/profile/view/References.test.tsx
  app/frontend/src/features/profile/view/References.tsx
  app/frontend/src/features/profile/view/ReferencesGivenList.tsx
  app/frontend/src/features/profile/view/ReferencesReceivedList.tsx
  app/frontend/src/features/profile/view/ReferencesView.tsx
  app/frontend/src/queryKeys.ts
  app/frontend/src/service/client.ts
  app/frontend/src/service/index.ts
  app/frontend/src/service/references.ts
  app/frontend/src/service/user.ts
  app/frontend/src/stories/__mocks__/service.ts
  app/frontend/src/test/fixtures/references.json
  app/frontend/src/utils/hasAtLeastOnePage.test.ts
  app/frontend/src/utils/hasAtLeastOnePage.ts
  app/pb/api.proto
  app/pb/auth.proto
  app/pb/references.proto
  app/pb/requests.proto
Labels: backend, feature

#886 Add meeting 20 notes
  docs/meetings/backend/Meeting 020.md
Labels: backend, docs

#909 Clean up emails for soft beta
  app/backend/src/couchers/tasks.py
  app/backend/src/tests/test_email.py
  app/backend/templates/email_base_html.html
  app/backend/templates/email_base_plain.md
  app/backend/templates/email_changed_confirmation.md
  app/backend/templates/email_changed_notification.md
  app/backend/templates/friend_reference.md
  app/backend/templates/friend_request.md
  app/backend/templates/host_reference.md
  app/backend/templates/host_request.md
  app/backend/templates/macros.html
  app/backend/templates/message_received.md
  app/backend/templates/password_changed.md
  app/backend/templates/password_reset.md
Labels: backend, priority: high

#911 Update mobile auth bg to be same as on desktop for soft beta
  app/frontend/src/features/auth/AuthPage.tsx
  app/frontend/src/features/auth/login/Login.tsx
  app/frontend/src/features/auth/resources/desktop-auth-bg.jpg
  app/frontend/src/features/auth/resources/desktop-auth-bg.png
  app/frontend/src/features/auth/resources/mobile-auth-bg.jpg
  app/frontend/src/features/auth/resources/mobile-auth-bg.png
  app/frontend/src/features/auth/useAuthStyles.ts
Labels: frontend

#917 Fix log out button to be the correct size
  app/frontend/src/components/Navigation/Navigation.tsx
Labels: frontend

#919 Switch map style from streets to light
  app/frontend/src/components/Map.tsx
Labels: frontend

#924 Add link to connections page
  app/frontend/src/features/profile/view/Overview.tsx
Labels: frontend, priority: critical

#944 Change hosting status to meetup status for meetup field
  app/frontend/src/features/profile/edit/EditProfile.tsx
Labels: frontend

#932 Frontend/feature/new favicon
  app/frontend/public/favicon.ico
  app/frontend/public/logo192.png
  app/frontend/public/logo512.png
Labels: frontend

#960 Change user route to /user, not /profile
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/components/Navigation/NavButton.tsx
  app/frontend/src/components/Navigation/Navigation.tsx
  app/frontend/src/features/profile/hooks/useUpdateUserProfile.ts
  app/frontend/src/features/profile/view/ProfilePage.test.tsx
  app/frontend/src/routes.ts
Labels: bug, frontend

#956 Add username to bug reports
  app/backend/src/couchers/servicers/bugs.py
  app/backend/src/tests/test_bugs.py
Labels: backend

#961 refactor: use colour from theme for stylesheet
  app/frontend/src/features/auth/AuthPage.tsx
  app/frontend/src/features/profile/view/About.tsx
  app/frontend/src/theme.ts
Labels: frontend, refactoring

#963 Clean up bug username format
  app/backend/src/couchers/servicers/bugs.py
  app/backend/src/tests/test_bugs.py
Labels: backend

#920 Fix off by one day bug in reference start writing time
  app/backend/src/couchers/models.py
  app/backend/src/tests/test_references.py
Labels: backend, bug

#848 tests: add test to Datepicker, change date format
  app/frontend/package.json
  app/frontend/src/components/Datepicker.test.tsx
  app/frontend/src/components/Datepicker.tsx
  app/frontend/src/components/constants.ts
  app/frontend/src/features/constants.ts
  app/frontend/yarn.lock
Labels: frontend, testing

#973 Search box
  app/frontend/src/features/search/SearchBox.tsx
Labels: frontend

#971 Remove SSO for discourse (the forum)
  app/backend/src/app.py
  app/backend/src/couchers/crypto.py
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/servicers/sso.py
  app/frontend/src/service/client.ts
  app/pb/sso.proto
Labels: backend, refactoring

#930 fix: update chat in close to real time
  app/frontend/src/features/messages/groupchats/AdminsDialog.tsx
  app/frontend/src/features/messages/groupchats/CreateGroupChat.tsx
  app/frontend/src/features/messages/groupchats/GroupChatSettingsDialog.tsx
  app/frontend/src/features/messages/groupchats/GroupChatView.test.tsx
  app/frontend/src/features/messages/groupchats/GroupChatView.tsx
  app/frontend/src/features/messages/groupchats/GroupChatsTab.tsx
  app/frontend/src/features/messages/groupchats/InviteDialog.tsx
  app/frontend/src/features/messages/groupchats/LeaveDialog.tsx
  app/frontend/src/features/messages/groupchats/constants.ts
  app/frontend/src/queryKeys.ts
Labels: bug, frontend

#989 Fix failing build due to storybook upgrade
  app/frontend/package.json
  app/frontend/yarn.lock
Labels: frontend

#906 Redirect to profile page after update hosting preference
  app/frontend/src/features/profile/edit/EditHostingPreference.test.tsx
  app/frontend/src/features/profile/hooks/useUpdateHostingPreferences.ts
Labels: frontend

#1010 Change dialog styling to use mui stuff
  app/frontend/src/components/Dialog.tsx
Labels: bug, frontend

#1014 Fix build
  app/frontend/src/features/profile/edit/EditHostingPreference.test.tsx
  app/frontend/src/features/profile/hooks/useUpdateHostingPreferences.ts
Labels: bug, frontend

#985 Location selector
  app/frontend/src/components/Autocomplete.tsx
  app/frontend/src/components/EditLocationMap.stories.tsx
  app/frontend/src/components/EditLocationMap.tsx
  app/frontend/src/components/EditUserLocationMap.stories.tsx
  app/frontend/src/components/EditUserLocationMap.tsx
  app/frontend/src/components/Map.tsx
  app/frontend/src/components/MapSearch.tsx
  app/frontend/src/components/constants.ts
  app/frontend/src/features/auth/constants.tsx
  app/frontend/src/features/auth/jail/Jail.tsx
  app/frontend/src/features/auth/jail/LocationSection.tsx
  app/frontend/src/features/auth/signup/CompleteSignupForm.tsx
  app/frontend/src/features/communities/NewGuideForm.tsx
  app/frontend/src/features/communities/NewPlaceForm.tsx
  app/frontend/src/features/constants.ts
  app/frontend/src/features/map/MapPage.tsx
  app/frontend/src/features/profile/edit/EditProfile.tsx
  app/frontend/src/service/user.ts
Labels: frontend

#1029 Fix bug where user can't erase full address
  app/frontend/src/components/EditLocationMap.tsx
Labels: bug, frontend, priority: critical

#997 Simplify bug reporter
  app/backend/src/couchers/servicers/bugs.py
  app/backend/src/tests/test_bugs.py
  app/backend/src/tests/test_fixtures.py
  app/frontend/src/components/SuccessSnackbar/SuccessSnackbar.tsx
  app/frontend/src/features/BugReport.test.tsx
  app/frontend/src/features/BugReport.tsx
  app/frontend/src/features/constants.ts
  app/frontend/src/service/bugs.ts
  app/pb/bugs.proto
Labels: frontend

#1005 Add bold to unread host/surfing request messages
  app/frontend/src/features/messages/requests/HostRequestListItem.tsx
Labels: frontend

#1033 Attempt to fix logging format
  app/backend/src/app.py
Labels: backend, bug, priority: low

#1036 Fix broken edit hosting preference test
  app/frontend/src/features/profile/edit/EditHostingPreference.test.tsx
  app/frontend/src/features/profile/edit/EditHostingPreference.tsx
  app/frontend/src/features/profile/hooks/useUpdateHostingPreferences.ts
  app/frontend/src/setupTests.ts
  app/frontend/src/utils/hooks.ts
  app/frontend/yarn.lock
Labels: frontend, testing

#1058 Add user's email to GetAccountInfo RPC
  app/backend/src/couchers/servicers/account.py
  app/backend/src/tests/test_account.py
  app/frontend/src/features/auth/email/ChangeEmail.stories.tsx
  app/frontend/src/features/auth/password/ChangePassword.stories.tsx
  app/pb/account.proto
Labels: backend

#1055 Return full image URL instead of thumbnail image
  app/backend/src/couchers/servicers/api.py
  app/backend/src/tests/test_email.py
  app/backend/templates/friend_request.md
  app/backend/templates/host_request.md
Labels: backend, bug

#1060 Migration tests pg_dump fix
  .gitlab-ci.yml
Labels: backend, devops

#1064 Update email
  app/frontend/src/features/auth/constants.tsx
Labels: frontend

#1067 Improved code coverage of auth.py
  app/backend/src/tests/test_auth.py
Labels: backend, testing

#1027 Add contributor form into app
  app/backend/src/couchers/migrations/versions/723394ace6b5_add_filled_contributor_form_to_user.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/account.py
  app/backend/src/tests/test_account.py
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/features/Contribute.tsx
  app/frontend/src/features/Home.tsx
  app/frontend/src/features/constants.ts
  app/frontend/src/features/contributorForm/ContributorForm.tsx
  app/frontend/src/features/contributorForm/constants.ts
  app/frontend/src/features/contributorForm/index.ts
  app/frontend/src/routes.ts
  app/frontend/src/service/account.ts
  app/pb/account.proto
  site/pages/signup.vue
Labels: frontend

#1059 Show current email in settings
  app/frontend/src/features/auth/constants.tsx
  app/frontend/src/features/auth/email/ChangeEmail.tsx
Labels: frontend

#1076 Fix up meta tags and clean up index page
  app/frontend/public/index.html
  app/frontend/public/robots.txt
Labels: frontend

#1080 Fix up form flashing on load if it's already been filled
  app/frontend/src/features/contributorForm/ContributorForm.tsx
  app/frontend/src/queryKeys.ts
Labels: frontend

#1083 Add meeting 21 notes
  docs/meetings/backend/Meeting 021.md
Labels: backend, docs

#1052 Reduce re-renders on edit location map
  app/frontend/src/components/EditLocationMap.tsx
  app/frontend/src/components/constants.ts
  app/frontend/src/features/profile/edit/EditProfile.tsx
Labels: frontend

#1063 Remove gender from update profile.
  app/backend/src/couchers/servicers/api.py
  app/backend/src/tests/test_api.py
  app/pb/api.proto
Labels: backend

#1099 Invalidate user when visiting their profile
  app/frontend/src/features/profile/view/ProfilePage.tsx
Labels: frontend

#1096 Add some text on recent updates on features on dashboard
  app/frontend/src/features/Home.tsx
  app/frontend/src/features/constants.ts
Labels: docs, frontend

#995 Add dev/preview banner
  app/frontend/.env.development
  app/frontend/.env.preview
  app/frontend/.env.production
  app/frontend/src/App.tsx
  app/frontend/src/components/EnvironmentBanner.tsx
  app/frontend/src/react-app-env.d.ts
  app/frontend/src/service/client.ts
Labels: frontend

#955 Friend request API change
  app/backend/src/couchers/db.py
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/api.py
  app/backend/src/couchers/servicers/conversations.py
  app/backend/src/tests/test_api.py
  app/backend/src/tests/test_fixtures.py
  app/frontend/src/features/connections/friends/AddFriendButton.test.tsx
  app/frontend/src/features/connections/friends/AddFriendButton.tsx
  app/frontend/src/features/connections/friends/FriendRequestsReceived.stories.tsx
  app/frontend/src/features/connections/friends/FriendRequestsReceived.tsx
  app/frontend/src/features/connections/friends/FriendRequestsSent.stories.tsx
  app/frontend/src/features/connections/friends/useRespondToFriendRequest.test.tsx
  app/frontend/src/features/connections/friends/useRespondToFriendRequest.ts
  app/frontend/src/features/profile/actions/FriendActions.tsx
  app/frontend/src/features/profile/actions/PendingFriendReqButton.tsx
  app/frontend/src/features/profile/constants.ts
  app/frontend/src/features/profile/view/Overview.tsx
  app/pb/api.proto
Labels: backend

#1025 replace 192 and 512 logos
  app/frontend/public/logo192.png
  app/frontend/public/logo512.png
Labels: frontend

#1118 Frontend meeting notes
  docs/meetings/frontend/2021-04-21.md
Labels: frontend

#1121 Fix broken build
  app/frontend/src/features/auth/useAuthStyles.ts
Labels: frontend

#1114 Discussions 2/?: tidied up discussion list + add new discussion form
  app/frontend/.storybook/preview.js
  app/frontend/src/features/communities/CommunityPage/DiscussionCard.stories.tsx
  app/frontend/src/features/communities/CommunityPage/DiscussionCard.tsx
  app/frontend/src/features/communities/CommunityPage/DiscussionsSection.tsx
  app/frontend/src/features/communities/constants.ts
  app/frontend/src/features/communities/discussion/CreateDiscussionForm.stories.tsx
  app/frontend/src/features/communities/discussion/CreateDiscussionForm.tsx
  app/frontend/src/features/communities/discussion/DiscussionsListPage.stories.tsx
  app/frontend/src/features/communities/discussion/DiscussionsListPage.test.tsx
  app/frontend/src/features/communities/discussion/DiscussionsListPage.tsx
  app/frontend/src/features/communities/hooks.ts
  app/frontend/src/stories/__mocks__/service.ts
  app/frontend/src/test/fixtures/community.json
  app/frontend/src/test/fixtures/discussion.json
  app/frontend/src/test/fixtures/discussions.json
  app/frontend/src/test/utils.tsx
Labels: feature, frontend

#1129 Docs/development updates
  app/frontend/src/features/Home.tsx
  app/frontend/src/features/constants.ts
  site/markdown/blog.md
  site/markdown/blog/2021/04/25/development-updates.md
Labels: docs, frontend, site

#1130 [MRG] Properly escape slugify in the migration
  app/backend/src/couchers/migrations/versions/2d656b6ad999_fix_slugify.py
  app/backend/src/tests/test_pages.py
Labels: backend

#885 [MRG] Diff schema created by models.py and migrations
  .gitlab-ci.yml
  app/backend/src/tests/slugify.sql
  app/backend/src/tests/test_db.py
  app/backend/src/tests/test_fixtures.py
Labels: backend

#1135 [MRG] Skip half of the tests now when migrations are proved equal to models
  app/backend/src/tests/test_communities.py
  app/backend/src/tests/test_fixtures.py
Labels: backend

#1103 [MRG] Moving mutual_friends to api from user model + worked on some testing
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/api.py
  app/backend/src/tests/test_api.py
  app/pb/api.proto
Labels: backend

#1126 chore: rename storybook mock file
  app/frontend/.storybook/main.js
  app/frontend/src/components/ImageInput/ImageInput.stories.tsx
  app/frontend/src/features/auth/email/ChangeEmail.stories.tsx
  app/frontend/src/features/auth/email/ConfirmChangeEmail.stories.tsx
  app/frontend/src/features/auth/password/ChangePassword.stories.tsx
  app/frontend/src/features/auth/password/CompleteResetPassword.stories.tsx
  app/frontend/src/features/auth/password/ResetPassword.stories.tsx
  app/frontend/src/features/communities/discussion/CreateDiscussionForm.stories.tsx
  app/frontend/src/features/communities/discussion/DiscussionsListPage.stories.tsx
  app/frontend/src/features/connections/friends/AddFriendButton.stories.tsx
  app/frontend/src/features/connections/friends/FriendRequestsReceived.stories.tsx
  app/frontend/src/features/connections/friends/FriendRequestsSent.stories.tsx
  app/frontend/src/features/messages/groupchats/GroupChatsTab.stories.tsx
  app/frontend/src/features/messages/requests/RequestsTab.stories.tsx
  app/frontend/src/features/profile/hooks/referencesHooks.ts
  app/frontend/src/features/profile/view/References.stories.tsx
  app/frontend/src/stories/serviceMocks.ts
Labels: frontend, testing

#1125 chore: disable environment banner in dev
  app/frontend/src/components/EnvironmentBanner.tsx
Labels: frontend

#1157 Add meeting 22 notes
  docs/meetings/backend/Meeting 022.md
Labels: backend, docs

#1146 chore: remove now redundant service mock workaround
  app/frontend/src/__mocks__/service.ts
Labels: frontend, testing

#1166 Try to fix build
  app/frontend/src/features/profile/hooks/useUpdateHostingPreferences.test.tsx
Labels: bug, frontend
