Repository Couchers-org/couchers, pull requests merged in 2021-07, with the labels that each got.

#1516 comment count break fix
  app/frontend/src/features/communities/discussions/DiscussionCard.tsx
Labels: bug, frontend

#1534 Remove unimplemented tabs
  app/frontend/src/features/communities/CommunityBase.tsx
  app/frontend/src/features/communities/CommunityPage/CommunityPage.tsx
  app/frontend/src/features/communities/CommunityPage/EventsSection.tsx
  app/frontend/src/features/communities/CommunityPage/PlacesSection.tsx
  app/frontend/src/features/communities/constants.ts
  app/frontend/src/features/communities/discussions/DiscussionsListPage.tsx
  app/frontend/src/features/communities/discussions/DiscussionsSection.tsx
  app/frontend/src/routes.ts
Labels: frontend

#1545 Remove sequential access from media
  app/media/src/media/server.py
Labels: backend, bug

#1552 Clean up bug reporter
  app/backend/src/couchers/servicers/bugs.py
  app/backend/src/tests/test_bugs.py
  app/backend/src/tests/test_fixtures.py
  app/frontend/src/features/ReportButton.test.tsx
  app/frontend/src/features/ReportButton.tsx
  app/frontend/src/service/bugs.ts
  app/proto/bugs.proto
Labels: backend, frontend

#1554 add better upload error messages
  app/docker-compose.yml
  app/frontend/src/components/ImageInput/ImageInput.test.tsx
  app/frontend/src/components/ImageInput/ImageInput.tsx
  app/frontend/src/components/constants.ts
  app/frontend/src/service/api.ts
  app/frontend/src/service/constants.ts
Labels: frontend

#1562 Update docs
  docs/architecture.md
  docs/couchers app.drawio
  docs/overview.png
  docs/uploads.md
Labels: docs

#1543 Events part 1: events section under community page
  app/frontend/.storybook/reset.css
  app/frontend/src/features/communities/CommunityPage/CommunityPage.tsx
  app/frontend/src/features/communities/CommunityPage/EventCard.stories.tsx
  app/frontend/src/features/communities/CommunityPage/EventCard.tsx
  app/frontend/src/features/communities/CommunityPage/EventsSection.tsx
  app/frontend/src/features/communities/CommunityPage/SectionTitle.tsx
  app/frontend/src/features/communities/constants.ts
  app/frontend/src/features/communities/events/EventCard.stories.tsx
  app/frontend/src/features/communities/events/EventCard.tsx
  app/frontend/src/features/communities/events/EventsSection.stories.tsx
  app/frontend/src/features/communities/events/EventsSection.test.tsx
  app/frontend/src/features/communities/events/EventsSection.tsx
  app/frontend/src/features/communities/events/eventImagePlaceholder.svg
  app/frontend/src/features/communities/events/index.ts
  app/frontend/src/features/communities/hooks.ts
  app/frontend/src/queryKeys.ts
  app/frontend/src/service/client.ts
  app/frontend/src/service/events.ts
  app/frontend/src/service/index.ts
  app/frontend/src/test/fixtures/events.json
Labels: frontend

#1564 Add tests for ListEvents
  app/backend/src/couchers/servicers/groups.py
  app/backend/src/tests/test_communities.py
  app/backend/src/tests/test_groups.py
  app/proto/groups.proto
Labels: backend, testing

#1569 Hide events section behind feature flag
  app/frontend/src/features/communities/CommunityPage/CommunityPage.tsx
Labels: frontend

#1575 Docs/chore/release notes 4july
  app/frontend/src/features/dashboard/constants.ts
  site/markdown/blog.md
  site/markdown/blog/2021/06/20/development-updates.md
  site/markdown/blog/2021/07/04/development-updates.md
Labels: docs

#1583 Enable admin APIs
  app/backend/src/couchers/server.py
Labels: backend

#1582 PyPI package
  app/client/.gitignore
  app/client/license.md
  app/client/pyproject.toml
  app/client/requirements.txt
  app/client/setup.cfg
  app/client/setup.py
  app/client/src/couchers/__init__.py
  app/client/src/couchers/client.py
  app/client/src/couchers/services.py
  app/generate_protos.sh
Labels: backend, feature

#1510 Frontend/feature/signup v2
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/components/Autocomplete.tsx
  app/frontend/src/components/ContributorForm/ContributorForm.test.tsx
  app/frontend/src/components/ContributorForm/ContributorForm.tsx
  app/frontend/src/components/ContributorForm/constants.ts
  app/frontend/src/components/Datepicker.test.tsx
  app/frontend/src/components/Datepicker.tsx
  app/frontend/src/components/TOSLink.tsx
  app/frontend/src/features/Contribute.tsx
  app/frontend/src/features/auth/constants.tsx
  app/frontend/src/features/auth/jail/TOSSection.tsx
  app/frontend/src/features/auth/signup/AccountForm.test.tsx
  app/frontend/src/features/auth/signup/AccountForm.tsx
  app/frontend/src/features/auth/signup/BasicForm.test.tsx
  app/frontend/src/features/auth/signup/BasicForm.tsx
  app/frontend/src/features/auth/signup/EmailForm.tsx
  app/frontend/src/features/auth/signup/FeedbackForm.test.tsx
  app/frontend/src/features/auth/signup/FeedbackForm.tsx
  app/frontend/src/features/auth/signup/Signup.test.tsx
  app/frontend/src/features/auth/signup/Signup.tsx
  app/frontend/src/features/auth/useAuthStore.test.ts
  app/frontend/src/features/auth/useAuthStore.ts
  app/frontend/src/features/contributorForm/ContributorForm.tsx
  app/frontend/src/features/contributorForm/constants.ts
  app/frontend/src/features/contributorForm/index.ts
  app/frontend/src/features/dashboard/Home.tsx
  app/frontend/src/features/messages/groupchats/CreateGroupChat.test.tsx
  app/frontend/src/features/messages/groupchats/GroupChatView.test.tsx
  app/frontend/src/features/profile/view/NewHostRequest.tsx
  app/frontend/src/features/profile/view/References.test.tsx
  app/frontend/src/features/search/SearchBox.test.tsx
  app/frontend/src/features/search/SearchResultsList.test.tsx
  app/frontend/src/routes.ts
  app/frontend/src/service/auth.ts
  app/frontend/src/service/client.test.ts
  app/frontend/src/service/jail.ts
  app/frontend/src/service/user.ts
  app/frontend/src/setupTests.ts
Labels: frontend

#1593 Add meeting 27 notes
  docs/meetings/backend/Meeting 027.md
Labels: docs

#1578 [MRG] Backend/refactor/filter to where
  app/backend/src/couchers/db.py
  app/backend/src/couchers/interceptors.py
  app/backend/src/couchers/jobs/handlers.py
  app/backend/src/couchers/jobs/worker.py
  app/backend/src/couchers/servicers/account.py
  app/backend/src/couchers/servicers/admin.py
  app/backend/src/couchers/servicers/api.py
  app/backend/src/couchers/servicers/auth.py
  app/backend/src/couchers/servicers/blocking.py
  app/backend/src/couchers/servicers/bugs.py
  app/backend/src/couchers/servicers/communities.py
  app/backend/src/couchers/servicers/conversations.py
  app/backend/src/couchers/servicers/discussions.py
  app/backend/src/couchers/servicers/events.py
  app/backend/src/couchers/servicers/gis.py
  app/backend/src/couchers/servicers/groups.py
  app/backend/src/couchers/servicers/jail.py
  app/backend/src/couchers/servicers/media.py
  app/backend/src/couchers/servicers/pages.py
  app/backend/src/couchers/servicers/references.py
  app/backend/src/couchers/servicers/requests.py
  app/backend/src/couchers/servicers/search.py
  app/backend/src/couchers/servicers/threads.py
  app/backend/src/couchers/sql.py
  app/backend/src/couchers/tasks.py
  app/backend/src/dummy_data.py
  app/backend/src/tests/test_account.py
  app/backend/src/tests/test_admin.py
  app/backend/src/tests/test_api.py
  app/backend/src/tests/test_auth.py
  app/backend/src/tests/test_bg_jobs.py
  app/backend/src/tests/test_blocking.py
  app/backend/src/tests/test_communities.py
  app/backend/src/tests/test_conversations.py
  app/backend/src/tests/test_fixtures.py
  app/backend/src/tests/test_media.py
  app/backend/src/tests/test_references.py
  app/backend/src/tests/test_verification.py
  app/backend/src/tests/test_visible_users.py
  docs/life-of-an-rpc.md
Labels: backend, refactoring

#1532 [MRG] Backend/refactor/emails and tokens
  app/backend/src/couchers/db.py
  app/backend/src/couchers/servicers/account.py
  app/backend/src/couchers/servicers/auth.py
  app/backend/src/couchers/tasks.py
  app/backend/src/tests/test_bg_jobs.py
  app/backend/src/tests/test_email.py
Labels: backend, refactoring

#1594 No longer need to save profile to update avatar
  app/frontend/src/components/ImageInput/ImageInput.test.tsx
  app/frontend/src/components/ImageInput/ImageInput.tsx
  app/frontend/src/features/profile/edit/EditProfile.tsx
  app/frontend/src/service/user.ts
Labels: frontend

#1601 invalidate profile after changing avatar
  app/frontend/src/features/auth/useAuthStore.ts
  app/frontend/src/features/connections/friends/AddFriendButton.tsx
  app/frontend/src/features/connections/friends/useCancelFriendRequest.ts
  app/frontend/src/features/connections/friends/useFriendList.ts
  app/frontend/src/features/connections/friends/useRespondToFriendRequest.ts
  app/frontend/src/features/profile/edit/EditProfile.tsx
  app/frontend/src/features/profile/hooks/useUpdateHostingPreferences.ts
  app/frontend/src/features/profile/hooks/useUpdateUserProfile.ts
  app/frontend/src/features/userQueries/useUserByUsername.test.tsx
  app/frontend/src/features/userQueries/useUserByUsername.ts
  app/frontend/src/features/userQueries/useUsers.test.tsx
  app/frontend/src/features/userQueries/useUsers.ts
  app/frontend/src/queryKeys.ts
Labels: frontend

#1596 Implement more admin APIs for moderation
  app/backend/src/couchers/query.py
  app/backend/src/couchers/servicers/admin.py
  app/backend/src/tests/test_admin.py
  app/proto/admin.proto
Labels: backend

#1604 Request ordering fix
  app/backend/src/couchers/servicers/requests.py
  app/backend/src/tests/test_requests.py
Labels: backend, bug

#1324 Signup flow v2
  app/backend/src/couchers/constants.py
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/jobs/definitions.py
  app/backend/src/couchers/jobs/handlers.py
  app/backend/src/couchers/migrations/versions/62fcd41e4dcd_implement_signup_flow_v2.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/account.py
  app/backend/src/couchers/servicers/auth.py
  app/backend/src/couchers/tasks.py
  app/backend/src/couchers/urls.py
  app/backend/src/tests/test_auth.py
  app/backend/src/tests/test_bg_jobs.py
  app/backend/src/tests/test_email.py
  app/backend/src/tests/test_interceptors.py
  app/backend/templates/signup_continue.md
  app/backend/templates/signup_verify.md
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/components/Autocomplete.tsx
  app/frontend/src/components/ContributorForm/ContributorForm.test.tsx
  app/frontend/src/components/ContributorForm/ContributorForm.tsx
  app/frontend/src/components/ContributorForm/constants.ts
  app/frontend/src/components/ContributorForm/index.ts
  app/frontend/src/components/Datepicker.test.tsx
  app/frontend/src/components/Datepicker.tsx
  app/frontend/src/components/TOSLink.tsx
  app/frontend/src/features/Contribute.tsx
  app/frontend/src/features/auth/constants.tsx
  app/frontend/src/features/auth/jail/TOSSection.tsx
  app/frontend/src/features/auth/login/LoginForm.tsx
  app/frontend/src/features/auth/login/constants.ts
  app/frontend/src/features/auth/signup/AccountForm.test.tsx
  app/frontend/src/features/auth/signup/AccountForm.tsx
  app/frontend/src/features/auth/signup/BasicForm.test.tsx
  app/frontend/src/features/auth/signup/BasicForm.tsx
  app/frontend/src/features/auth/signup/CompleteSignupForm.tsx
  app/frontend/src/features/auth/signup/EmailForm.tsx
  app/frontend/src/features/auth/signup/FeedbackForm.test.tsx
  app/frontend/src/features/auth/signup/FeedbackForm.tsx
  app/frontend/src/features/auth/signup/Signup.test.tsx
  app/frontend/src/features/auth/signup/Signup.tsx
  app/frontend/src/features/auth/useAuthStore.test.ts
  app/frontend/src/features/auth/useAuthStore.ts
  app/frontend/src/features/contributorForm/ContributorForm.tsx
  app/frontend/src/features/dashboard/Home.tsx
  app/frontend/src/features/messages/groupchats/CreateGroupChat.test.tsx
  app/frontend/src/features/messages/groupchats/GroupChatView.test.tsx
  app/frontend/src/features/profile/view/NewHostRequest.tsx
  app/frontend/src/features/profile/view/References.test.tsx
  app/frontend/src/features/search/SearchBox.test.tsx
  app/frontend/src/features/search/SearchResultsList.test.tsx
  app/frontend/src/routes.ts
  app/frontend/src/service/auth.ts
  app/frontend/src/service/client.test.ts
  app/frontend/src/service/index.ts
  app/frontend/src/service/jail.ts
  app/frontend/src/service/user.ts
  app/frontend/src/setupTests.ts
  app/frontend/src/utils/validation.ts
  app/proto/auth.proto
Labels: backend, feature, frontend

#1556 [MRG] SQLA 14 migration continued
  app/backend/src/couchers/db.py
  app/backend/src/couchers/interceptors.py
  app/backend/src/couchers/jobs/handlers.py
  app/backend/src/couchers/jobs/worker.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/query.py
  app/backend/src/couchers/resources.py
  app/backend/src/couchers/servicers/account.py
  app/backend/src/couchers/servicers/admin.py
  app/backend/src/couchers/servicers/api.py
  app/backend/src/couchers/servicers/auth.py
  app/backend/src/couchers/servicers/blocking.py
  app/backend/src/couchers/servicers/bugs.py
  app/backend/src/couchers/servicers/communities.py
  app/backend/src/couchers/servicers/conversations.py
  app/backend/src/couchers/servicers/discussions.py
  app/backend/src/couchers/servicers/events.py
  app/backend/src/couchers/servicers/gis.py
  app/backend/src/couchers/servicers/groups.py
  app/backend/src/couchers/servicers/jail.py
  app/backend/src/couchers/servicers/media.py
  app/backend/src/couchers/servicers/pages.py
  app/backend/src/couchers/servicers/references.py
  app/backend/src/couchers/servicers/requests.py
  app/backend/src/couchers/servicers/search.py
  app/backend/src/couchers/servicers/threads.py
  app/backend/src/couchers/sql.py
  app/backend/src/couchers/tasks.py
  app/backend/src/dummy_data.py
  app/backend/src/tests/test_account.py
  app/backend/src/tests/test_admin.py
  app/backend/src/tests/test_api.py
  app/backend/src/tests/test_auth.py
  app/backend/src/tests/test_bg_jobs.py
  app/backend/src/tests/test_blocking.py
  app/backend/src/tests/test_communities.py
  app/backend/src/tests/test_conversations.py
  app/backend/src/tests/test_db.py
  app/backend/src/tests/test_fixtures.py
  app/backend/src/tests/test_interceptors.py
  app/backend/src/tests/test_media.py
  app/backend/src/tests/test_references.py
  app/backend/src/tests/test_verification.py
  app/backend/src/tests/test_visible_users.py
  app/proto/references.proto
  docs/life-of-an-rpc.md
Labels: backend, refactoring

#1620 Fix ListEventAttendees
  app/backend/src/couchers/servicers/events.py
  app/backend/src/tests/test_events.py
Labels: backend, bug, priority: high

#1621 Add a way to skip CI checks and run only build & release
  .gitlab-ci.yml
  app/.gitlab-ci.yml
Labels: devops, feature, priority: low

#1006 Donations
  app/backend.dev.env
  app/backend/requirements.txt
  app/backend/src/couchers/config.py
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/migrations/versions/e6d03b494119_add_donation_tables.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/server.py
  app/backend/src/couchers/servicers/donations.py
  app/backend/src/couchers/tasks.py
  app/backend/src/couchers/urls.py
  app/backend/src/tests/test_donations.py
  app/backend/src/tests/test_fixtures.py
  app/backend/templates/donation_received.md
  app/frontend/.env.development
  app/frontend/.env.preview
  app/frontend/.env.production
  app/frontend/package.json
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/features/donations/DonationPage.tsx
  app/frontend/src/routes.ts
  app/frontend/src/service/client.ts
  app/frontend/src/service/donations.ts
  app/frontend/src/service/index.ts
  app/frontend/yarn.lock
  app/proto/donations.proto
  app/proto/stripe.proto
  app/proxy/envoy.yaml
Labels: backend, feature, priority: high

#1632 [WIP] Sort regions alphabetically
  app/backend/src/couchers/models.py
  app/backend/src/tests/test_api.py
  app/backend/src/tests/test_fixtures.py
Labels: backend, priority: normal

#1631 [MRG] Add DeleteAccount to backend
  app/backend/src/couchers/servicers/account.py
  app/backend/src/tests/test_account.py
Labels: backend, feature

#1643 Create 2021-07-14.md
  docs/meetings/frontend/2021-07-14.md
Labels: frontend

#1647 Clarify account completion a bit more and format
  app/frontend/src/features/auth/signup/AccountForm.test.tsx
  app/frontend/src/features/auth/signup/AccountForm.tsx
  app/frontend/src/features/dashboard/constants.ts
Labels: frontend

#1648 Add username into account settings screen
  app/backend/src/couchers/servicers/account.py
  app/backend/src/tests/test_account.py
  app/frontend/src/features/auth/Settings.tsx
  app/frontend/src/features/auth/constants.tsx
  app/frontend/src/features/auth/email/ChangeEmail.stories.tsx
  app/frontend/src/features/auth/email/ChangeEmail.test.tsx
  app/frontend/src/features/auth/password/ChangePassword.stories.tsx
  app/frontend/src/features/auth/password/ChangePassword.test.tsx
  app/frontend/src/features/auth/username/Username.tsx
  app/proto/account.proto
Labels: backend, feature, frontend

#1584 Events part 2: page for a single, particular event
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/components/HeaderButton.tsx
  app/frontend/src/components/Icons/Icons.stories.mdx
  app/frontend/src/components/Icons/index.ts
  app/frontend/src/components/UserSummary.stories.tsx
  app/frontend/src/components/UserSummary.tsx
  app/frontend/src/features/communities/CommunityPage/CommunityPage.tsx
  app/frontend/src/features/communities/constants.ts
  app/frontend/src/features/communities/discussions/DiscussionCard.tsx
  app/frontend/src/features/communities/events/EventAttendees.test.tsx
  app/frontend/src/features/communities/events/EventAttendees.tsx
  app/frontend/src/features/communities/events/EventAttendeesDialog.tsx
  app/frontend/src/features/communities/events/EventCard.stories.tsx
  app/frontend/src/features/communities/events/EventCard.test.tsx
  app/frontend/src/features/communities/events/EventCard.tsx
  app/frontend/src/features/communities/events/EventOrganisers.test.tsx
  app/frontend/src/features/communities/events/EventOrganisers.tsx
  app/frontend/src/features/communities/events/EventOrganisersDialog.tsx
  app/frontend/src/features/communities/events/EventPage.test.tsx
  app/frontend/src/features/communities/events/EventPage.tsx
  app/frontend/src/features/communities/events/EventUsers.stories.tsx
  app/frontend/src/features/communities/events/EventUsers.test.tsx
  app/frontend/src/features/communities/events/EventUsers.tsx
  app/frontend/src/features/communities/events/EventsSection.stories.tsx
  app/frontend/src/features/communities/events/EventsSection.test.tsx
  app/frontend/src/features/communities/events/constants.ts
  app/frontend/src/features/communities/events/hooks.ts
  app/frontend/src/features/communities/events/index.ts
  app/frontend/src/features/communities/getContentSummary.ts
  app/frontend/src/features/communities/hooks.ts
  app/frontend/src/features/constants.ts
  app/frontend/src/features/userQueries/useUsers.test.tsx
  app/frontend/src/features/userQueries/useUsers.ts
  app/frontend/src/queryKeys.ts
  app/frontend/src/routes.ts
  app/frontend/src/service/events.ts
  app/frontend/src/test/fixtures/events.json
  app/frontend/src/test/fixtures/users.json
  app/frontend/src/test/serviceMockDefaults.ts
Labels: frontend

#1655 Add missing flag
  app/backend/src/couchers/db.py
Labels: backend, bug, priority: normal

#1672 Add frontend label and Darren as a reviewer on dependabot PRs
  .github/dependabot.yml
Labels: devops, frontend

#1622 Add user to right communities on signup
  app/backend/src/couchers/servicers/auth.py
  app/backend/src/couchers/tasks.py
  app/backend/src/tests/test_auth.py
  app/backend/src/tests/test_communities.py
Labels: backend, feature

#1679 Add meeting 28 notes
  docs/meetings/backend/Meeting 028.md
Labels: backend, docs

#1687 API keys
  app/backend/src/couchers/interceptors.py
  app/backend/src/couchers/migrations/versions/61b4c6b2df72_add_api_keys.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/admin.py
  app/backend/src/couchers/servicers/auth.py
  app/backend/src/couchers/tasks.py
  app/backend/src/couchers/utils.py
  app/backend/src/tests/test_admin.py
  app/backend/src/tests/test_email.py
  app/backend/src/tests/test_fixtures.py
  app/backend/src/tests/test_interceptors.py
  app/backend/templates/api_key.md
  app/client/src/couchers/client.py
  app/proto/admin.proto
Labels: backend, feature

#1619 Add functionality to see and set a user's birthdate in the admin API
  app/backend/src/couchers/servicers/admin.py
  app/backend/src/tests/test_admin.py
  app/backend/src/tests/test_fixtures.py
  app/backend/src/tests/test_interceptors.py
  app/proto/admin.proto
Labels: backend, feature

#1691 Make stripe_payment_intent_id unique in invoices table
  app/backend/src/couchers/migrations/versions/e938e80b67a4_make_stripe_payment_intent_id_unique_in_.py
  app/backend/src/couchers/models.py
Labels: backend, bug

#1696 Fix the "server closed the connection unexpectedly" error
  app/backend/src/couchers/db.py
Labels: backend, bug

#1686 Pull community guidelines from backend
  app/backend/resources/community_guidelines.json
  app/backend/resources/icons/ghost.svg
  app/backend/resources/icons/hand_with_heart.svg
  app/backend/resources/icons/handshake.svg
  app/backend/resources/icons/shield.svg
  app/backend/src/couchers/resources.py
  app/backend/src/couchers/servicers/resources.py
  app/backend/src/tests/test_resources.py
  app/frontend/src/components/CommunityGuidelines/CommunityGuidelines.tsx
  app/frontend/src/components/CommunityGuidelines/constants.ts
  app/frontend/src/queryKeys.ts
  app/frontend/src/service/resources.ts
  app/proto/resources.proto
Labels: backend, feature, frontend

#1693 Move friends connection to top of existing friends component
  app/frontend/src/features/connections/friends/FriendsTab.tsx
Labels: frontend

#1603 Allow couchers images in markdown and add image upload
  app/frontend/.env.development
  app/frontend/.env.preview
  app/frontend/.env.production
  app/frontend/src/components/Dialog.tsx
  app/frontend/src/components/ImageInput/ImageInput.tsx
  app/frontend/src/components/Markdown.test.tsx
  app/frontend/src/components/Markdown.tsx
  app/frontend/src/components/MarkdownInput.tsx
  app/frontend/src/features/communities/CommunityInfoPage.tsx
  app/frontend/src/features/communities/EditCommunityInfoPage.tsx
  app/frontend/src/features/communities/UploadImageDialogButton.tsx
  app/frontend/src/features/communities/constants.ts
  app/frontend/src/react-app-env.d.ts
Labels: frontend

#1698 Fix frontend tests on develop and various mui deprications
  app/frontend/src/components/Comments/NewComment.tsx
  app/frontend/src/components/ContributorForm/ContributorForm.tsx
  app/frontend/src/features/ReportButton.tsx
  app/frontend/src/features/auth/signup/CommunityGuidelinesForm.test.tsx
  app/frontend/src/features/auth/signup/Signup.test.tsx
  app/frontend/src/features/messages/groupchats/GroupChatSendField.tsx
  app/frontend/src/features/messages/requests/HostRequestSendField.tsx
  app/frontend/src/features/profile/ProfileTagInput.tsx
  app/frontend/src/features/profile/actions/ReportUserDialog.tsx
  app/frontend/src/features/profile/edit/EditHostingPreference.tsx
  app/frontend/src/features/profile/edit/EditProfilePage.tsx
  app/frontend/src/features/profile/view/NewHostRequest.tsx
  app/frontend/src/features/profile/view/leaveReference/formSteps/Text.tsx
  app/frontend/src/stories/serviceMocks.ts
  app/frontend/src/theme.ts
Labels: frontend

#1704 Fix text not wrapping if text had no spaces, such as link with url, CSS
  app/frontend/src/components/Markdown.tsx
Labels: frontend

#1633 Renaming HostRequest to_user --> host and from_user --> surfer
  app/backend/src/couchers/jobs/handlers.py
  app/backend/src/couchers/migrations/versions/d1a68f873ee3_rename_hostrequest_user_columns.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/api.py
  app/backend/src/couchers/servicers/references.py
  app/backend/src/couchers/servicers/requests.py
  app/backend/src/couchers/tasks.py
  app/backend/src/tests/test_bg_jobs.py
  app/backend/src/tests/test_email.py
  app/backend/src/tests/test_references.py
  app/backend/src/tests/test_requests.py
  app/backend/templates/host_request.md
  app/backend/templates/host_request_accepted_guest.md
  app/backend/templates/host_request_cancelled_host.md
  app/backend/templates/host_request_confirmed_host.md
  app/backend/templates/host_request_rejected_guest.md
  app/backend/templates/unseen_message_guest.md
  app/backend/templates/unseen_message_host.md
  app/frontend/src/features/messages/requests/HostRequestListItem.tsx
  app/frontend/src/features/messages/requests/HostRequestSendField.tsx
  app/frontend/src/features/messages/requests/HostRequestView.tsx
  app/frontend/src/features/messages/requests/RequestsTab.stories.tsx
  app/frontend/src/features/profile/view/NewHostRequest.tsx
  app/frontend/src/service/requests.ts
  app/frontend/src/test/fixtures/hostRequest.json
  app/frontend/src/test/serviceMockDefaults.ts
  app/proto/requests.proto
Labels: backend, frontend, refactoring

#1702 Fix deprecation notice in navigation drawer
  app/frontend/src/components/Navigation/Navigation.tsx
  app/frontend/src/features/auth/useAuthStyles.ts
Labels: frontend

#1701 Move event MVP stuff out of feature flag
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/features/communities/CommunityPage/CommunityPage.tsx
Labels: frontend, priority: critical

#1707 Fix: wrapping of discussion comment + clearing input when user submits comment
  app/frontend/src/components/Markdown.tsx
  app/frontend/src/components/MarkdownInput.tsx
  app/frontend/src/features/communities/discussions/Comment.tsx
  app/frontend/src/features/communities/discussions/CommentForm.tsx
  app/frontend/src/features/communities/discussions/CommentTree.tsx
Labels: frontend, release notes

#1703 Events part 3: events listing page/tab
  app/frontend/src/components/Avatar/Avatar.tsx
  app/frontend/src/features/communities/CommunityPage/CommunityPage.tsx
  app/frontend/src/features/communities/CommunityPage/InfoPageSection.tsx
  app/frontend/src/features/communities/CommunityPage/PlacesSection.tsx
  app/frontend/src/features/communities/CommunityPage/SectionTitle.stories.tsx
  app/frontend/src/features/communities/CommunityPage/TitleWithIcon.stories.tsx
  app/frontend/src/features/communities/CommunityPage/TitleWithIcon.tsx
  app/frontend/src/features/communities/CommunityPage/index.ts
  app/frontend/src/features/communities/constants.ts
  app/frontend/src/features/communities/events/EventAttendees.tsx
  app/frontend/src/features/communities/events/EventOrganisers.tsx
  app/frontend/src/features/communities/events/EventsList.stories.tsx
  app/frontend/src/features/communities/events/EventsList.test.tsx
  app/frontend/src/features/communities/events/EventsList.tsx
  app/frontend/src/features/communities/events/EventsSection.test.tsx
  app/frontend/src/features/communities/events/EventsSection.tsx
  app/frontend/src/features/communities/events/LongEventCard.stories.tsx
  app/frontend/src/features/communities/events/LongEventCard.test.tsx
  app/frontend/src/features/communities/events/LongEventCard.tsx
  app/frontend/src/features/communities/events/constants.ts
  app/frontend/src/features/communities/events/hooks.ts
  app/frontend/src/features/communities/hooks.ts
  app/frontend/src/features/constants.ts
  app/frontend/src/queryKeys.ts
  app/frontend/src/test/fixtures/events.json
  app/frontend/src/test/fixtures/users.json
Labels: frontend

#1709 fix: lowercases usernames/emails before sending to backend
  app/frontend/src/features/auth/constants.tsx
  app/frontend/src/features/auth/email/ChangeEmail.test.tsx
  app/frontend/src/features/auth/email/ChangeEmail.tsx
  app/frontend/src/features/auth/signup/AccountForm.test.tsx
  app/frontend/src/features/auth/signup/AccountForm.tsx
  app/frontend/src/utils/validation.ts
Labels: frontend, release notes

#1700 Image upload button in TUI Editor
  app/frontend/package.json
  app/frontend/src/components/Markdown.test.tsx
  app/frontend/src/components/Markdown.tsx
  app/frontend/src/components/MarkdownInput/MarkdownInput.stories.tsx
  app/frontend/src/components/MarkdownInput/MarkdownInput.test.tsx
  app/frontend/src/components/MarkdownInput/MarkdownInput.tsx
  app/frontend/src/components/MarkdownInput/UploadImage.tsx
  app/frontend/src/components/MarkdownInput/__mocks__/MarkdownInput.tsx
  app/frontend/src/components/MarkdownInput/__mocks__/index.ts
  app/frontend/src/components/MarkdownInput/constants.ts
  app/frontend/src/components/MarkdownInput/index.ts
  app/frontend/src/features/communities/CommunityInfoPage.test.tsx
  app/frontend/src/features/communities/EditCommunityInfoPage.tsx
  app/frontend/src/features/communities/UploadImageDialogButton.tsx
  app/frontend/src/features/communities/constants.ts
  app/frontend/src/toast-ui-viewer.d.ts
  app/frontend/src/utils/escapeRegExp.ts
  app/frontend/yarn.lock
Labels: frontend, release notes

#1712 Clean up emails
  app/backend/templates/api_key.md
  app/backend/templates/contributor_form.md
  app/backend/templates/donation_received.md
  app/backend/templates/email_changed_confirmation_new_email.md
  app/backend/templates/email_changed_confirmation_old_email.md
  app/backend/templates/email_changed_notification.md
  app/backend/templates/friend_reference.md
  app/backend/templates/friend_request.md
  app/backend/templates/host_reference.md
  app/backend/templates/host_request.md
  app/backend/templates/host_request_accepted_guest.md
  app/backend/templates/host_request_cancelled_host.md
  app/backend/templates/host_request_confirmed_host.md
  app/backend/templates/host_request_rejected_guest.md
  app/backend/templates/login.md
  app/backend/templates/macros.html
  app/backend/templates/onboarding1.md
  app/backend/templates/onboarding2.md
  app/backend/templates/password_changed.md
  app/backend/templates/password_reset.md
  app/backend/templates/reference_reminder.md
  app/backend/templates/signup_continue.md
  app/backend/templates/signup_verify.md
  app/backend/templates/unseen_message_guest.md
  app/backend/templates/unseen_message_host.md
  app/backend/templates/unseen_messages.md
Labels: backend

#1735 Meeting 2021-07-28
  docs/meetings/frontend/2021-07-28.md
Labels: frontend

#1741 Fix event threads
  app/backend/src/couchers/servicers/communities.py
  app/backend/src/couchers/servicers/events.py
  app/backend/src/couchers/servicers/groups.py
  app/backend/src/couchers/servicers/search.py
  app/backend/src/tests/test_discussions.py
  app/backend/src/tests/test_events.py
  app/backend/src/tests/test_fixtures.py
  app/backend/src/tests/test_threads.py
  app/proto/events.proto
Labels: backend, bug

#1742 Add JSON transcoding to signup RPC
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/tasks.py
  app/generate_protos.sh
  app/proto/auth.proto
  app/proxy/envoy.yaml
Labels: backend, devops, feature

#1745 Landing page signup
  site/layouts/default.vue
  site/pages/index.vue
Labels: feature, release notes, site
