Repository Couchers-org/couchers, pull requests merged in 2021-12, with the labels that each got.

#2209 Update readme.md
  app/readme.md
Labels: docs

#2210 Web meeting notes 2021/21/01
  docs/meetings/web/2021-12-01.md
Labels: docs

#2227 Disable postgres statement logging in local dev
  app/docker-compose.yml
  app/readme.md
Labels: backend

#2224 Make it possible to write references if the host request wasn't confirmed by surfer
  app/backend/src/couchers/models.py
  app/backend/src/tests/test_references.py
Labels: backend, improvement

#2236 Hotfix: Treat empty string as missing for translations + fix donation amount formatting
  app/web/src/features/donations/DonationsBox.tsx
  app/web/src/i18n/index.ts
Labels: web

#2264 Add vercel preview cors
  app/proxy/envoy.yaml
Labels: devops

#2262 Comma-separated countries lists in About
  app/web/src/features/constants.ts
  app/web/src/features/profile/view/About.test.tsx
  app/web/src/features/profile/view/About.tsx
Labels: web, improvement

#2273 fix: format issues that's failing Prettier on CI + headers with a back button breaking globally across the app
  app/web/src/components/PageTitle.tsx
  app/web/src/features/profile/ProfileTagInput.tsx
Labels: bug, web

#2282 Release notes dec31
  app/web/src/features/dashboard/constants.ts
  site/markdown/blog/2021/08/01/development-updates.md
  site/markdown/blog/2021/08/15/development-updates.md
  site/markdown/blog/2021/08/29/development-updates.md
  site/markdown/blog/2021/09/26/development-updates.md
  site/markdown/blog/2021/10/10/development-updates.md
  site/markdown/blog/2021/12/31/development-updates.md
Labels: docs, web

#2034 Client build improvements
  app/client/README.md
  app/client/setup.py
  app/client/src/couchers/__init__.py
  app/client/src/couchers/client.py
  app/client/src/couchers/version
  app/generate_protos.sh
Labels: bug, backend
