Repository Couchers-org/couchers, pull requests merged in 2021-06, with the labels that each got.

#1337 Backend/bug/tracing interceptor tests
  .gitignore
  app/backend/requirements.txt
  app/backend/src/couchers/interceptors.py
  app/backend/src/tests/test_interceptors.py
Labels: backend

#1341 Update upstream dependencies
  .gitlab-ci.yml
  app/deployment/backup.sh
  app/deployment/psql.sh
  app/docker-compose.prod.yml
  app/docker-compose.test.yml
  app/docker-compose.yml
  app/nginx/Dockerfile
  app/proxy/Dockerfile
Labels: devops

#1343 Update Envoy config to v3 from v2
  app/nginx/sites-enabled/api.conf
  app/proxy/envoy.yaml
Labels: devops

#926 Regions and languages
  app/backend/Dockerfile
  app/backend/readme.md
  app/backend/resources/languages.json
  app/backend/resources/readme.md
  app/backend/resources/regions.json
  app/backend/resources/timezone_areas.sql-fake
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/migrations/versions/3b8d963e0b7d_regions_and_languages.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/resources.py
  app/backend/src/couchers/servicers/api.py
  app/backend/src/couchers/servicers/resources.py
  app/backend/src/data/dummy_users.json
  app/backend/src/dummy_data.py
  app/backend/src/tests/test_api.py
  app/backend/src/tests/test_fixtures.py
  app/backend/src/tests/test_resources.py
  app/frontend/src/features/auth/email/ChangeEmail.tsx
  app/frontend/src/features/communities/discussions/DiscussionPage.test.tsx
  app/frontend/src/features/profile/ProfileTagInput.tsx
  app/frontend/src/features/profile/edit/EditProfile.tsx
  app/frontend/src/features/profile/edit/EditProfilePage.test.tsx
  app/frontend/src/features/profile/hooks/useLanguages.ts
  app/frontend/src/features/profile/hooks/useRegions.ts
  app/frontend/src/features/profile/hooks/useUpdateUserProfile.test.ts
  app/frontend/src/features/profile/view/About.test.tsx
  app/frontend/src/features/profile/view/About.tsx
  app/frontend/src/features/profile/view/ProfilePage.test.tsx
  app/frontend/src/features/user/UserAbout.tsx
  app/frontend/src/features/user/UserSummary.tsx
  app/frontend/src/features/user/UserTextAndLabel.tsx
  app/frontend/src/queryKeys.ts
  app/frontend/src/service/resources.ts
  app/frontend/src/service/user.test.ts
  app/frontend/src/service/user.ts
  app/frontend/src/test/fixtures/defaultUser.json
  app/frontend/src/test/fixtures/users.json
  app/frontend/src/test/serviceMockDefaults.ts
  app/pb/api.proto
  app/pb/resources.proto
Labels: feature, frontend, priority: critical

#1353 [WIP] Combining into one ConfirmChangeEmail
  app/backend/src/couchers/servicers/auth.py
  app/backend/src/couchers/tasks.py
  app/backend/src/couchers/urls.py
  app/backend/src/tests/test_account.py
  app/backend/src/tests/test_email.py
  app/pb/auth.proto
Labels: backend

#1350 Backend/feature/prometheus poc
  .gitignore
  .gitlab-ci.yml
  app/backend/requirements.txt
  app/backend/src/app.py
  app/backend/src/couchers/interceptors.py
  app/backend/src/couchers/jobs/worker.py
  app/backend/src/couchers/metrics.py
  app/backend/src/tests/test_bg_jobs.py
  app/backend/src/tests/test_interceptors.py
  app/docker-compose.prod.yml
  app/prometheus/Dockerfile
  app/prometheus/entrypoint.sh
  app/prometheus/prometheus.yml
  app/prometheus/readme.md
Labels: backend

#1290 Change profile medium screens
  app/frontend/src/components/Avatar/Avatar.tsx
  app/frontend/src/components/Bar/BarWithHelp.tsx
  app/frontend/src/components/Bar/ScoreBar.tsx
  app/frontend/src/components/Divider.tsx
  app/frontend/src/components/Navigation/Navigation.tsx
  app/frontend/src/features/profile/view/About.tsx
  app/frontend/src/features/profile/view/Home.tsx
  app/frontend/src/features/profile/view/Overview.tsx
  app/frontend/src/features/profile/view/ProfilePage.tsx
  app/frontend/src/features/profile/view/UserOverview.tsx
  app/frontend/src/features/user/UserCard.tsx
Labels: frontend

#1333 Feature/frontend/communities tab
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/components/Dialog.tsx
  app/frontend/src/features/Home.tsx
  app/frontend/src/features/communities/hooks.ts
  app/frontend/src/features/constants.ts
  app/frontend/src/features/contributorForm/ContributorForm.tsx
  app/frontend/src/features/contributorForm/constants.ts
  app/frontend/src/features/dashboard/CommunitiesList.stories.tsx
  app/frontend/src/features/dashboard/CommunitiesList.tsx
  app/frontend/src/features/dashboard/Home.tsx
  app/frontend/src/features/dashboard/constants.ts
  app/frontend/src/features/userQueries/useUserCommunities.ts
  app/frontend/src/queryKeys.ts
  app/frontend/src/service/communities.ts
Labels: frontend

#1371 Update contributor guide
  app/frontend/.github/ISSUE_TEMPLATE/bug_report.md
  app/frontend/CODE_OF_CONDUCT.md
  app/frontend/CONTRIBUTING.md
  app/frontend/README.md
  foundation/contributor-guide/contributor-guide.md
  foundation/contributor-guide/contributor-guide.pdf
  readme.md
  site/static/robots.txt
Labels: docs

#1351 Backend/feature/1035 setup sentry be
  app/backend.dev.env
  app/backend/requirements.txt
  app/backend/src/app.py
  app/backend/src/couchers/config.py
  app/backend/src/couchers/interceptors.py
  app/backend/src/couchers/jobs/worker.py
Labels: backend

#1369 Sync profile styles
  app/frontend/src/features/profile/view/ProfilePage.tsx
  app/frontend/src/features/profile/view/UserPage.tsx
  app/frontend/src/features/user/UserCard.tsx
Labels: frontend

#1370 Fix email rendering
  app/backend/requirements.txt
  app/backend/src/couchers/email/__init__.py
  app/backend/templates/email_base_html.html
  app/backend/templates/email_base_plain.md
  app/backend/templates/email_changed_confirmation.md
  app/backend/templates/email_changed_notification.md
  app/backend/templates/friend_reference.md
  app/backend/templates/friend_request.md
  app/backend/templates/host_reference.md
  app/backend/templates/host_request.md
  app/backend/templates/host_request_accepted_guest.md
  app/backend/templates/host_request_cancelled_host.md
  app/backend/templates/host_request_confirmed_host.md
  app/backend/templates/host_request_rejected_guest.md
  app/backend/templates/login.md
  app/backend/templates/macros.html
  app/backend/templates/onboarding1.md
  app/backend/templates/onboarding2.md
  app/backend/templates/password_changed.md
  app/backend/templates/password_reset.md
  app/backend/templates/report.md
  app/backend/templates/signup.md
  app/backend/templates/unseen_message_guest.md
  app/backend/templates/unseen_message_host.md
  app/backend/templates/unseen_messages.md
Labels: backend

#1293 Search testing
  app/frontend/src/components/Autocomplete.tsx
  app/frontend/src/components/__mocks__/maplibre-gl.js
  app/frontend/src/features/search/FilterDialog.stories.tsx
  app/frontend/src/features/search/FilterDialog.test.tsx
  app/frontend/src/features/search/FilterDialog.tsx
  app/frontend/src/features/search/LocationAutocomplete/LocationAutocomplete.test.tsx
  app/frontend/src/features/search/LocationAutocomplete/LocationAutocomplete.tsx
  app/frontend/src/features/search/SearchBox.stories.tsx
  app/frontend/src/features/search/SearchBox.test.tsx
  app/frontend/src/features/search/SearchBox.tsx
  app/frontend/src/features/search/SearchPage.tsx
  app/frontend/src/features/search/SearchResultsList.test.tsx
  app/frontend/src/features/search/SearchResultsList.tsx
  app/frontend/src/features/search/useSearchFilters.ts
  app/frontend/src/setupTests.ts
  app/frontend/src/utils/hooks.test.ts
  app/frontend/src/utils/hooks.ts
Labels: frontend, testing

#1362 [WIP/MRG] Backend/feat/no password second email confirmation added test
  app/backend/src/couchers/servicers/auth.py
  app/backend/src/tests/test_account.py
Labels: backend, testing

#1368 Make search results new-tabbable
  app/frontend/src/components/Icons/Icons.stories.mdx
  app/frontend/src/components/Icons/index.ts
  app/frontend/src/components/UserSummary.tsx
  app/frontend/src/features/search/SearchPage.tsx
  app/frontend/src/features/search/SearchResult.tsx
  app/frontend/src/features/search/SearchResultsList.tsx
  app/frontend/src/features/search/constants.ts
Labels: frontend

#1375 Change dashboard titles
  app/frontend/src/features/contributorForm/constants.ts
  app/frontend/src/features/dashboard/constants.ts
Labels: frontend

#1387 Fix password changed email and add a regression test
  app/backend/src/tests/test_account.py
  app/backend/templates/password_changed.md
Labels: backend, bug, priority: critical

#1382 Fixing my previous documentation changes
  app/backend/readme.md
  docs/database.md
Labels: backend

#1332 Refactor map layout
  app/frontend/src/components/HorizontalScroller.tsx
  app/frontend/src/components/Map.tsx
  app/frontend/src/components/UserSummary.tsx
  app/frontend/src/features/communities/CommunityPage/CommunityPage.tsx
  app/frontend/src/features/search/SearchBox.tsx
  app/frontend/src/features/search/SearchPage.tsx
  app/frontend/src/features/search/SearchResult.tsx
  app/frontend/src/features/search/SearchResultsList.tsx
  app/frontend/src/index.css
  app/frontend/src/theme.ts
  app/frontend/src/utils/hooks.ts
Labels: frontend

#1394 [MRG] Adapted test I previously wrote to Aapeli's notification processor
  app/backend/src/tests/test_bg_jobs.py
Labels: backend, testing

#1363 Community info page
  app/frontend/src/components/Icons/Icons.stories.mdx
  app/frontend/src/components/Icons/index.ts
  app/frontend/src/components/Markdown.tsx
  app/frontend/src/features/communities/CommunityBase.tsx
  app/frontend/src/features/communities/CommunityInfoPage.stories.tsx
  app/frontend/src/features/communities/CommunityInfoPage.test.tsx
  app/frontend/src/features/communities/CommunityInfoPage.tsx
  app/frontend/src/features/communities/CommunityModeratorsDialog.tsx
  app/frontend/src/features/communities/CommunityModeratorsSection.tsx
  app/frontend/src/features/communities/CommunityPage/CommunityPage.tsx
  app/frontend/src/features/communities/CommunityPage/EventsSection.tsx
  app/frontend/src/features/communities/CommunityPage/InfoPageSection.tsx
  app/frontend/src/features/communities/CommunityPage/SectionTitle.tsx
  app/frontend/src/features/communities/constants.ts
  app/frontend/src/features/communities/discussions/DiscussionCard.tsx
  app/frontend/src/features/communities/discussions/DiscussionsSection.tsx
  app/frontend/src/features/communities/getContentSummary.ts
  app/frontend/src/features/communities/hooks.ts
  app/frontend/src/queryKeys.ts
  app/frontend/src/routes.ts
  app/frontend/src/service/communities.ts
  app/frontend/src/test/serviceMockDefaults.ts
  app/frontend/src/test/utils.tsx
  app/frontend/src/theme.ts
Labels: feature, frontend

#1361 Cleanup for community v1
  app/frontend/src/components/Button/Button.tsx
  app/frontend/src/components/Snackbar/Snackbar.stories.tsx
  app/frontend/src/components/Snackbar/Snackbar.tsx
  app/frontend/src/components/Snackbar/index.ts
  app/frontend/src/components/SuccessSnackbar/SuccessSnackbar.stories.tsx
  app/frontend/src/components/SuccessSnackbar/SuccessSnackbar.tsx
  app/frontend/src/components/SuccessSnackbar/index.ts
  app/frontend/src/features/BugReport.tsx
  app/frontend/src/features/communities/CommunityBase.tsx
  app/frontend/src/features/communities/CommunityPage/CommunityPage.tsx
  app/frontend/src/features/communities/CommunityPage/JoinCommunityButton.stories.tsx
  app/frontend/src/features/communities/CommunityPage/JoinCommunityButton.test.tsx
  app/frontend/src/features/communities/CommunityPage/JoinCommunityButton.tsx
  app/frontend/src/features/communities/CommunityPage/PlacesSection.tsx
  app/frontend/src/features/communities/constants.ts
  app/frontend/src/features/profile/actions/ReportUserDialog.tsx
  app/frontend/src/features/profile/view/UserPage.tsx
  app/frontend/src/features/search/useSearchFilters.ts
  app/frontend/src/queryKeys.ts
  app/frontend/src/routes.ts
Labels: frontend

#1397 Use relative imports in protocol definitions
  app/generate_protos.sh
  app/proto/account.proto
  app/proto/auth.proto
  app/proto/communities.proto
  app/proto/discussions.proto
  app/proto/gis.proto
  app/proto/google/api/annotations.proto
  app/proto/groups.proto
  app/proto/pages.proto
  app/proto/requests.proto
  app/proto/search.proto
Labels: backend

#1391 Update community info page
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/components/Button/Button.tsx
  app/frontend/src/components/MarkdownInput.tsx
  app/frontend/src/features/communities/CommunityBase.tsx
  app/frontend/src/features/communities/CommunityInfoPage.test.tsx
  app/frontend/src/features/communities/CommunityInfoPage.tsx
  app/frontend/src/features/communities/CommunityPage/CommunityPage.tsx
  app/frontend/src/features/communities/CommunityPage/InfoPageSection.tsx
  app/frontend/src/features/communities/EditCommunityInfoPage.stories.tsx
  app/frontend/src/features/communities/EditCommunityInfoPage.test.tsx
  app/frontend/src/features/communities/EditCommunityInfoPage.tsx
  app/frontend/src/features/communities/constants.ts
  app/frontend/src/features/communities/discussions/DiscussionPage.stories.tsx
  app/frontend/src/features/communities/discussions/DiscussionsSection.tsx
  app/frontend/src/features/constants.ts
  app/frontend/src/routes.ts
  app/frontend/src/service/pages.ts
  app/frontend/src/test/fixtures/community.json
Labels: frontend

#1404 Add search button to LocationAutocomplete
  app/frontend/src/components/Autocomplete.tsx
  app/frontend/src/features/search/LocationAutocomplete/LocationAutocomplete.test.tsx
  app/frontend/src/features/search/LocationAutocomplete/LocationAutocomplete.tsx
  app/frontend/src/features/search/constants.ts
  app/frontend/src/service/user.ts
Labels: frontend

#1418 Fix google/api/... imports
  app/generate_protos.sh
Labels: backend, bug

#1421 Fix "display location" instructive text not moving when autofilled
  app/frontend/src/components/EditLocationMap.test.tsx
  app/frontend/src/components/EditLocationMap.tsx
Labels: frontend

#1433 Fix slider click not setting value
  app/frontend/src/components/RatingsSlider/RatingsSlider.tsx
  app/frontend/src/features/profile/view/leaveReference/formSteps/Rating.tsx
Labels: frontend

#1417 Put score bars behind verification feature flag
  app/frontend/.env.development
  app/frontend/.env.preview
  app/frontend/src/components/UserSummary.tsx
  app/frontend/src/features/profile/view/UserOverview.tsx
  app/frontend/src/features/user/UserHeader.tsx
  app/frontend/src/react-app-env.d.ts
  app/frontend/src/theme.ts
Labels: frontend

#1408 Map refinement
  app/frontend/src/components/EditLocationMap.tsx
  app/frontend/src/components/Map.tsx
  app/frontend/src/components/constants.ts
  app/frontend/src/features/search/SearchBox.test.tsx
  app/frontend/src/features/search/SearchBox.tsx
  app/frontend/src/features/search/SearchPage.tsx
  app/frontend/src/features/search/SearchResult.tsx
  app/frontend/src/features/search/SearchResultsList.test.tsx
  app/frontend/src/features/search/SearchResultsList.tsx
  app/frontend/src/features/search/constants.ts
  app/frontend/src/features/search/resources/userPin.png
  app/frontend/src/features/search/useSearchFilters.ts
  app/frontend/src/features/search/users.ts
Labels: frontend

#1436 Add mobile dev meeting notes
  docs/meetings/mobile/Meeting 001.md
Labels: docs

#1434 Adding autoflake to the project
  .github/pull_request_template.md
  app/backend/requirements.txt
  app/backend/src/couchers/crypto.py
  app/backend/src/couchers/db.py
  app/backend/src/couchers/jobs/worker.py
  app/backend/src/couchers/migrations/versions/128252798bc4_add_new_email_pattern_constraint.py
  app/backend/src/couchers/migrations/versions/2c6aaada8bff_add_onboarding_email_fields_to_user.py
  app/backend/src/couchers/migrations/versions/2d656b6ad999_fix_slugify.py
  app/backend/src/couchers/migrations/versions/584f70c6a0d4_add_host_request_message_bg_job.py
  app/backend/src/couchers/migrations/versions/723394ace6b5_add_filled_contributor_form_to_user.py
  app/backend/src/couchers/migrations/versions/763e0bd674a5_add_user_removed.py
  app/backend/src/couchers/migrations/versions/80d30951919d_phone_verifications.py
  app/backend/src/couchers/migrations/versions/87cfd4c70e1e_adding_is_deleted_and_userblocks.py
  app/backend/src/couchers/migrations/versions/a3700d2af277_add_call_traces.py
  app/backend/src/couchers/migrations/versions/bf12729fa8eb_sms_verification_constraints.py
  app/backend/src/couchers/migrations/versions/d3cee8207c3d_enforce_community_membership_background_.py
  app/backend/src/couchers/servicers/auth.py
  app/backend/src/couchers/servicers/blocking.py
  app/backend/src/couchers/servicers/communities.py
  app/backend/src/couchers/servicers/conversations.py
  app/backend/src/couchers/servicers/discussions.py
  app/backend/src/couchers/servicers/events.py
  app/backend/src/couchers/servicers/groups.py
  app/backend/src/couchers/servicers/jail.py
  app/backend/src/couchers/servicers/pages.py
  app/backend/src/couchers/servicers/references.py
  app/backend/src/couchers/servicers/requests.py
  app/backend/src/couchers/servicers/search.py
  app/backend/src/couchers/tasks.py
  app/backend/src/couchers/utils.py
  app/backend/src/dummy_data.py
  app/backend/src/tests/test_account.py
  app/backend/src/tests/test_api.py
  app/backend/src/tests/test_auth.py
  app/backend/src/tests/test_bg_jobs.py
  app/backend/src/tests/test_blocking.py
  app/backend/src/tests/test_bugs.py
  app/backend/src/tests/test_communities.py
  app/backend/src/tests/test_conversations.py
  app/backend/src/tests/test_db.py
  app/backend/src/tests/test_discussions.py
  app/backend/src/tests/test_dummy_data.py
  app/backend/src/tests/test_email.py
  app/backend/src/tests/test_events.py
  app/backend/src/tests/test_fixtures.py
  app/backend/src/tests/test_gis.py
  app/backend/src/tests/test_groups.py
  app/backend/src/tests/test_interceptors.py
  app/backend/src/tests/test_jail.py
  app/backend/src/tests/test_media.py
  app/backend/src/tests/test_pages.py
  app/backend/src/tests/test_references.py
  app/backend/src/tests/test_requests.py
  app/backend/src/tests/test_resources.py
  app/backend/src/tests/test_search.py
  app/backend/src/tests/test_threads.py
  app/backend/src/tests/test_verification.py
  app/backend/src/tests/test_visible_users.py
  docs/contributing.md
  docs/database.md
Labels: backend, devops, docs, feature, priority: low, refactoring, testing

#1373 Implement auth interceptor using protobuf options
  app/.gitignore
  app/backend/src/app.py
  app/backend/src/couchers/descriptor_pool.py
  app/backend/src/couchers/interceptors.py
  app/backend/src/couchers/server.py
  app/backend/src/couchers/servicers/auth.py
  app/backend/src/tests/test_app.py
  app/backend/src/tests/test_fixtures.py
  app/generate_protos.sh
  app/proto/account.proto
  app/proto/annotations.proto
  app/proto/api.proto
  app/proto/auth.proto
  app/proto/blocking.proto
  app/proto/bugs.proto
  app/proto/communities.proto
  app/proto/conversations.proto
  app/proto/discussions.proto
  app/proto/events.proto
  app/proto/gis.proto
  app/proto/groups.proto
  app/proto/jail.proto
  app/proto/pages.proto
  app/proto/references.proto
  app/proto/requests.proto
  app/proto/resources.proto
  app/proto/search.proto
  app/proto/threads.proto
  app/proxy/.gitignore
  app/proxy/Dockerfile
  app/proxy/envoy.yaml
Labels: backend, feature, question, refactoring

#1440 fix: display line breaks in reference text
  app/frontend/src/features/profile/view/ReferenceListItem.tsx
  app/frontend/src/features/profile/view/References.tsx
  app/frontend/src/features/profile/view/leaveReference/ReferenceForm.tsx
  app/frontend/src/features/profile/view/leaveReference/formSteps/submit/ReferenceOverview.tsx
Labels: frontend

#1442 Create 2021-06-16.md
  docs/meetings/frontend/2021-06-16.md
Labels: frontend

#1437 Backend/feature/add full user info to report
  app/backend/src/tests/test_email.py
  app/backend/templates/report.md
Labels: backend, feature

#1445 Bugfix: leave communities
  app/backend/src/couchers/servicers/communities.py
  app/backend/src/couchers/servicers/groups.py
  app/backend/src/tests/test_communities.py
  app/backend/src/tests/test_groups.py
Labels: backend, bug

#1443 Release communities
  app/frontend/.env.development
  app/frontend/.env.preview
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/components/ErrorFallback/ErrorFallback.tsx
  app/frontend/src/components/Navigation/Navigation.tsx
  app/frontend/src/features/BugReport.tsx
  app/frontend/src/features/ReportButton.test.tsx
  app/frontend/src/features/ReportButton.tsx
  app/frontend/src/features/constants.ts
  app/frontend/src/features/dashboard/Home.tsx
  app/frontend/src/features/search/SearchPage.tsx
  app/frontend/src/react-app-env.d.ts
  app/frontend/src/service/bugs.ts
Labels: frontend

#1468 Add release notes
  app/frontend/src/features/dashboard/Home.tsx
  app/frontend/src/features/dashboard/constants.ts
  site/markdown/blog.md
  site/markdown/blog/2021/06/06/development-updates.md
  site/markdown/blog/2021/06/20/development-updates.md
Labels: docs

#1453 Frontend/bugfix/datepicker tz
  app/frontend/package.json
  app/frontend/src/components/Datepicker.test.tsx
  app/frontend/src/components/Datepicker.tsx
  app/frontend/src/features/auth/signup/CompleteSignupForm.tsx
  app/frontend/src/features/communities/discussions/DiscussionPage.test.tsx
  app/frontend/src/features/profile/view/NewHostRequest.tsx
  app/frontend/src/features/profile/view/UserPage.tsx
  app/frontend/src/features/user/UserCard.stories.tsx
  app/frontend/src/service/requests.ts
  app/frontend/src/utils/date.test.ts
  app/frontend/src/utils/date.ts
  app/frontend/yarn.lock
Labels: frontend

#1486 Add meeting 26 notes
  docs/meetings/backend/Meeting 026.md
Labels: backend, docs

#1484 Frontend/feature/email confirmation
  app/backend/src/couchers/servicers/auth.py
  app/backend/src/tests/test_account.py
  app/frontend/src/features/auth/constants.tsx
  app/frontend/src/features/auth/email/ConfirmChangeEmail.stories.tsx
  app/frontend/src/features/auth/email/ConfirmChangeEmail.test.tsx
  app/frontend/src/features/auth/email/ConfirmChangeEmail.tsx
  app/frontend/src/service/account.ts
  app/proto/auth.proto
Labels: frontend

#1488 Frontend/feature/town hall on dashboard
  app/frontend/src/features/dashboard/Home.tsx
  app/frontend/src/features/dashboard/constants.ts
Labels: frontend

#1491 Fix email confirmation tests
  app/frontend/src/features/auth/email/ConfirmChangeEmail.test.tsx
Labels: bug, frontend

#1454 Password change messages
  app/frontend/src/AppRoute.tsx
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/features/auth/constants.tsx
  app/frontend/src/features/auth/password/ChangePassword.test.tsx
  app/frontend/src/features/auth/password/ChangePassword.tsx
  app/frontend/src/features/auth/password/CompleteResetPassword.test.tsx
  app/frontend/src/features/auth/password/CompleteResetPassword.tsx
Labels: frontend

#1494 Devops/deployment script
  app/.gitignore
  app/deploy.sh
Labels: devops

#1498 Use Ubuntu font in CAA
  foundation/caa/caa.md
  foundation/caa/caa.pdf
Labels: docs

#1496 Rename Search tab to Map Search
  app/frontend/src/components/Navigation/Navigation.tsx
  app/frontend/src/constants.ts
Labels: frontend

#1497 Fix notification count
  app/frontend/src/components/Navigation/Navigation.tsx
Labels: bug, frontend

#1500 Fix gender change label
  app/frontend/src/features/auth/constants.tsx
Labels: frontend

#1507 Move api_calls to a different schema and don't back it up
  app/backend/src/couchers/migrations/versions/45e7e0254963_move_api_calls_to_logging_schema.py
  app/backend/src/couchers/models.py
  app/backend/src/tests/test_fixtures.py
  app/deployment/backup.sh
Labels: backend, devops

#1218 Events part 2
  app/backend/src/couchers/servicers/communities.py
  app/backend/src/couchers/servicers/events.py
  app/backend/src/couchers/servicers/groups.py
  app/backend/src/couchers/servicers/search.py
  app/backend/src/tests/test_events.py
  app/proto/communities.proto
  app/proto/events.proto
  app/proto/groups.proto
  app/proto/search.proto
Labels: backend, feature

#1493 paragraphs in messages
  app/frontend/src/features/messages/messagelist/MessageView.tsx
Labels: bug, frontend

#1514 fix default headings persisting
  app/frontend/src/features/profile/edit/EditHostingPreference.tsx
  app/frontend/src/features/profile/edit/EditProfile.tsx
Labels: frontend

#1513 Move timezone label and text to overview
  app/frontend/src/features/profile/view/UserOverview.tsx
  app/frontend/src/features/search/SearchResult.tsx
  app/frontend/src/features/user/UserTextAndLabel.tsx
Labels: frontend

#1528 [MRG] Adding fake context to test filters independently of api calls
  app/backend/src/tests/test_visible_users.py
Labels: backend, refactoring, testing

#1531 [MRG] Add missing imports
  app/backend/src/couchers/servicers/communities.py
  app/backend/src/couchers/servicers/groups.py
Labels: backend, bug

#1537 Fix broken imports for ListEvents
  app/backend/src/couchers/servicers/communities.py
  app/proto/communities.proto
Labels: backend

#1536 [MRG] Backend/refactoring/removing leftover visibility testing
  app/backend/src/tests/test_communities.py
Labels: backend, refactoring, testing

#1517 Coarsen last active to an hour and display appropriate text in frontend
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/search.py
  app/backend/src/couchers/utils.py
  app/backend/src/tests/test_models.py
  app/frontend/src/features/communities/discussions/Comment.tsx
  app/frontend/src/features/communities/discussions/DiscussionCard.tsx
  app/frontend/src/features/profile/constants.ts
  app/frontend/src/features/profile/view/leaveReference/formSteps/Appropriate.tsx
  app/frontend/src/features/user/UserTextAndLabel.tsx
  app/frontend/src/utils/timeAgo.test.ts
  app/frontend/src/utils/timeAgo.ts
Labels: backend, frontend

#1533 [MRG] Create test_model_constraints.py and pull out two existing constraint tests
  app/backend/src/tests/test_communities.py
  app/backend/src/tests/test_model_constraints.py
  app/backend/src/tests/test_pages.py
Labels: backend, refactoring

#1538 Meeting 2021-06-30.md
  docs/meetings/frontend/2021-06-30.md
Labels: frontend

#1540 Fix GetAccountInfo bug
  app/backend/src/couchers/models.py
  app/backend/src/tests/test_account.py
Labels: backend, bug, priority: critical

#1541 Update message when map is not supported on a user's browser
  app/frontend/src/components/constants.ts
Labels: frontend
