Repository Couchers-org/couchers, pull requests merged in 2021-10, with the labels that each got.

#2026 Show events from user communities on dashboard
  app/backend/src/couchers/servicers/events.py
  app/backend/src/tests/test_events.py
  app/proto/events.proto
  app/web/src/features/communities/events/EventCard.tsx
  app/web/src/features/dashboard/Home.tsx
  app/web/src/features/dashboard/MyEvents.stories.tsx
  app/web/src/features/dashboard/MyEvents.test.tsx
  app/web/src/features/dashboard/MyEvents.tsx
  app/web/src/features/dashboard/constants.ts
  app/web/src/queryKeys.ts
  app/web/src/service/events.ts
  app/web/src/test/utils.tsx
Labels: backend, web, release notes: pending

#2038 Web - #2014 - change close button to icon button
  app/web/src/components/Dialog.tsx
  app/web/src/features/dashboard/CommunitiesDialog.tsx
  app/web/src/features/dashboard/Home.tsx
Labels: refactoring, priority: normal, web

#2050 Add bottom padding to container
  app/web/src/AppRoute.tsx
Labels: priority: low, web

#2068 Support/handbook
  site/layouts/default.vue
  site/markdown/handbook.md
Labels: docs

#2067 Meeting 2021-10-08
  docs/meetings/web/2021-10-08.md
Labels: web

#1965 Implement react snap
  app/web/Dockerfile
  app/web/package.json
  app/web/src/AppRoute.tsx
  app/web/src/AppRoutes.tsx
  app/web/src/components/AuthHeader/AuthHeader.tsx
  app/web/src/features/auth/AuthPage.tsx
  app/web/src/features/auth/login/Login.tsx
  app/web/src/features/auth/login/LoginForm.tsx
  app/web/src/features/auth/signup/Signup.tsx
  app/web/src/features/auth/useAuthStyles.ts
  app/web/src/index.tsx
  app/web/yarn.lock
Labels: web, release notes: pending

#2088 Merge site stuff to develop
  app/web/src/features/dashboard/constants.ts
  docs/meetings/web-meeting.ics
  site/layouts/default.vue
  site/markdown/blog.md
  site/markdown/blog/2021/07/28/talk-of-the-town.md
  site/markdown/blog/2021/08/25/talk-of-the-town.md
  site/markdown/blog/2021/09/29/talk-of-the-town.md
  site/markdown/blog/2021/10/10/development-updates.md
  site/markdown/blog/2021/10/13/talk-of-the-town.md
  site/markdown/contributors/new-developer.md
  site/markdown/handbook.md
  site/pages/_.vue
  site/pages/index.vue
  site/pages/team.vue
  site/redirects
Labels: site

#2090 Allow messaging anybody
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/servicers/conversations.py
  app/backend/src/tests/test_conversations.py
  app/web/src/features/messages/constants.ts
  app/web/src/features/messages/messagelist/MessageView.tsx
  app/web/src/features/profile/actions/FriendActions.tsx
  app/web/src/features/profile/actions/MessageUserButton.test.tsx
  app/web/src/features/profile/actions/MessageUserButton.tsx
  app/web/src/features/profile/view/Overview.tsx
  docs/content_ref.md
Labels: backend, web, release notes: pending, improvement

#2087 Add meeting 34 notes
  docs/meetings/backend/Meeting 034.md
Labels: docs

#2091 Add next.couchershq.org web frontend deployment to CI
  app/.gitlab-ci.yml
Labels: devops

#2095 Fix x-content-type headers
  app/proxy/envoy.yaml
Labels: devops

#1909 Initial setup for mobile app
  .gitignore
  app/.gitlab-ci.yml
  app/mobile/src/.expo-shared/assets.json
  app/mobile/src/.gitignore
  app/mobile/src/.prettierignore
  app/mobile/src/App.tsx
  app/mobile/src/Dockerfile
  app/mobile/src/README.md
  app/mobile/src/__mocks__/globalMock.js
  app/mobile/src/app.config.ts
  app/mobile/src/app.json
  app/mobile/src/assets/adaptive-icon.png
  app/mobile/src/assets/favicon.png
  app/mobile/src/assets/icon.png
  app/mobile/src/assets/landing-bg.png
  app/mobile/src/assets/splash.png
  app/mobile/src/babel.config.js
  app/mobile/src/components/LandingScreen.test.tsx
  app/mobile/src/components/LandingScreen.tsx
  app/mobile/src/components/atoms/LargeButton.test.tsx
  app/mobile/src/components/atoms/LargeButton.tsx
  app/mobile/src/constants/colorPalette.js
  app/mobile/src/package.json
  app/mobile/src/storybook/addons.js
  app/mobile/src/storybook/index.js
  app/mobile/src/storybook/rn-addons.js
  app/mobile/src/storybook/stories/CenterView/index.tsx
  app/mobile/src/storybook/stories/LargeButton/LargeButton.stories.tsx
  app/mobile/src/storybook/stories/index.tsx
  app/mobile/src/tsconfig.json
  app/mobile/src/types/images.d.ts
  app/mobile/src/yarn.lock
Labels: mobile app

#2098 Enable Gitpod prebuilds in all branches
  .gitpod.yml
Labels: devops
