Repository Couchers-org/couchers, pull requests merged in 2021-05, with the labels that each got.

#1168 Update group message preview when new messages arrive
  app/frontend/src/features/messages/groupchats/GroupChatsTab.tsx
Labels: bug, frontend

#1145 [MRG] Removing mutual friends from user proto message
  app/backend/src/couchers/servicers/api.py
  app/backend/src/tests/test_api.py
  app/pb/api.proto
Labels: backend

#1169 Create pull_request_template.md
  .github/pull_request_template.md
Labels: docs

#1128 Backend/bug/coordinate wrapping
  app/backend/src/couchers/migrations/versions/f4a49acd8801_coordinate_wrapping_for_users_events_.py
  app/backend/src/couchers/utils.py
  app/backend/src/tests/test_api.py
  app/backend/src/tests/test_db.py
Labels: backend

#987 Search Redesign
  app/frontend/package.json
  app/frontend/src/AppRoute.tsx
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/components/Bar/ScoreBar.tsx
  app/frontend/src/components/HorizontalScroller.stories.tsx
  app/frontend/src/components/HorizontalScroller.tsx
  app/frontend/src/components/Navigation/Navigation.tsx
  app/frontend/src/components/UserSummary.tsx
  app/frontend/src/features/map/MapPage.tsx
  app/frontend/src/features/map/clusteredUsers.ts
  app/frontend/src/features/map/constants.ts
  app/frontend/src/features/profile/constants.ts
  app/frontend/src/features/search/SearchBox.tsx
  app/frontend/src/features/search/SearchPage.tsx
  app/frontend/src/features/search/SearchResult.tsx
  app/frontend/src/features/search/SearchResultsList.tsx
  app/frontend/src/features/search/communities.ts
  app/frontend/src/features/search/constants.ts
  app/frontend/src/features/search/guides.ts
  app/frontend/src/features/search/places.ts
  app/frontend/src/features/search/resources/userPin.png
  app/frontend/src/features/search/users.ts
  app/frontend/src/queryKeys.ts
  app/frontend/src/routes.ts
  app/frontend/src/service/search.ts
  app/frontend/yarn.lock
Labels: frontend

#1179 Fix search in area
  app/backend/src/couchers/servicers/search.py
  app/backend/src/tests/test_search.py
Labels: backend, bug

#1185 ToS RPC
  app/backend/resources/terms_of_service.md
  app/backend/src/app.py
  app/backend/src/couchers/servicers/resources.py
  app/backend/src/tests/test_fixtures.py
  app/backend/src/tests/test_resources.py
  app/pb/resources.proto
Labels: backend, feature

#1189 Route org.couchers.resources into the open servicer in envoy
  app/proxy/envoy.yaml
Labels: bug, devops

#1188 Fix docker-compose restart policy
  app/docker-compose.test.yml
  app/docker-compose.yml
Labels: bug, devops

#1181 Make profile card go full width on mobile screens
  app/frontend/src/AppRoute.tsx
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/features/profile/view/ProfilePage.tsx
  app/frontend/src/features/search/SearchPage.tsx
Labels: feature, frontend

#1192 Clean up onboarding emails to use urls.py
  app/backend/src/couchers/jobs/handlers.py
  app/backend/src/couchers/servicers/auth.py
  app/backend/src/couchers/tasks.py
  app/backend/src/couchers/urls.py
  app/backend/templates/onboarding1.md
  app/backend/templates/onboarding2.md
  app/frontend/src/routes.ts
Labels: backend

#1196 Regions and languages v2
  app/backend/resources/languages.json
  app/backend/resources/regions.json
  app/backend/src/couchers/languages.py
  app/backend/src/couchers/regions.py
  app/backend/src/couchers/resources.py
  app/backend/src/couchers/servicers/api.py
  app/backend/src/couchers/servicers/resources.py
  app/backend/src/tests/test_resources.py
  app/pb/resources.proto
Labels: backend

#1195 Pass number of responses along whenever we return a thread_id
  app/backend/src/couchers/servicers/discussions.py
  app/backend/src/couchers/servicers/groups.py
  app/backend/src/couchers/servicers/pages.py
  app/backend/src/couchers/servicers/threads.py
  app/backend/src/tests/test_communities.py
  app/backend/src/tests/test_groups.py
  app/backend/src/tests/test_pages.py
  app/backend/src/tests/test_threads.py
  app/frontend/src/features/communities/CommunityPage/DiscussionsSection.tsx
  app/frontend/src/features/communities/GroupPage.tsx
  app/frontend/src/features/communities/PagePage.tsx
  app/frontend/src/features/communities/discussion/DiscussionPage.tsx
  app/frontend/src/features/communities/discussion/DiscussionsListPage.test.tsx
  app/frontend/src/features/communities/discussion/DiscussionsListPage.tsx
  app/frontend/src/test/fixtures/discussions.json
  app/pb/discussions.proto
  app/pb/pages.proto
  app/pb/search.proto
  app/pb/threads.proto
Labels: backend, feature

#1198 Idea for CouchersQuery
  app/backend/src/couchers/db.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/query.py
  app/backend/src/couchers/servicers/communities.py
  app/backend/src/couchers/servicers/groups.py
Labels: backend, question

#1190 User deletion and blocking
  app/backend/requirements.txt
  app/backend/src/app.py
  app/backend/src/couchers/db.py
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/jobs/handlers.py
  app/backend/src/couchers/migrations/versions/87cfd4c70e1e_adding_is_deleted_and_userblocks.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/query.py
  app/backend/src/couchers/servicers/account.py
  app/backend/src/couchers/servicers/api.py
  app/backend/src/couchers/servicers/auth.py
  app/backend/src/couchers/servicers/blocking.py
  app/backend/src/couchers/servicers/communities.py
  app/backend/src/couchers/servicers/conversations.py
  app/backend/src/couchers/servicers/discussions.py
  app/backend/src/couchers/servicers/gis.py
  app/backend/src/couchers/servicers/groups.py
  app/backend/src/couchers/servicers/pages.py
  app/backend/src/couchers/servicers/references.py
  app/backend/src/couchers/servicers/requests.py
  app/backend/src/couchers/servicers/search.py
  app/backend/src/couchers/tasks.py
  app/backend/src/couchers/utils.py
  app/backend/src/dummy_data.py
  app/backend/src/tests/test_api.py
  app/backend/src/tests/test_auth.py
  app/backend/src/tests/test_blocking.py
  app/backend/src/tests/test_communities.py
  app/backend/src/tests/test_conversations.py
  app/backend/src/tests/test_db.py
  app/backend/src/tests/test_fixtures.py
  app/backend/src/tests/test_groups.py
  app/backend/src/tests/test_media.py
  app/backend/src/tests/test_references.py
  app/backend/src/tests/test_requests.py
  app/backend/src/tests/test_search.py
  app/backend/src/tests/test_visible_users.py
  app/pb/blocking.proto
Labels: backend, feature, priority: high

#1191 Show map user info even without search query
  app/frontend/src/AppRoute.tsx
  app/frontend/src/features/messages/groupchats/GroupChatView.tsx
  app/frontend/src/features/search/SearchPage.tsx
  app/frontend/src/features/search/SearchResult.tsx
  app/frontend/src/features/search/SearchResultsList.tsx
  app/frontend/src/features/search/users.ts
  app/frontend/src/theme.ts
Labels: frontend

#1202 Make TOS on jail page prettier
  app/frontend/src/features/auth/jail/TOSSection.tsx
  app/frontend/src/features/constants.ts
Labels: frontend

#1180 Discussions part 3: single discussion
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/components/Avatar/Avatar.tsx
  app/frontend/src/components/Avatar/constants.ts
  app/frontend/src/components/MarkdownInput.tsx
  app/frontend/src/components/__mocks__/MarkdownInput.tsx
  app/frontend/src/features/communities/CommunityPage/CommunityPage.tsx
  app/frontend/src/features/communities/CommunityPage/index.ts
  app/frontend/src/features/communities/constants.ts
  app/frontend/src/features/communities/discussion/DiscussionPage.tsx
  app/frontend/src/features/communities/discussions/CommentTree.tsx
  app/frontend/src/features/communities/discussions/CreateDiscussionForm.stories.tsx
  app/frontend/src/features/communities/discussions/CreateDiscussionForm.tsx
  app/frontend/src/features/communities/discussions/DiscussionCard.stories.tsx
  app/frontend/src/features/communities/discussions/DiscussionCard.tsx
  app/frontend/src/features/communities/discussions/DiscussionPage.stories.tsx
  app/frontend/src/features/communities/discussions/DiscussionPage.test.tsx
  app/frontend/src/features/communities/discussions/DiscussionPage.tsx
  app/frontend/src/features/communities/discussions/DiscussionsListPage.stories.tsx
  app/frontend/src/features/communities/discussions/DiscussionsListPage.test.tsx
  app/frontend/src/features/communities/discussions/DiscussionsListPage.tsx
  app/frontend/src/features/communities/discussions/DiscussionsSection.tsx
  app/frontend/src/features/communities/discussions/index.ts
  app/frontend/src/features/communities/discussions/useDiscussionsListStyles.ts
  app/frontend/src/features/communities/hooks.ts
  app/frontend/src/routes.ts
  app/frontend/src/test/fixtures/getThreadRes.json
  app/frontend/src/test/hookWrapper.tsx
  app/frontend/src/utils/date.ts
Labels: feature, frontend

#1205 Attempt at redirecting to jail instead of logging out on sudden jailing
  app/frontend/src/features/auth/AuthProvider.test.ts
  app/frontend/src/features/auth/AuthProvider.tsx
  app/frontend/src/features/auth/constants.tsx
  app/frontend/src/service/client.ts
Labels: frontend

#1220 Fix map on ios
  app/frontend/src/components/HorizontalScroller.tsx
  app/frontend/src/features/search/SearchPage.tsx
Labels: frontend, priority: critical

#744 Events
  app/backend/src/app.py
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/migrations/versions/c035cdcabd40_add_new_events_tables.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/events.py
  app/backend/src/couchers/utils.py
  app/backend/src/tests/test_discussions.py
  app/backend/src/tests/test_events.py
  app/backend/src/tests/test_fixtures.py
  app/backend/src/tests/test_pages.py
  app/pb/events.proto
Labels: backend, feature

#1233 Add meeting 23 notes
  docs/meetings/backend/Meeting 023.md
Labels: docs

#1235 Add cache headers back in after flask 2
  app/media/requirements.txt
  app/media/src/media/server.py
Labels: backend, bug

#1237 Increase max_workers for ThreadPoolExecutors
  app/backend/src/app.py
Labels: backend

#1217 Backend/feature/remove user from chat
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/migrations/versions/763e0bd674a5_add_user_removed.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/conversations.py
  app/backend/src/tests/test_conversations.py
  app/pb/conversations.proto
Labels: backend

#1263 Reduce massive gap between logo and couchers.org logo text
  app/frontend/src/components/Navigation/Navigation.tsx
  app/frontend/src/resources/CouchersLogo.tsx
Labels: frontend

#1251 Discussion part 5: Wrap discussion page around community base
  app/frontend/src/features/communities/CommunityBase.tsx
  app/frontend/src/features/communities/CommunityPage/CommunityPage.tsx
  app/frontend/src/features/communities/discussions/DiscussionPage.test.tsx
  app/frontend/src/features/communities/discussions/DiscussionPage.tsx
  app/frontend/src/test/fixtures/community.json
Labels: feature, frontend

#1275 Add next.couchershq.org to CORS allowlist for API
  app/proxy/envoy.yaml
Labels: devops

#1277 Dashboard banners and small tweaks
  app/backend/src/couchers/jobs/handlers.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/account.py
  app/frontend/src/components/TOSLink.tsx
  app/frontend/src/features/Home.tsx
  app/frontend/src/features/auth/constants.tsx
  app/frontend/src/features/auth/email/ChangeEmail.stories.tsx
  app/frontend/src/features/auth/email/ChangeEmail.test.tsx
  app/frontend/src/features/auth/login/LoginForm.tsx
  app/frontend/src/features/auth/login/constants.ts
  app/frontend/src/features/auth/password/ChangePassword.stories.tsx
  app/frontend/src/features/auth/password/ChangePassword.test.tsx
  app/frontend/src/features/auth/useAccountInfo.ts
  app/frontend/src/features/dashboard/DashboardBanners.tsx
  app/frontend/src/features/dashboard/constants.ts
  app/frontend/src/features/profile/hooks/useUpdateUserProfile.ts
  app/pb/account.proto
Labels: frontend

#1280 Add couchers logo on unauthenticated pages
  app/frontend/src/features/auth/AuthPage.tsx
  app/frontend/src/features/auth/login/Login.tsx
  app/frontend/src/features/auth/signup/Signup.tsx
  app/frontend/src/features/auth/useAuthStyles.ts
Labels: frontend

#1281 Fix login issues with email
  app/backend/src/couchers/servicers/auth.py
  app/frontend/src/features/auth/useAuthStore.ts
  app/frontend/src/service/user.ts
  app/pb/auth.proto
Labels: frontend

#1278 Release notes
  site/markdown/blog.md
  site/markdown/blog/2021/05/23/development-updates.md
Labels: docs

#1296 Add paragraph about events on dashboard
  app/frontend/src/features/constants.ts
Labels: frontend

#1303 Add meeting 24 notes
  docs/meetings/backend/Meeting 024.md
Labels: backend, docs

#1302 Hosting request emails
  app/backend/src/couchers/jobs/definitions.py
  app/backend/src/couchers/jobs/handlers.py
  app/backend/src/couchers/migrations/versions/584f70c6a0d4_add_host_request_message_bg_job.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/requests.py
  app/backend/src/couchers/tasks.py
  app/backend/src/couchers/urls.py
  app/backend/src/tests/test_email.py
  app/backend/src/tests/test_references.py
  app/backend/templates/host_request_accepted_guest.md
  app/backend/templates/host_request_cancelled_host.md
  app/backend/templates/host_request_confirmed_host.md
  app/backend/templates/host_request_rejected_guest.md
  app/backend/templates/unseen_message_guest.md
  app/backend/templates/unseen_message_host.md
  app/backend/templates/unseen_messages.md
  docs/urls.md
Labels: backend

#1306 Fix references bug
  app/backend/src/couchers/servicers/references.py
  app/backend/src/tests/test_references.py
Labels: backend, bug

#1307 Filter for user visibility in host req emails
  app/backend/src/couchers/jobs/handlers.py
Labels: backend, bug

#1200 Combine edit profile and edit home in one page with tabs
  app/backend/src/couchers/urls.py
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/components/Navigation/Navigation.tsx
  app/frontend/src/features/constants.ts
  app/frontend/src/features/dashboard/DashboardBanners.tsx
  app/frontend/src/features/profile/edit/EditHostingPreference.test.tsx
  app/frontend/src/features/profile/edit/EditHostingPreference.tsx
  app/frontend/src/features/profile/edit/EditProfile.tsx
  app/frontend/src/features/profile/edit/EditProfilePage.tsx
  app/frontend/src/features/profile/hooks/useUpdateHostingPreferences.test.tsx
  app/frontend/src/features/profile/hooks/useUpdateHostingPreferences.ts
  app/frontend/src/features/profile/hooks/useUpdateUserProfile.test.ts
  app/frontend/src/features/profile/hooks/useUpdateUserProfile.ts
  app/frontend/src/features/profile/view/About.tsx
  app/frontend/src/features/profile/view/Overview.tsx
  app/frontend/src/features/profile/view/ProfilePage.test.tsx
  app/frontend/src/features/profile/view/ProfilePage.tsx
  app/frontend/src/features/userQueries/useUserByUsername.ts
  app/frontend/src/routes.ts
  docs/urls.md
Labels: frontend
