Repository Couchers-org/couchers, pull requests merged in 2021-09, with the labels that each got.

#1906 Add meeting 31 notes
  docs/meetings/backend/Meeting 031.md
Labels: backend

#1907 Add release frontend source map step on CI
  app/.gitlab-ci.yml
  app/frontend/.sentryclirc
  app/frontend/package.json
  app/frontend/sentry.js
  app/frontend/yarn.lock
Labels: frontend, devops

#1922 Fix #1770
  app/backend/src/couchers/migrations/versions/74e7f371be76_make_contribute_ways_a_non_null_array.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/account.py
Labels: bug, backend

#1923 Remove 'needs' from sourcemap upload job
  app/.gitlab-ci.yml
Labels: devops

#1822 Content reporting/flagging button
  .gitignore
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/migrations/versions/1e9b694d08c0_expand_content_reporting.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/server.py
  app/backend/src/couchers/servicers/api.py
  app/backend/src/couchers/servicers/reporting.py
  app/backend/src/couchers/tasks.py
  app/backend/src/tests/test_api.py
  app/backend/src/tests/test_email.py
  app/backend/src/tests/test_fixtures.py
  app/backend/src/tests/test_reporting.py
  app/backend/templates/content_report.md
  app/backend/templates/friend_request_accepted.md
  app/backend/templates/report.md
  app/frontend/src/components/Icons/index.ts
  app/frontend/src/features/FlagButton.tsx
  app/frontend/src/features/constants.ts
  app/frontend/src/features/profile/actions/ProfileActionsMenuButton.tsx
  app/frontend/src/features/profile/actions/ReportUserDialog.tsx
  app/frontend/src/features/profile/constants.ts
  app/frontend/src/features/profile/view/Overview.tsx
  app/frontend/src/features/profile/view/ProfilePage.test.tsx
  app/frontend/src/features/profile/view/UserPage.test.tsx
  app/frontend/src/service/client.ts
  app/frontend/src/service/index.ts
  app/frontend/src/service/reporting.ts
  app/frontend/src/service/user.ts
  app/proto/api.proto
  app/proto/reporting.proto
  docs/content_ref.md
Labels: feature, backend, frontend, release notes: pending

#1925 Don't check for overlap on all events when updating/scheduling
  app/backend/src/couchers/servicers/events.py
  app/backend/src/tests/test_events.py
Labels: bug, backend, release notes: pending

#1927 Add generic reason for flag in email to support
  app/backend/templates/content_report.md
Labels: backend, improvement

#1937 [#1884] Frontend - label of localization text input does not hide when entering value
  app/web/src/components/EditLocationMap.tsx
  app/web/src/components/MapSearch.tsx
Labels: web

#1943 fix: don't autofocus markdown fields
  app/web/src/components/MarkdownInput/MarkdownInput.tsx
Labels: web

#1941 Info on how to login to the web dev environment
  app/web/README.md
Labels: docs

#1957 fix: crpytic error message with invalid username
  app/web/src/features/auth/login/Login.test.tsx
  app/web/src/features/auth/login/LoginForm.tsx
  app/web/src/features/profile/view/UserPage.test.tsx
Labels: web, release notes: pending

#1935 Feat/frontend/community photo
  app/web/src/features/communities/EditCommunityInfoPage.test.tsx
  app/web/src/features/communities/EditCommunityInfoPage.tsx
  app/web/src/features/communities/constants.ts
  app/web/src/service/pages.ts
Labels: web

#1967 Fix flaky event form test
  app/web/package.json
  app/web/src/features/communities/events/EventForm.test.tsx
  app/web/yarn.lock
Labels: testing, web

#1969 fix `ProfileTagInput` zIndex clash
  app/web/src/components/MarkdownInput/MarkdownInput.tsx
  app/web/src/features/profile/ProfileTagInput.tsx
Labels: web

#1944 Refactor/web/community page
  app/web/src/features/communities/CommunityBase.tsx
  app/web/src/features/communities/CommunityPage/CommunityPage.tsx
  app/web/src/features/communities/CommunityPage/CommunityPageSubHeader.tsx
  app/web/src/features/communities/CommunityPage/HeaderImage.stories.tsx
  app/web/src/features/communities/EditCommunityInfoPage.tsx
  app/web/src/features/communities/PageHeader.stories.tsx
  app/web/src/features/communities/PageHeader.tsx
  app/web/src/features/communities/discussions/DiscussionPage.tsx
  app/web/src/features/communities/hooks.ts
Labels: web

#1949 Check that username is not in partial signup
  app/backend/src/couchers/servicers/auth.py
Labels: backend

#1975 fix: create/edit event form from overflowing on mobile screens
  app/web/src/features/communities/events/EventForm.tsx
Labels: bug, web, release notes: pending

#1916 Gitpodify Couchers wrap up
  .gitpod.yml
  app/docker-compose.gitpod.yml
  app/docker-compose.yml
  app/proxy/envoy.yaml
  app/readme.md
  app/web/README.md
Labels: devops

#1976 feature: All events page
  app/web/src/AppRoutes.tsx
  app/web/src/components/Navigation/Navigation.tsx
  app/web/src/constants.ts
  app/web/src/features/communities/events/EventsPage.stories.tsx
  app/web/src/features/communities/events/EventsPage.test.tsx
  app/web/src/features/communities/events/EventsPage.tsx
  app/web/src/features/communities/events/EventsTab.tsx
  app/web/src/features/communities/events/constants.ts
  app/web/src/features/communities/events/hooks.ts
  app/web/src/queryKeys.ts
  app/web/src/service/events.ts
Labels: web, release notes: pending

#1966 Community browser
  app/web/src/components/CookieBanner.tsx
  app/web/src/components/StyledLink.tsx
  app/web/src/components/UserSummary.tsx
  app/web/src/features/NotFoundPage.tsx
  app/web/src/features/auth/email/ConfirmChangeEmail.tsx
  app/web/src/features/auth/login/LoginForm.tsx
  app/web/src/features/auth/password/CompleteResetPassword.tsx
  app/web/src/features/auth/signup/Signup.tsx
  app/web/src/features/communities/CommunityInfoPage.tsx
  app/web/src/features/communities/CommunityPage/CommunityPageSubHeader.tsx
  app/web/src/features/communities/CommunityPage/InfoPageSection.tsx
  app/web/src/features/communities/events/EventsSection.tsx
  app/web/src/features/dashboard/CommunityBrowser.stories.tsx
  app/web/src/features/dashboard/CommunityBrowser.test.tsx
  app/web/src/features/dashboard/CommunityBrowser.tsx
  app/web/src/features/dashboard/DashboardBanners.tsx
  app/web/src/features/dashboard/Home.tsx
  app/web/src/features/dashboard/constants.ts
Labels: web, release notes: pending

#2000 Web meeting notes 2021/09/21
  docs/meetings/web/2021-09-21.md
Labels: web

#2017 Release notes 26th September
  .gitignore
  app/web/src/features/dashboard/constants.ts
  site/markdown/blog.md
  site/markdown/blog/2021/08/29/development-updates.md
  site/markdown/blog/2021/09/26/development-updates.md
  site/pages/index.vue
  site/pages/team.vue
  site/redirects
  site/static/contributors/web-meeting.ics
Labels: docs, web

#2006 HTML Page Titles
  app/web/package.json
  app/web/src/App.tsx
  app/web/src/components/HtmlMeta.tsx
  app/web/src/components/TOS.tsx
  app/web/src/features/ContributePage.tsx
  app/web/src/features/NotFoundPage.tsx
  app/web/src/features/auth/AuthPage.tsx
  app/web/src/features/auth/Settings.tsx
  app/web/src/features/auth/jail/Jail.tsx
  app/web/src/features/auth/jail/constants.ts
  app/web/src/features/auth/login/Login.tsx
  app/web/src/features/auth/password/CompleteResetPassword.tsx
  app/web/src/features/auth/password/ResetPassword.tsx
  app/web/src/features/auth/signup/Signup.tsx
  app/web/src/features/communities/CommunityPage/CommunityPage.tsx
  app/web/src/features/communities/EditCommunityInfoPage.tsx
  app/web/src/features/communities/GroupPage.tsx
  app/web/src/features/communities/NewGuidePage.tsx
  app/web/src/features/communities/NewPlacePage.tsx
  app/web/src/features/communities/PagePage.tsx
  app/web/src/features/communities/constants.ts
  app/web/src/features/communities/discussions/DiscussionPage.tsx
  app/web/src/features/communities/events/CreateEventPage.tsx
  app/web/src/features/communities/events/EditEventPage.tsx
  app/web/src/features/communities/events/EventPage.tsx
  app/web/src/features/communities/events/EventsPage.tsx
  app/web/src/features/connections/ConnectionsPage.tsx
  app/web/src/features/constants.ts
  app/web/src/features/dashboard/Home.tsx
  app/web/src/features/donations/Donations.tsx
  app/web/src/features/messages/Messages.tsx
  app/web/src/features/messages/constants.ts
  app/web/src/features/messages/groupchats/GroupChatView.tsx
  app/web/src/features/profile/edit/EditProfilePage.tsx
  app/web/src/features/profile/view/ProfilePage.tsx
  app/web/src/features/profile/view/UserPage.tsx
  app/web/src/features/search/SearchPage.tsx
  app/web/src/test/hookWrapper.tsx
  app/web/yarn.lock
Labels: web, release notes: pending

#2007 floating save button
  app/web/src/features/profile/edit/EditHostingPreference.tsx
  app/web/src/features/profile/edit/EditProfile.tsx
  app/web/src/features/profile/edit/styles.ts
Labels: release notes: pending

#2033 Fix #1989
  app/web/src/features/profile/constants.ts
  app/web/src/features/profile/view/About.tsx
  app/web/src/features/profile/view/Home.tsx
  app/web/src/features/profile/view/ProfilePage.tsx
  app/web/src/features/profile/view/UserCard.stories.tsx
  app/web/src/features/profile/view/UserCard.tsx
  app/web/src/features/profile/view/UserOverview.stories.tsx
  app/web/src/features/profile/view/UserOverview.tsx
  app/web/src/features/profile/view/UserPage.tsx
  app/web/src/features/profile/view/UserTabContext.test.tsx
  app/web/src/features/profile/view/UserTabContext.tsx
  app/web/src/features/profile/view/UserTextAndLabel.tsx
  app/web/src/features/search/SearchResult.tsx
  app/web/src/features/user/UserGuestbook.tsx
  app/web/src/features/user/UserPlace.tsx
  app/web/src/features/user/UserSection.stories.tsx
  app/web/src/features/user/UserSection.tsx
  app/web/src/features/user/UserSummary.tsx
Labels: web
