Repository Couchers-org/couchers, pull requests merged in 2021-08, with the labels that each got.

#1744 Disable sentry excepthook integration
  app/backend/src/app.py
Labels: backend, bug

#1743 Add sentry to frontend
  app/frontend/package.json
  app/frontend/src/App.tsx
  app/frontend/src/components/Button/Button.test.tsx
  app/frontend/src/components/Button/Button.tsx
  app/frontend/src/components/ErrorBoundary/ErrorBoundary.tsx
  app/frontend/src/features/NotFoundPage.tsx
  app/frontend/src/features/auth/useAuthStore.ts
  app/frontend/src/features/dashboard/Home.tsx
  app/frontend/src/index.tsx
  app/frontend/src/setupTests.ts
  app/frontend/yarn.lock
Labels: feature, frontend

#1757 add default prompts to edit profile
  app/frontend/src/features/profile/edit/constants.ts
Labels: frontend

#1764 Fix alphabetization
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/api.py
  app/backend/src/tests/test_api.py
  app/backend/src/tests/test_fixtures.py
Labels: backend, priority: low

#1699 Update language list
  app/backend/resources/languages.json
  app/backend/src/couchers/migrations/versions/217651c73ca8_drop_unsupported_languages.py
Labels: backend, priority: normal, release notes: pending

#1756 Events part 4: event discussion + unhiding join/leave event button
  app/frontend/src/features/communities/discussions/CommentTree.tsx
  app/frontend/src/features/communities/discussions/DiscussionPage.tsx
  app/frontend/src/features/communities/events/EventCard.test.tsx
  app/frontend/src/features/communities/events/EventCard.tsx
  app/frontend/src/features/communities/events/EventPage.test.tsx
  app/frontend/src/features/communities/events/EventPage.tsx
  app/frontend/src/features/communities/events/LongEventCard.test.tsx
  app/frontend/src/features/communities/events/LongEventCard.tsx
  app/frontend/src/features/communities/events/constants.ts
  app/frontend/src/test/fixtures/events.json
Labels: frontend, release notes: pending

#1771 Add meeting 29 notes
  docs/meetings/backend/Meeting 029.md
Labels: backend, docs

#1553 Feature/donations
  app/frontend/src/AppRoute.tsx
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/components/Navigation/Navigation.tsx
  app/frontend/src/constants.ts
  app/frontend/src/features/donations/DonationPage.tsx
  app/frontend/src/features/donations/Donations.tsx
  app/frontend/src/features/donations/DonationsBox.tsx
  app/frontend/src/features/donations/constants.ts
  app/frontend/src/features/donations/resources/landscape.jpeg
  app/frontend/src/react-app-env.d.ts
  app/frontend/src/resources/CouchersLogo.tsx
  app/frontend/src/routes.ts
  app/frontend/src/service/donations.ts
  app/frontend/src/theme.ts
Labels: frontend, release notes: pending

#1778 Fix signup continuation bug
  app/backend/src/couchers/tasks.py
  app/backend/src/tests/test_auth.py
Labels: bug, backend

#1782 Format
  app/backend/src/couchers/servicers/api.py
  app/backend/src/tests/test_email.py
Labels: backend

#1788 tweak contributor form copy and ordering
  app/frontend/src/components/ContributorForm/ContributorForm.test.tsx
  app/frontend/src/components/ContributorForm/ContributorForm.tsx
  app/frontend/src/components/ContributorForm/constants.ts
  app/frontend/src/features/auth/constants.tsx
Labels: frontend, improvement

#1772 keep search dialog mounted
  app/frontend/src/features/search/FilterDialog.tsx
  app/frontend/src/features/search/SearchBox.test.tsx
Labels: frontend

#1789 Expose app version as JSON endpoint
  app/proto/bugs.proto
Labels: backend, improvement

#1740 fix: #1713 - jail page keeps reloading
  app/frontend/src/features/useNotifications.ts
Labels: bug, frontend, release notes: pending

#1800 Fix dummy data issue
  app/backend/src/data/dummy_users.json
  app/backend/src/tests/test_fixtures.py
Labels: bug, backend

#1807 Create 2021-08-11.md
  docs/meetings/frontend/2021-08-11.md
Labels: frontend

#1815 Backend fixes and docs updates
  app/.gitlab-ci.yml
  app/backend/src/dummy_data.py
  app/backend/src/tests/test_dummy_data.py
  app/readme.md
  docs/contributing.md
Labels: backend

#1821 Write language dialects in brackets instead of with comma
  app/backend/resources/languages.json
  app/backend/src/tests/test_fixtures.py
Labels: bug, backend

#1808 Cookie banner
  app/frontend/src/AppRoute.tsx
  app/frontend/src/components/CookieBanner.tsx
  app/frontend/src/components/constants.ts
Labels: feature, frontend, release notes: pending

#1835 Blog/bugfix/tott date
  site/markdown/blog.md
Labels: site

#1836 Blog/bugfix/tott format
  site/markdown/blog.md
  site/markdown/blog/2021/08/11/talk-of-the-town.md
Labels: site

#1839 Add meeting 30 notes
  docs/meetings/backend/Meeting 030.md
Labels: backend

#1840 Fix background positions
  app/frontend/src/features/communities/CommunityPage/HeaderImage.tsx
  app/frontend/src/features/communities/events/EventCard.tsx
  app/frontend/src/features/communities/events/EventPage.tsx
Labels: frontend

#1824 Add polyfill for older browsers to stop frontend erroring on use of flatMap
  app/frontend/package.json
  app/frontend/src/index.tsx
  app/frontend/yarn.lock
Labels: frontend, release notes: pending

#1775 Events part 5: Create event page
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/components/Datepicker.tsx
  app/frontend/src/components/EditLocationMap.test.tsx
  app/frontend/src/components/MarkdownInput/MarkdownInput.tsx
  app/frontend/src/components/MarkdownInput/__mocks__/MarkdownInput.tsx
  app/frontend/src/features/communities/CommunityPage/CommunityPage.tsx
  app/frontend/src/features/communities/constants.ts
  app/frontend/src/features/communities/discussions/DiscussionsListPage.tsx
  app/frontend/src/features/communities/discussions/DiscussionsSection.tsx
  app/frontend/src/features/communities/events/CreateEventPage.stories.tsx
  app/frontend/src/features/communities/events/CreateEventPage.test.tsx
  app/frontend/src/features/communities/events/CreateEventPage.tsx
  app/frontend/src/features/communities/events/EventCard.tsx
  app/frontend/src/features/communities/events/EventForm.test.tsx
  app/frontend/src/features/communities/events/EventForm.tsx
  app/frontend/src/features/communities/events/EventPage.tsx
  app/frontend/src/features/communities/events/EventTimeChanger.test.tsx
  app/frontend/src/features/communities/events/EventTimeChanger.tsx
  app/frontend/src/features/communities/events/EventsList.test.tsx
  app/frontend/src/features/communities/events/EventsList.tsx
  app/frontend/src/features/communities/events/EventsSection.tsx
  app/frontend/src/features/communities/events/constants.ts
  app/frontend/src/features/constants.ts
  app/frontend/src/features/search/FilterDialog.tsx
  app/frontend/src/features/search/LocationAutocomplete/LocationAutocomplete.test.tsx
  app/frontend/src/features/search/LocationAutocomplete/LocationAutocomplete.tsx
  app/frontend/src/queryKeys.ts
  app/frontend/src/routes.ts
  app/frontend/src/service/events.ts
  app/frontend/src/test/restMock.ts
  app/frontend/src/theme.ts
  app/frontend/src/utils/dayjs.ts
  app/frontend/src/utils/hooks.test.ts
  app/frontend/src/utils/validation.ts
Labels: frontend, release notes: pending

#1852 fix: map feature doesn't have active styling on slow internet
  app/frontend/src/features/search/SearchPage.tsx
  app/frontend/src/utils/hooks.ts
Labels: frontend

#1853 Update local info tab heading
  app/frontend/src/features/communities/CommunityInfoPage.test.tsx
  app/frontend/src/features/communities/CommunityInfoPage.tsx
  app/frontend/src/features/communities/constants.ts
Labels: frontend

#1844 Frontend/ci/prettier check
  app/.gitlab-ci.yml
Labels: frontend, devops

#1871 fix: event card title overlapping with location
  app/frontend/src/features/communities/events/EventCard.tsx
  app/frontend/src/test/fixtures/events.json
  app/frontend/src/test/hookWrapper.tsx
Labels: bug, frontend

#1897 fix: default start/end date & time not adjusting correctly on the hour of 11pm in create event form
  app/frontend/src/features/communities/events/EventTimeChanger.test.tsx
  app/frontend/src/features/communities/events/EventTimeChanger.tsx
Labels: bug tool, frontend
