Repository Couchers-org/couchers, pull requests merged in 2021-11, with the labels that each got.

#2161 Web meeting 2021-11-03
  docs/meetings/web/2021-11-03.md
Labels: web

#2035 Make location filter required for other filters
  app/web/src/components/UserSummary.tsx
  app/web/src/features/communities/events/CreateEventPage.test.tsx
  app/web/src/features/communities/events/EditEventPage.test.tsx
  app/web/src/features/communities/events/EventForm.test.tsx
  app/web/src/features/communities/events/EventForm.tsx
  app/web/src/features/search/FilterDialog.test.tsx
  app/web/src/features/search/FilterDialog.tsx
  app/web/src/features/search/LocationAutocomplete/LocationAutocomplete.stories.tsx
  app/web/src/features/search/LocationAutocomplete/LocationAutocomplete.test.tsx
  app/web/src/features/search/LocationAutocomplete/LocationAutocomplete.tsx
  app/web/src/features/search/SearchBox.test.tsx
  app/web/src/features/search/SearchBox.tsx
  app/web/src/features/search/SearchPage.tsx
  app/web/src/features/search/SearchResult.tsx
  app/web/src/features/search/SearchResultsList.test.tsx
  app/web/src/features/search/SearchResultsList.tsx
  app/web/src/features/search/constants.ts
  app/web/src/features/search/useSearchFilters.ts
  app/web/src/resources/CouchersLogo.tsx
  app/web/src/setupTests.ts
  app/web/src/utils/hooks.ts
Labels: web

#2164 Fix typo in the translation doc's section link
  docs/translations.md
Labels: docs

#2200 Add meeting 36 notes
  docs/meetings/backend/Meeting 036.md
Labels: docs, backend

#2197 i18n part 2: Swap constants in the auth feature folder to use i18n JSON resources
  app/web/.storybook/preview.js
  app/web/package.json
  app/web/src/App.tsx
  app/web/src/AppRoute.tsx
  app/web/src/components/Comments/CommentBox.tsx
  app/web/src/components/CommunityGuidelines/constants.ts
  app/web/src/components/ErrorFallback/ErrorFallback.tsx
  app/web/src/components/ErrorFallback/constants.ts
  app/web/src/components/FullPageLoader/FullPageLoader.stories.tsx
  app/web/src/components/FullPageLoader/FullPageLoader.tsx
  app/web/src/components/FullPageLoader/index.ts
  app/web/src/components/TOS.tsx
  app/web/src/components/TOSLink.tsx
  app/web/src/features/ReportButton.test.tsx
  app/web/src/features/auth/AuthPage.tsx
  app/web/src/features/auth/CommunityGuidelines.tsx
  app/web/src/features/auth/constants.tsx
  app/web/src/features/auth/email/ChangeEmail.test.tsx
  app/web/src/features/auth/email/ChangeEmail.tsx
  app/web/src/features/auth/email/ConfirmChangeEmail.test.tsx
  app/web/src/features/auth/email/ConfirmChangeEmail.tsx
  app/web/src/features/auth/jail/CommunityGuidelinesSection.tsx
  app/web/src/features/auth/jail/LocationSection.tsx
  app/web/src/features/auth/jail/TOSSection.tsx
  app/web/src/features/auth/locales/en.json
  app/web/src/features/auth/login/Login.test.tsx
  app/web/src/features/auth/login/Login.tsx
  app/web/src/features/auth/login/LoginForm.tsx
  app/web/src/features/auth/password/ChangePassword.test.tsx
  app/web/src/features/auth/password/ChangePassword.tsx
  app/web/src/features/auth/password/CompleteResetPassword.test.tsx
  app/web/src/features/auth/password/CompleteResetPassword.tsx
  app/web/src/features/auth/password/ResetPassword.test.tsx
  app/web/src/features/auth/password/ResetPassword.tsx
  app/web/src/features/auth/signup/AccountForm.test.tsx
  app/web/src/features/auth/signup/AccountForm.tsx
  app/web/src/features/auth/signup/BasicForm.test.tsx
  app/web/src/features/auth/signup/BasicForm.tsx
  app/web/src/features/auth/signup/CommunityGuidelinesForm.test.tsx
  app/web/src/features/auth/signup/CommunityGuidelinesForm.tsx
  app/web/src/features/auth/signup/FeedbackForm.tsx
  app/web/src/features/auth/signup/Signup.test.tsx
  app/web/src/features/auth/signup/Signup.tsx
  app/web/src/features/auth/useAuthStore.test.ts
  app/web/src/features/auth/useAuthStore.ts
  app/web/src/features/auth/username/Username.tsx
  app/web/src/features/communities/GroupPage.tsx
  app/web/src/features/communities/PagePage.tsx
  app/web/src/i18n/index.ts
  app/web/src/i18n/react-i18next-types.d.ts
  app/web/src/i18n/resources.ts
  app/web/src/react-i18next-types.d.ts
  app/web/src/resources/locales/en.json
  app/web/src/setupTests.ts
  app/web/src/test/hookWrapper.tsx
  app/web/src/test/i18n.ts
  app/web/src/test/utils.tsx
  app/web/yarn.lock
Labels: web
