Repository Couchers-org/couchers, pull requests merged in 2021-02, with the labels that each got.

#539 Split pages into places and events
  app/backend/src/couchers/migrations/versions/7a8a6ae25c7d_rename_poi_to_place.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/communities.py
  app/backend/src/couchers/servicers/groups.py
  app/backend/src/couchers/servicers/pages.py
  app/backend/src/dummy_data.py
  app/backend/src/tests/test_pages.py
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/features/Home.tsx
  app/frontend/src/features/communities/CommunityPage.tsx
  app/frontend/src/features/communities/GroupPage.tsx
  app/frontend/src/features/communities/NewPageForm.tsx
  app/frontend/src/features/communities/NewPagePage.tsx
  app/frontend/src/features/communities/PagePage.tsx
  app/frontend/src/features/communities/redirect.ts
  app/frontend/src/features/map/MapPage.tsx
  app/frontend/src/service/pages.ts
  app/pb/pages.proto
Labels: backend, frontend

#553 Update notification count
  app/frontend/package.json
  app/frontend/src/features/connections/friends/useFriendList.test.tsx
  app/frontend/src/features/connections/friends/useFriendRequests.test.tsx
  app/frontend/src/features/messages/Messages.test.tsx
  app/frontend/src/features/messages/Messages.tsx
  app/frontend/src/features/messages/constants.ts
  app/frontend/src/features/messages/groupchats/GroupChatView.test.tsx
  app/frontend/src/features/messages/groupchats/GroupChatView.tsx
  app/frontend/src/features/messages/messagelist/ControlMessageView.tsx
  app/frontend/src/features/messages/messagelist/MessageList.tsx
  app/frontend/src/features/messages/messagelist/MessageView.tsx
  app/frontend/src/features/messages/messagelist/useOnVisibleEffect.ts
  app/frontend/src/features/messages/surfing/HostRequestView.tsx
  app/frontend/src/features/messages/useMarkLastSeen.ts
  app/frontend/src/features/userQueries/useUserByUsername.test.tsx
  app/frontend/src/features/userQueries/useUsers.test.tsx
  app/frontend/src/index.tsx
  app/frontend/src/service/conversations.ts
  app/frontend/src/service/requests.ts
  app/frontend/src/test/fixtures/messages.json
  app/frontend/src/test/fixtures/users.json
  app/frontend/src/test/hookWrapper.tsx
  app/frontend/src/test/utils.tsx
  app/frontend/tsconfig.json
  app/frontend/yarn.lock
Labels: feature, frontend

#565 Replace mapbox-gl with maplibre-gl
  app/frontend/package.json
  app/frontend/src/components/EditLocationMap.tsx
  app/frontend/src/components/EditUserLocationMap.tsx
  app/frontend/src/components/Map.stories.tsx
  app/frontend/src/components/Map.tsx
  app/frontend/src/components/MapSearch.tsx
  app/frontend/src/components/__mocks__/maplibre-gl.js
  app/frontend/src/constants.ts
  app/frontend/src/features/map/MapPage.tsx
  app/frontend/src/features/map/clusteredUsers.ts
  app/frontend/src/features/map/communities.ts
  app/frontend/src/features/map/pages.ts
  app/frontend/yarn.lock
Labels: frontend

#532 Backend/feature/communities tests
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/communities.py
  app/backend/src/couchers/servicers/groups.py
  app/backend/src/couchers/tasks.py
  app/backend/src/tests/test_communities.py
  app/backend/src/tests/test_fixtures.py
  app/backend/src/tests/test_groups.py
Labels: backend, feature, priority: high

#571 Set fsync=off in gitlab CI
  .gitlab-ci.yml
Labels: backend, devops, feature

#569 Page transfer and fix check constraints
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/migrations/versions/b93d0f73a1d3_add_page_check_constraints.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/pages.py
  app/backend/src/couchers/tasks.py
  app/backend/src/dummy_data.py
  app/backend/src/tests/test_communities.py
  app/backend/src/tests/test_conversations.py
  app/backend/src/tests/test_email.py
  app/backend/src/tests/test_groups.py
  app/backend/src/tests/test_pages.py
  app/frontend/src/features/communities/PagePage.tsx
  app/pb/pages.proto
Labels: backend, feature

#514 Basic 404 page
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/features/NotFoundPage.tsx
  app/frontend/src/resources/404graphic.png
Labels: feature, frontend

#573 Run autoflake and remove unused imports and variables
  app/backend/src/app.py
  app/backend/src/couchers/email/__init__.py
  app/backend/src/couchers/email/dev.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/account.py
  app/backend/src/couchers/servicers/api.py
  app/backend/src/couchers/servicers/auth.py
  app/backend/src/couchers/servicers/communities.py
  app/backend/src/couchers/servicers/conversations.py
  app/backend/src/couchers/servicers/gis.py
  app/backend/src/couchers/servicers/media.py
  app/backend/src/couchers/servicers/pages.py
  app/backend/src/couchers/servicers/requests.py
  app/backend/src/couchers/servicers/sso.py
  app/backend/src/couchers/servicers/threads.py
  app/backend/src/couchers/tasks.py
  app/backend/src/dummy_data.py
  app/backend/src/tests/test_account.py
  app/backend/src/tests/test_auth.py
  app/backend/src/tests/test_bug_tool.py
  app/backend/src/tests/test_communities.py
  app/backend/src/tests/test_conversations.py
  app/backend/src/tests/test_email.py
  app/backend/src/tests/test_fixtures.py
  app/backend/src/tests/test_groups.py
  app/backend/src/tests/test_jail.py
  app/backend/src/tests/test_media.py
  app/backend/src/tests/test_requests.py
  app/backend/src/tests/test_threads.py
Labels: backend, refactoring

#589 Accept non-existent session token in auth.Deauthenticate.
  app/backend/src/couchers/servicers/auth.py
  app/backend/src/tests/test_auth.py
Labels: backend, bug

#581 Bug reporting
  app/frontend/package.json
  app/frontend/src/components/Icons/index.ts
  app/frontend/src/components/Navigation/Navigation.tsx
  app/frontend/src/components/SearchBox.tsx
  app/frontend/src/features/BugReport.test.tsx
  app/frontend/src/features/BugReport.tsx
  app/frontend/src/react-app-env.d.ts
  app/frontend/src/service/bugs.ts
  app/frontend/src/service/index.ts
  app/frontend/yarn.lock
Labels: feature, frontend

#577 Split up places and guides in GIS servicer.
  app/backend/src/couchers/servicers/gis.py
  app/backend/src/data/dummy_communities.json
  app/backend/src/dummy_data.py
  app/docker-compose.yml
  app/frontend/src/features/map/MapPage.tsx
  app/frontend/src/features/map/guides.ts
  app/frontend/src/features/map/pages.ts
  app/frontend/src/features/map/places.ts
  app/pb/gis.proto
Labels: backend, frontend

#607 Separate docker-compose into dev and test, and update docs
  app/backend/readme.md
  app/docker-compose.test.yml
  app/docker-compose.yml
  app/readme.md
  docs/docker.md
Labels: backend, docs

#609 fix: lower cache time for username2Id query
  app/frontend/src/features/userQueries/constants.ts
  app/frontend/src/reactQueryClient.tsx
Labels: bug, frontend

#578 Discussions and comment section (threads)
  app/backend/src/app.py
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/migrations/versions/71b0339a96bd_update_threads_and_discussions.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/communities.py
  app/backend/src/couchers/servicers/discussions.py
  app/backend/src/couchers/servicers/groups.py
  app/backend/src/couchers/servicers/pages.py
  app/backend/src/dummy_data.py
  app/backend/src/tests/test_communities.py
  app/backend/src/tests/test_discussions.py
  app/backend/src/tests/test_fixtures.py
  app/backend/src/tests/test_groups.py
  app/backend/src/tests/test_pages.py
  app/backend/src/tests/test_threads.py
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/components/Comments/CommentBox.tsx
  app/frontend/src/components/Comments/NewComment.tsx
  app/frontend/src/features/Home.tsx
  app/frontend/src/features/communities/CommunityPage.tsx
  app/frontend/src/features/communities/DiscussionPage.tsx
  app/frontend/src/features/communities/GroupPage.tsx
  app/frontend/src/features/communities/NewPagePage.tsx
  app/frontend/src/features/communities/PagePage.tsx
  app/frontend/src/service/client.ts
  app/frontend/src/service/communities.ts
  app/frontend/src/service/discussions.ts
  app/frontend/src/service/groups.ts
  app/frontend/src/service/index.ts
  app/frontend/src/service/threads.ts
  app/pb/communities.proto
  app/pb/discussions.proto
  app/pb/groups.proto
  app/pb/pages.proto
Labels: backend, feature, frontend

#619 Add RPC to get account info
  app/backend/src/couchers/servicers/account.py
  app/backend/src/tests/test_account.py
  app/pb/account.proto
Labels: backend, feature

#626 Add doc explaining the "Life of an RPC call through the backend"
  docs/life-of-an-rpc.md
Labels: backend, docs

#623 Reset password functionality
  app/backend/src/couchers/tasks.py
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/features/BugReport.test.tsx
  app/frontend/src/features/auth/login/PasswordForm.tsx
  app/frontend/src/features/auth/password/ChangePasswordPage.test.tsx
  app/frontend/src/features/auth/password/ChangePasswordPage.tsx
  app/frontend/src/features/auth/password/CompleteResetPasswordPage.test.tsx
  app/frontend/src/features/auth/password/CompleteResetPasswordPage.tsx
  app/frontend/src/features/auth/password/ResetPasswordPage.test.tsx
  app/frontend/src/features/auth/password/ResetPasswordPage.tsx
  app/frontend/src/features/auth/password/index.ts
  app/frontend/src/features/profile/ProfilePage.tsx
  app/frontend/src/service/account.ts
  app/frontend/src/service/client.ts
  app/frontend/src/service/index.ts
  app/frontend/src/setupTests.ts
Labels: feature, frontend

#479 Background jobs
  app/backend.dev.env
  app/backend/pb/internal/jobs.proto
  app/backend/src/app.py
  app/backend/src/couchers/config.py
  app/backend/src/couchers/db.py
  app/backend/src/couchers/email/__init__.py
  app/backend/src/couchers/email/dev.py
  app/backend/src/couchers/email/smtp.py
  app/backend/src/couchers/jobs/__init__.py
  app/backend/src/couchers/jobs/definitions.py
  app/backend/src/couchers/jobs/enqueue.py
  app/backend/src/couchers/jobs/handlers.py
  app/backend/src/couchers/jobs/worker.py
  app/backend/src/couchers/migrations/versions/4c03febc376e_add_background_jobs.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/account.py
  app/backend/src/couchers/servicers/auth.py
  app/backend/src/couchers/tasks.py
  app/backend/src/tests/test_bg_jobs.py
  app/backend/src/tests/test_email.py
  app/generate_protos.sh
Labels: backend, feature

#628 Separate CreatePage into CreatePlace and CreateGuide and add parent_node_id to pages
  app/backend/src/couchers/db.py
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/migrations/versions/93bda1361f40_add_page_parent.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/pages.py
  app/backend/src/dummy_data.py
  app/backend/src/tests/test_communities.py
  app/backend/src/tests/test_db.py
  app/backend/src/tests/test_discussions.py
  app/backend/src/tests/test_pages.py
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/features/communities/NewGuideForm.tsx
  app/frontend/src/features/communities/NewGuidePage.tsx
  app/frontend/src/features/communities/NewPagePage.tsx
  app/frontend/src/features/communities/NewPlaceForm.tsx
  app/frontend/src/features/communities/NewPlacePage.tsx
  app/frontend/src/service/pages.ts
  app/pb/pages.proto
Labels: backend, frontend

#627 Join groups/communities
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/migrations/versions/83e5a560bba3_remove_unused_fields_from_.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/communities.py
  app/backend/src/couchers/servicers/groups.py
  app/backend/src/tests/test_communities.py
  app/backend/src/tests/test_groups.py
  app/frontend/src/features/communities/CommunityPage.tsx
  app/frontend/src/features/communities/GroupPage.tsx
  app/frontend/src/service/communities.ts
  app/frontend/src/service/groups.ts
  app/pb/communities.proto
  app/pb/groups.proto
Labels: backend, feature

#634 Enforce main page uniqueness with partial index instead of extra field
  app/backend/src/couchers/migrations/versions/0a761d533cd7_enforce_main_page_uniqueness_index.py
  app/backend/src/couchers/models.py
  app/backend/src/dummy_data.py
  app/backend/src/tests/test_communities.py
  app/backend/src/tests/test_discussions.py
  app/backend/src/tests/test_pages.py
Labels: backend, refactoring

#635 Remove thread_id from cluster
  app/backend/src/couchers/migrations/versions/382aa8592af0_remove_thread_id_from_cluster.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/communities.py
  app/backend/src/couchers/servicers/groups.py
  app/backend/src/dummy_data.py
  app/backend/src/tests/test_communities.py
  app/backend/src/tests/test_discussions.py
  app/backend/src/tests/test_pages.py
  app/frontend/src/features/communities/CommunityPage.tsx
  app/frontend/src/features/communities/GroupPage.tsx
  app/pb/communities.proto
  app/pb/groups.proto
Labels: backend, bug, frontend

#646 Make CI run in parallel and out-of-order
  .gitlab-ci.yml
Labels: devops

#645 Enforce single official cluster with partial index
  app/backend/src/couchers/migrations/versions/6507ac862688_official_cluster_partial_index.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/communities.py
  app/backend/src/couchers/servicers/discussions.py
  app/backend/src/couchers/servicers/groups.py
  app/backend/src/couchers/servicers/pages.py
  app/backend/src/dummy_data.py
  app/backend/src/tests/test_communities.py
  app/backend/src/tests/test_discussions.py
  app/backend/src/tests/test_pages.py
Labels: backend

#649 Get rid of log spam from background worker
  app/backend/src/app.py
  app/backend/src/couchers/jobs/worker.py
Labels: backend

#574 Pagination
  app/backend/src/couchers/servicers/conversations.py
  app/backend/src/couchers/servicers/requests.py
  app/backend/src/tests/test_conversations.py
  app/frontend/src/App.tsx
  app/frontend/src/components/Avatar/Avatar.tsx
  app/frontend/src/components/CircularProgress.tsx
  app/frontend/src/features/messages/Messages.test.tsx
  app/frontend/src/features/messages/Messages.tsx
  app/frontend/src/features/messages/groupchats/GroupChatListItem.tsx
  app/frontend/src/features/messages/groupchats/GroupChatView.tsx
  app/frontend/src/features/messages/groupchats/GroupChatsTab.stories.tsx
  app/frontend/src/features/messages/groupchats/GroupChatsTab.tsx
  app/frontend/src/features/messages/messagelist/ControlMessageView.tsx
  app/frontend/src/features/messages/messagelist/InfiniteMessageLoader.tsx
  app/frontend/src/features/messages/messagelist/MessageList.tsx
  app/frontend/src/features/messages/messagelist/MessageView.tsx
  app/frontend/src/features/messages/messagelist/useOnVisibleEffect.ts
  app/frontend/src/features/messages/surfing/HostRequestListItem.tsx
  app/frontend/src/features/messages/surfing/HostRequestView.tsx
  app/frontend/src/features/messages/surfing/SurfingTab.stories.tsx
  app/frontend/src/features/messages/surfing/SurfingTab.tsx
  app/frontend/src/features/messages/useOnVisibleEffect.ts
  app/frontend/src/features/messages/useSendFieldStyles.ts
  app/frontend/src/features/userPage/UserHeader.tsx
  app/frontend/src/service/conversations.ts
  app/frontend/src/service/requests.ts
  app/frontend/src/setupTests.ts
  app/frontend/src/stories/__mocks__/service.ts
  app/frontend/src/test/serviceMockDefaults.ts
  app/frontend/src/theme.ts
  app/pb/conversations.proto
  app/pb/requests.proto
Labels: backend, bug, feature, frontend

#653 Add meeting 17 notes
  docs/meetings/backend/Meeting 017.md
Labels: docs

#654 Remove createusers.py
  app/backend/requirements.txt
  app/backend/src/createusers.py
  app/backend/src/data/worldcities.csv
Labels: backend, refactoring

#636 Organise storybook
  app/frontend/.storybook/preview.js
  app/frontend/src/components/Alert.stories.tsx
  app/frontend/src/components/Autocomplete.stories.tsx
  app/frontend/src/components/Avatar/Avatar.stories.tsx
  app/frontend/src/components/Button/Button.stories.tsx
  app/frontend/src/components/CircularProgress.stories.tsx
  app/frontend/src/components/ConfirmationDialogWrapper.stories.tsx
  app/frontend/src/components/Dialog.stories.tsx
  app/frontend/src/components/EditUserLocationMap.stories.tsx
  app/frontend/src/components/HeaderButton.stories.tsx
  app/frontend/src/components/HostStatus.stories.tsx
  app/frontend/src/components/IconButton.stories.tsx
  app/frontend/src/components/Icons/Icons.stories.mdx
  app/frontend/src/components/Icons/index.ts
  app/frontend/src/components/Map.stories.tsx
  app/frontend/src/components/Markdown.stories.tsx
  app/frontend/src/components/Menu.stories.tsx
  app/frontend/src/components/Navigation/Navigation.stories.tsx
  app/frontend/src/components/Navigation/Navigation.tsx
  app/frontend/src/components/NotificationBadge.stories.tsx
  app/frontend/src/components/PageTitle.stories.tsx
  app/frontend/src/components/ScoreBar.stories.tsx
  app/frontend/src/components/TOS.stories.tsx
  app/frontend/src/components/TabBar/TabBar.stories.tsx
  app/frontend/src/components/TextBody.stories.tsx
  app/frontend/src/components/TextField.stories.tsx
  app/frontend/src/components/UserSummary.stories.tsx
  app/frontend/src/features/connections/friends/AddFriendButton.stories.tsx
  app/frontend/src/features/connections/friends/FriendList.stories.tsx
  app/frontend/src/features/connections/friends/FriendRequestsReceived.stories.tsx
  app/frontend/src/features/connections/friends/FriendRequestsSent.stories.tsx
  app/frontend/src/features/connections/friends/FriendSummaryView.stories.tsx
  app/frontend/src/features/connections/friends/FriendTile.stories.tsx
  app/frontend/src/features/messages/groupchats/ChatDialogs.stories.mdx
  app/frontend/src/features/messages/groupchats/GroupChatListItem.stories.tsx
  app/frontend/src/features/messages/groupchats/GroupChatsTab.stories.tsx
  app/frontend/src/features/messages/messagelist/ControlMessageView.tsx
  app/frontend/src/features/messages/messagelist/InfiniteMessageLoader.stories.tsx
  app/frontend/src/features/messages/messagelist/MessageList.stories.tsx
  app/frontend/src/features/messages/messagelist/MessageView.stories.tsx
  app/frontend/src/features/messages/messagelist/MessageView.tsx
  app/frontend/src/features/messages/messagelist/TimeInterval.stories.tsx
  app/frontend/src/features/messages/messagelist/TimeInterval.tsx
  app/frontend/src/features/messages/surfing/HostRequestListItem.stories.tsx
  app/frontend/src/features/messages/surfing/HostRequestListItem.tsx
  app/frontend/src/features/messages/surfing/HostRequestStatusIcon.stories.tsx
  app/frontend/src/features/messages/surfing/SurfingTab.stories.tsx
  app/frontend/src/features/profile/ProfileMarkdownInput.stories.tsx
  app/frontend/src/features/profile/ProfileTagInput.tsx
  app/frontend/src/features/profile/ProfileTextInput.stories.tsx
  app/frontend/src/features/search/SearchBox.stories.tsx
  app/frontend/src/features/search/SearchBox.tsx
  app/frontend/src/features/search/SearchResult.stories.tsx
  app/frontend/src/features/userPage/UserSection.stories.tsx
  app/frontend/src/stories/Introduction.stories.mdx
  app/frontend/src/stories/__mocks__/service.ts
Labels: frontend

#664 Storybook entries for account management pages
  app/frontend/src/features/auth/email/ChangeEmailPage.stories.tsx
  app/frontend/src/features/auth/email/ConfirmChangeEmailPage.stories.tsx
  app/frontend/src/features/auth/password/ChangePasswordPage.stories.tsx
  app/frontend/src/features/auth/password/ChangePasswordPage.test.tsx
  app/frontend/src/features/auth/password/ChangePasswordPage.tsx
  app/frontend/src/features/auth/password/CompleteResetPasswordPage.stories.tsx
  app/frontend/src/features/auth/password/ResetPasswordPage.stories.tsx
  app/frontend/src/stories/__mocks__/service.ts
Labels: frontend, testing

#677 Moderation powers
  app/backend/src/couchers/db.py
  app/backend/src/couchers/servicers/communities.py
  app/backend/src/couchers/servicers/discussions.py
  app/backend/src/couchers/servicers/groups.py
  app/backend/src/couchers/servicers/pages.py
  app/backend/src/tests/test_communities.py
  app/backend/src/tests/test_groups.py
  app/backend/src/tests/test_pages.py
  app/pb/communities.proto
  app/pb/discussions.proto
  app/pb/groups.proto
  app/pb/pages.proto
Labels: backend, feature

#678 Simple message emails
  app/backend/src/couchers/jobs/definitions.py
  app/backend/src/couchers/jobs/handlers.py
  app/backend/src/couchers/migrations/versions/065886328b03_add_last_notified_message_id_to_.py
  app/backend/src/couchers/models.py
  app/backend/src/tests/test_bg_jobs.py
  app/backend/templates/unseen_messages.md
Labels: backend, feature

#679 General media upload
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/migrations/versions/05bf320ed680_add_completed_uploads.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/api.py
  app/backend/src/couchers/servicers/media.py
  app/backend/src/couchers/servicers/pages.py
  app/backend/src/tests/test_email.py
  app/backend/src/tests/test_media.py
  app/backend/src/tests/test_pages.py
  app/backend/templates/friend_request.md
  app/backend/templates/host_request.md
  app/media/src/media/server.py
  app/media/src/tests/test_server.py
  app/pb/api.proto
  app/pb/pages.proto
  docs/uploads.md
Labels: backend, feature

#650 Search API
  app/backend/src/app.py
  app/backend/src/couchers/migrations/versions/02eda17d1e9b_add_trigram_search_extension.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/api.py
  app/backend/src/couchers/servicers/search.py
  app/backend/src/tests/test_api.py
  app/backend/src/tests/test_fixtures.py
  app/backend/src/tests/test_search.py
  app/docker-compose.test.yml
  app/frontend/src/service/client.ts
  app/frontend/src/service/search.ts
  app/pb/api.proto
  app/pb/search.proto
  docs/search.md
Labels: backend, feature, priority: high, question

#704 Media upload fixes
  app/backend/src/couchers/models.py
  app/media.dev.env
  app/media/src/media/crypto.py
  app/media/src/media/server.py
  app/media/src/tests/test_server.py
Labels: backend

#709 Media scaling bugfix
  app/media/src/media/server.py
  app/media/src/tests/data/1000x5000.jpg
  app/media/src/tests/data/5000x1000.jpg
  app/media/src/tests/test_server.py
Labels: backend, bug

#712 about me page
  app/frontend/src/AppRoute.tsx
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/components/IconText.stories.tsx
  app/frontend/src/components/IconText.tsx
  app/frontend/src/components/TabBar/TabBar.tsx
  app/frontend/src/components/UserSummary.tsx
  app/frontend/src/features/constants.ts
  app/frontend/src/features/profile/ProfileForm.tsx
  app/frontend/src/features/profile/profilePage/About.tsx
  app/frontend/src/features/profile/profilePage/Overview.tsx
  app/frontend/src/features/profile/profilePage/ProfilePage.tsx
  app/frontend/src/features/userPage/UserHeader.tsx
  app/frontend/src/features/userPage/UserPage.tsx
  app/frontend/src/routes.ts
  app/frontend/src/utils/date.ts
Labels: feature, frontend

#658 Community page components
  app/frontend/package.json
  app/frontend/src/components/Avatar/Avatar.stories.tsx
  app/frontend/src/components/Button/Button.stories.tsx
  app/frontend/src/components/Button/Button.tsx
  app/frontend/src/components/CircularProgress.tsx
  app/frontend/src/components/HorizontalScroller.stories.tsx
  app/frontend/src/components/HorizontalScroller.tsx
  app/frontend/src/components/Icons/Icons.stories.mdx
  app/frontend/src/components/Icons/index.ts
  app/frontend/src/components/Map.stories.tsx
  app/frontend/src/components/Map.tsx
  app/frontend/src/components/UserSummary.stories.tsx
  app/frontend/src/features/communities/CommunityPage.tsx
  app/frontend/src/features/communities/CommunityPage/CircularIconButton.stories.tsx
  app/frontend/src/features/communities/CommunityPage/CircularIconButton.tsx
  app/frontend/src/features/communities/CommunityPage/DiscussionCard.stories.tsx
  app/frontend/src/features/communities/CommunityPage/DiscussionCard.tsx
  app/frontend/src/features/communities/CommunityPage/EventCard.stories.tsx
  app/frontend/src/features/communities/CommunityPage/EventCard.tsx
  app/frontend/src/features/communities/CommunityPage/HeaderImage.stories.tsx
  app/frontend/src/features/communities/CommunityPage/HeaderImage.tsx
  app/frontend/src/features/communities/CommunityPage/PlaceCard.stories.tsx
  app/frontend/src/features/communities/CommunityPage/PlaceCard.tsx
  app/frontend/src/features/communities/CommunityPage/SectionTitle.stories.tsx
  app/frontend/src/features/communities/CommunityPage/SectionTitle.tsx
  app/frontend/src/features/communities/useCommunity.ts
  app/frontend/src/features/connections/friends/FriendSummaryView.stories.tsx
  app/frontend/src/features/connections/friends/useFriendList.test.tsx
  app/frontend/src/features/connections/friends/useFriendRequests.test.tsx
  app/frontend/src/features/messages/groupchats/GroupChatListItem.stories.tsx
  app/frontend/src/features/messages/messagelist/ControlMessageView.tsx
  app/frontend/src/features/messages/messagelist/InfiniteMessageLoader.stories.tsx
  app/frontend/src/features/messages/messagelist/InfiniteMessageLoader.tsx
  app/frontend/src/features/messages/messagelist/MessageView.tsx
  app/frontend/src/features/messages/surfing/HostRequestListItem.stories.tsx
  app/frontend/src/features/search/SearchResult.stories.tsx
  app/frontend/src/features/userPage/UserHeader.tsx
  app/frontend/src/features/userQueries/useUserByUsername.test.tsx
  app/frontend/src/features/userQueries/useUsers.test.tsx
  app/frontend/src/queryKeys.ts
  app/frontend/src/react-lines-ellipsis.d.ts
  app/frontend/src/service/threads.ts
  app/frontend/src/stories/__mocks__/service.ts
  app/frontend/src/test/fixtures/community.json
  app/frontend/src/test/fixtures/defaultUser.json
  app/frontend/src/test/fixtures/discussion.json
  app/frontend/src/test/fixtures/getThreadRes.json
  app/frontend/src/test/fixtures/groupChat.json
  app/frontend/src/test/fixtures/hostRequest.json
  app/frontend/src/test/fixtures/place.json
  app/frontend/src/test/fixtures/users.json
  app/frontend/src/theme.ts
  app/frontend/src/utils/stripMarkdown.ts
  app/frontend/src/utils/timeAgo.ts
  app/frontend/src/utils/useOnVisibleEffect.ts
  app/frontend/yarn.lock
Labels: design, frontend

#713 User references
  app/frontend/src/AppRoute.tsx
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/components/Bar/ScoreBar.tsx
  app/frontend/src/components/HostingStatus/HostingStatus.stories.tsx
  app/frontend/src/components/HostingStatus/HostingStatus.tsx
  app/frontend/src/components/HostingStatus/index.ts
  app/frontend/src/components/Markdown.tsx
  app/frontend/src/components/Navigation/NavButton.tsx
  app/frontend/src/components/Pill/Pill.stories.tsx
  app/frontend/src/components/Pill/Pill.tsx
  app/frontend/src/components/Pill/index.ts
  app/frontend/src/components/TabBar/TabBar.tsx
  app/frontend/src/components/UserSummary.tsx
  app/frontend/src/features/messages/surfing/HostRequestView.tsx
  app/frontend/src/features/profile/profilePage/Overview.tsx
  app/frontend/src/features/profile/profilePage/ProfilePage.tsx
  app/frontend/src/features/profile/profilePage/References.stories.tsx
  app/frontend/src/features/profile/profilePage/References.tsx
  app/frontend/src/features/userPage/UserSection.tsx
  app/frontend/src/routes.ts
  app/frontend/src/service/user.ts
  app/frontend/src/stories/__mocks__/service.ts
Labels: feature, frontend

#707 Fix up migrations to match fresh migration
  app/backend/src/couchers/migrations/versions/17362f602f12_fix_migrations.py
  app/backend/src/couchers/models.py
Labels: backend, bug, refactoring

#714 home page
  app/frontend/src/features/constants.ts
  app/frontend/src/features/profile/constants.ts
  app/frontend/src/features/profile/profilePage/Home.tsx
  app/frontend/src/features/profile/profilePage/ProfilePage.tsx
  app/frontend/src/test/fixtures/community.json
  app/frontend/src/test/fixtures/discussion.json
  app/frontend/src/test/fixtures/getThreadRes.json
  app/frontend/src/test/fixtures/groupChat.json
  app/frontend/src/test/fixtures/hostRequest.json
  app/frontend/src/test/fixtures/place.json
Labels: feature, frontend
