Repository Couchers-org/couchers, pull requests merged in 2021-03, with the labels that each got.

#716 editing profile
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/features/auth/AuthPage.tsx
  app/frontend/src/features/auth/constants.tsx
  app/frontend/src/features/constants.ts
  app/frontend/src/features/profile/EditHostingPreferencePage.tsx
  app/frontend/src/features/profile/EditProfilePage.tsx
  app/frontend/src/features/profile/ProfileForm.tsx
  app/frontend/src/features/profile/ProfileTagInput.tsx
  app/frontend/src/features/profile/constants.ts
  app/frontend/src/features/profile/edit/EditHostingPreferencePage.tsx
  app/frontend/src/features/profile/edit/EditProfilePage.tsx
  app/frontend/src/features/profile/edit/ProfileForm.tsx
  app/frontend/src/features/profile/index.ts
  app/frontend/src/features/profile/useUpdateUserProfile.ts
  app/frontend/src/features/profile/view/About.tsx
  app/frontend/src/features/profile/view/Home.tsx
  app/frontend/src/features/profile/view/Overview.tsx
  app/frontend/src/features/profile/view/ProfilePage.tsx
  app/frontend/src/features/profile/view/References.stories.tsx
  app/frontend/src/features/profile/view/References.tsx
  app/frontend/src/features/userPage/UserHeader.tsx
Labels: feature, frontend

#710 Add TOS & Location to CompleteSignupForm
  app/frontend/src/features/auth/signup/CompleteSignupForm.tsx
  app/frontend/src/features/auth/signup/Signup.tsx
  app/frontend/src/features/auth/useAuthStyles.ts
  app/frontend/src/service/search.ts
  app/frontend/src/service/user.ts
Labels: frontend

#729 absolute path for components directory
  app/frontend/src/components/Alert.tsx
  app/frontend/src/components/Avatar/Avatar.tsx
  app/frontend/src/components/Bar/BarWithHelp.tsx
  app/frontend/src/components/Comments/CommentBox.tsx
  app/frontend/src/components/EditUserLocationMap.tsx
  app/frontend/src/components/HostingStatus/HostingStatus.stories.tsx
  app/frontend/src/components/HostingStatus/HostingStatus.tsx
  app/frontend/src/components/IconText.stories.tsx
  app/frontend/src/components/TextField.tsx
  app/frontend/src/components/UserSummary.stories.tsx
  app/frontend/src/components/UserSummary.tsx
  app/frontend/tsconfig.json
Labels: frontend, refactoring

#732 Add meeting 18 notes
  docs/meetings/backend/Meeting 018.md
Labels: docs

#675 Add location and accepted tos to CompleteSignupReq
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/servicers/api.py
  app/backend/src/couchers/servicers/auth.py
  app/backend/src/couchers/servicers/jail.py
  app/backend/src/couchers/servicers/pages.py
  app/backend/src/tests/test_auth.py
  app/frontend/src/features/auth/signup/CompleteSignupForm.tsx
  app/frontend/src/features/auth/signup/Signup.tsx
  app/frontend/src/features/auth/useAuthStyles.ts
  app/frontend/src/service/user.ts
  app/pb/auth.proto
  app/pb/jail.proto
Labels: backend

#697 Community page part 2
  app/backend/src/couchers/servicers/communities.py
  app/backend/src/tests/test_communities.py
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/components/HorizontalScroller.stories.tsx
  app/frontend/src/components/HorizontalScroller.tsx
  app/frontend/src/components/Icons/Icons.stories.mdx
  app/frontend/src/components/Icons/index.ts
  app/frontend/src/features/communities/CommunityPage.tsx
  app/frontend/src/features/communities/CommunityPage/CircularIconButton.stories.tsx
  app/frontend/src/features/communities/CommunityPage/CircularIconButton.tsx
  app/frontend/src/features/communities/CommunityPage/CommunityPage.tsx
  app/frontend/src/features/communities/CommunityPage/DiscussionCard.tsx
  app/frontend/src/features/communities/CommunityPage/DiscussionsSection.tsx
  app/frontend/src/features/communities/CommunityPage/EventCard.tsx
  app/frontend/src/features/communities/CommunityPage/EventsSection.tsx
  app/frontend/src/features/communities/CommunityPage/HeaderImage.tsx
  app/frontend/src/features/communities/CommunityPage/PlaceCard.tsx
  app/frontend/src/features/communities/CommunityPage/PlacesSection.tsx
  app/frontend/src/features/communities/CommunityPage/SectionTitle.tsx
  app/frontend/src/features/communities/CommunityPage/index.ts
  app/frontend/src/features/communities/CommunityPage/placeImagePlaceholder.svg
  app/frontend/src/features/communities/useCommunity.ts
  app/frontend/src/features/constants.ts
  app/frontend/src/routes.ts
  app/frontend/src/theme.ts
Labels: design, frontend

#726 Profile references filter
  app/backend/src/couchers/servicers/api.py
  app/frontend/.storybook/main.js
  app/frontend/src/components/UserSummary.tsx
  app/frontend/src/features/connections/friends/useFriendList.test.tsx
  app/frontend/src/features/connections/friends/useFriendRequests.test.tsx
  app/frontend/src/features/constants.ts
  app/frontend/src/features/profile/constants.ts
  app/frontend/src/features/profile/view/ReferenceListItem.tsx
  app/frontend/src/features/profile/view/References.stories.tsx
  app/frontend/src/features/profile/view/References.test.tsx
  app/frontend/src/features/profile/view/References.tsx
  app/frontend/src/features/userQueries/useUserByUsername.test.tsx
  app/frontend/src/queryKeys.ts
  app/frontend/src/stories/__mocks__/service.ts
  app/frontend/src/test/fixtures/references.json
  app/frontend/src/test/fixtures/users.json
  app/pb/api.proto
Labels: backend, feature, frontend

#742 remove edit name / gender from profile editing and add it to settings page
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/servicers/api.py
  app/backend/src/tests/test_api.py
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/features/auth/Settings.tsx
  app/frontend/src/features/auth/constants.tsx
  app/frontend/src/features/auth/email/ChangeEmail.stories.tsx
  app/frontend/src/features/auth/email/ChangeEmail.test.tsx
  app/frontend/src/features/auth/email/ChangeEmail.tsx
  app/frontend/src/features/auth/email/ChangeEmailPage.test.tsx
  app/frontend/src/features/auth/email/ChangeEmailPage.tsx
  app/frontend/src/features/auth/email/ConfirmChangeEmail.stories.tsx
  app/frontend/src/features/auth/email/ConfirmChangeEmail.test.tsx
  app/frontend/src/features/auth/email/ConfirmChangeEmail.tsx
  app/frontend/src/features/auth/password/ChangePassword.stories.tsx
  app/frontend/src/features/auth/password/ChangePassword.test.tsx
  app/frontend/src/features/auth/password/ChangePassword.tsx
  app/frontend/src/features/auth/password/ChangePasswordPage.test.tsx
  app/frontend/src/features/auth/password/ChangePasswordPage.tsx
  app/frontend/src/features/auth/password/CompleteResetPassword.stories.tsx
  app/frontend/src/features/auth/password/CompleteResetPassword.test.tsx
  app/frontend/src/features/auth/password/CompleteResetPassword.tsx
  app/frontend/src/features/auth/password/ResetPassword.stories.tsx
  app/frontend/src/features/auth/password/ResetPassword.test.tsx
  app/frontend/src/features/auth/password/ResetPassword.tsx
  app/frontend/src/features/auth/password/index.ts
  app/frontend/src/features/profile/edit/ProfileForm.tsx
  app/frontend/src/features/profile/view/ProfilePage.tsx
  app/frontend/src/routes.ts
Labels: frontend, refactoring

#778 edit profile console error
  app/frontend/src/features/profile/edit/ProfileForm.tsx
Labels: bug, frontend

#780 Fix Date.now to a specific value to fix flaky timeAgo tests
  app/frontend/src/features/BugReport.test.tsx
  app/frontend/src/utils/timeAgo.test.ts
Labels: frontend, testing

#766 code organization, navbar overhaul, add friend button
  app/frontend/src/AppRoute.tsx
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/components/Button/Button.tsx
  app/frontend/src/components/Icons/Icons.stories.mdx
  app/frontend/src/components/Icons/index.ts
  app/frontend/src/components/Navigation/NavButton.tsx
  app/frontend/src/components/Navigation/Navigation.stories.tsx
  app/frontend/src/components/Navigation/Navigation.tsx
  app/frontend/src/constants.ts
  app/frontend/src/features/connections/constants.ts
  app/frontend/src/features/connections/friends/AddFriendButton.tsx
  app/frontend/src/features/profile/edit/EditHostingPreference.tsx
  app/frontend/src/features/profile/edit/EditHostingPreferencePage.tsx
  app/frontend/src/features/profile/edit/EditProfile.tsx
  app/frontend/src/features/profile/edit/EditProfilePage.tsx
  app/frontend/src/features/profile/hooks/useUpdateHostingPreferences.test.tsx
  app/frontend/src/features/profile/hooks/useUpdateHostingPreferences.ts
  app/frontend/src/features/profile/hooks/useUpdateUserProfile.test.ts
  app/frontend/src/features/profile/hooks/useUpdateUserProfile.ts
  app/frontend/src/features/profile/index.ts
  app/frontend/src/features/profile/view/Overview.tsx
  app/frontend/src/features/search/SearchBox.tsx
  app/frontend/src/theme.ts
Labels: frontend, refactoring

#788 Remove gender from service.user.updateProfile
  app/frontend/src/service/user.test.ts
  app/frontend/src/service/user.ts
Labels: bug, frontend

#787 Fix maps
  app/frontend/src/components/Map.tsx
  app/frontend/src/features/profile/ProfileTextInput.tsx
  app/frontend/src/features/profile/edit/EditProfile.tsx
  app/frontend/src/routes.ts
Labels: bug, frontend

#801 Fix duplicate ID warning for profile text input in console
  app/frontend/src/features/communities/NewGuideForm.tsx
  app/frontend/src/features/communities/NewPlaceForm.tsx
  app/frontend/src/features/profile/ProfileMarkdownInput.tsx
  app/frontend/src/features/profile/ProfileTextInput.tsx
  app/frontend/src/features/profile/edit/EditHostingPreference.tsx
  app/frontend/src/features/profile/edit/EditProfile.tsx
Labels: bug, frontend

#785 feature flag as env var
  app/frontend/.env.development
  app/frontend/.env.production
  app/frontend/src/features/connections/constants.ts
  app/frontend/src/react-app-env.d.ts
Labels: frontend, refactoring

#786 remove community standing and verification bars for beta
  app/frontend/src/components/Bar/BarWithHelp.tsx
  app/frontend/src/components/Bar/ScoreBar.tsx
Labels: frontend, refactoring

#781 Include profile pic/remove username in connections page
  app/frontend/src/components/TabBar/TabBar.stories.tsx
  app/frontend/src/components/TabBar/TabBar.tsx
  app/frontend/src/components/UserSummary.tsx
  app/frontend/src/features/connections/ConnectionsPage.tsx
  app/frontend/src/features/connections/constants.ts
  app/frontend/src/features/connections/friends/FriendList.test.tsx
  app/frontend/src/features/connections/friends/FriendSummaryView.tsx
  app/frontend/src/features/connections/friends/FriendTile.tsx
  app/frontend/src/features/messages/Messages.tsx
  app/frontend/src/features/profile/view/ProfilePage.tsx
Labels: frontend

#779 fix: replace date entry fields with component from @material-ui/pickers
  app/frontend/package.json
  app/frontend/src/components/Datepicker.stories.tsx
  app/frontend/src/components/Datepicker.tsx
  app/frontend/src/features/auth/constants.tsx
  app/frontend/src/features/auth/signup/CompleteSignupForm.tsx
  app/frontend/src/features/messages/constants.ts
  app/frontend/src/features/messages/surfing/NewHostRequest.tsx
  app/frontend/yarn.lock
Labels: feature, frontend

#818 fix home guests number
  app/frontend/src/components/Alert.stories.tsx
  app/frontend/src/components/Bar/ScoreBar.stories.tsx
  app/frontend/src/components/Datepicker.tsx
  app/frontend/src/features/connections/friends/FriendSummaryView.stories.tsx
  app/frontend/src/features/connections/friends/FriendTile.stories.tsx
  app/frontend/src/features/messages/constants.ts
  app/frontend/src/features/messages/groupchats/GroupChatListItem.stories.tsx
  app/frontend/src/features/profile/constants.ts
  app/frontend/src/features/profile/edit/EditHostingPreference.tsx
  app/frontend/src/features/userPage/UserSection.stories.tsx
Labels: bug, frontend

#814 User reporting
  app/frontend/src/components/Alert.tsx
  app/frontend/src/components/SuccessSnackbar/SuccessSnackbar.stories.tsx
  app/frontend/src/components/SuccessSnackbar/SuccessSnackbar.tsx
  app/frontend/src/components/SuccessSnackbar/index.ts
  app/frontend/src/constants.ts
  app/frontend/src/features/connections/friends/AddFriendButton.tsx
  app/frontend/src/features/profile/actions/ProfileActionsMenuButton.tsx
  app/frontend/src/features/profile/actions/ReportUserDialog.tsx
  app/frontend/src/features/profile/constants.ts
  app/frontend/src/features/profile/hooks/useProfileUser.tsx
  app/frontend/src/features/profile/view/Overview.tsx
  app/frontend/src/features/profile/view/ProfilePage.test.tsx
  app/frontend/src/features/profile/view/ProfilePage.tsx
  app/frontend/src/service/user.ts
  app/frontend/src/test/serviceMockDefaults.ts
Labels: feature, frontend

#825 Fix bouncy scrolling on mobile web
  app/frontend/src/components/EditUserLocationMap.tsx
  app/frontend/src/features/map/MapPage.tsx
  app/frontend/src/features/map/constants.ts
  app/frontend/src/features/messages/Messages.tsx
  app/frontend/src/features/messages/constants.ts
  app/frontend/src/features/messages/useMessageListStyles.ts
Labels: bug, frontend

#826 [MRG] Backend/test/testing unsetting profile information
  app/backend/src/couchers/servicers/api.py
  app/backend/src/tests/test_api.py
  app/backend/src/tests/test_fixtures.py
Labels: backend

#830 dashboard info
  app/frontend/src/features/Home.tsx
  app/frontend/src/features/constants.ts
Labels: feature, frontend, refactoring

#843 Fix failed frontend build
  app/frontend/src/features/connections/friends/useCancelFriendRequest.test.ts
  app/frontend/src/features/connections/friends/useCancelFriendRequest.ts
  app/frontend/src/features/connections/friends/useRespondToFriendRequest.test.tsx
  app/frontend/src/features/connections/friends/useRespondToFriendRequest.ts
Labels: frontend

#834 Frontend/bugfix/place creation
  app/backend/src/couchers/db.py
  app/frontend/src/components/EditLocationMap.tsx
  app/frontend/src/components/EditUserLocationMap.tsx
  app/frontend/src/features/communities/redirect.ts
Labels: backend, bug tool, frontend

#852 Update colour palette and add logo
  app/frontend/public/favicon.ico
  app/frontend/public/manifest.json
  app/frontend/src/components/Navigation/Navigation.tsx
  app/frontend/src/constants.ts
  app/frontend/src/features/auth/AuthPage.tsx
  app/frontend/src/features/auth/login/LoginForm.tsx
  app/frontend/src/features/auth/signup/CompleteSignupForm.tsx
  app/frontend/src/features/auth/signup/EmailForm.tsx
  app/frontend/src/features/auth/useAuthStyles.ts
  app/frontend/src/features/search/SearchResult.tsx
  app/frontend/src/resources/CouchersLogo.tsx
  app/frontend/src/theme.ts
Labels: feature, frontend

#860 Disable msg sending for closed/past requests
  app/backend/src/couchers/servicers/requests.py
  app/backend/src/tests/test_requests.py
  app/frontend/src/features/messages/Messages.tsx
  app/frontend/src/features/messages/constants.ts
  app/frontend/src/features/messages/requests/HostRequestListItem.stories.tsx
  app/frontend/src/features/messages/requests/HostRequestListItem.tsx
  app/frontend/src/features/messages/requests/HostRequestSendField.tsx
  app/frontend/src/features/messages/requests/HostRequestStatusIcon.stories.tsx
  app/frontend/src/features/messages/requests/HostRequestStatusIcon.tsx
  app/frontend/src/features/messages/requests/HostRequestView.tsx
  app/frontend/src/features/messages/requests/NewHostRequest.tsx
  app/frontend/src/features/messages/requests/RequestsTab.stories.tsx
  app/frontend/src/features/messages/requests/RequestsTab.tsx
  app/frontend/src/features/messages/useSendFieldStyles.ts
  app/frontend/src/features/profile/view/ProfilePage.tsx
Labels: frontend, refactoring

#870 Add events placeholder
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/components/Navigation/Navigation.tsx
  app/frontend/src/routes.ts
Labels: frontend

#873 Move preview from coucher.org to couchershq.org
  .gitlab-ci.yml
  app/frontend/.env.development
  app/frontend/.env.production
  app/frontend/README.md
  app/nginx/domains
  app/nginx/sites-enabled/dev-api.couchershq.org
  app/nginx/sites-enabled/dev-user-media.couchershq.org
  app/nginx/sites-enabled/preview.coucher.org
  app/proxy/envoy.yaml
  docs/cicd.md
  readme.md
Labels: devops

#869 Fix same-file input
  app/frontend/package.json
  app/frontend/src/components/AvatarInput.test.tsx
  app/frontend/src/components/AvatarInput.tsx
  app/frontend/src/service/api.ts
  app/frontend/yarn.lock
Labels: bug, frontend

#844 Fix EditUserLocationMap on mobile
  app/frontend/src/components/EditLocationMap.tsx
  app/frontend/src/components/EditUserLocationMap.tsx
  app/frontend/src/components/Map.tsx
Labels: bug, frontend

#883 About links to couchers.org
  app/frontend/src/features/auth/AuthPage.tsx
Labels: frontend

#853 Prevent zooming on mobile
  app/frontend/src/theme.ts
Labels: frontend

#874 Implement MessageUserButton
  app/frontend/src/features/messages/groupchats/CreateGroupChat.test.tsx
  app/frontend/src/features/messages/groupchats/CreateGroupChat.tsx
  app/frontend/src/features/profile/actions/MessageUserButton.test.tsx
  app/frontend/src/features/profile/actions/MessageUserButton.tsx
  app/frontend/src/features/profile/view/Overview.tsx
  app/frontend/src/service/conversations.ts
  app/frontend/src/test/hookWrapper.tsx
Labels: frontend
