Repository Couchers-org/couchers, pull requests merged in 2021-01, with the labels that each got.

#487 Refactor GeoJSON servicer
  app/backend/src/couchers/servicers/gis.py
Labels: backend, refactoring

#486 useUsers tests
  app/frontend/src/features/userQueries/useUserByUsername.test.tsx
  app/frontend/src/features/userQueries/useUserByUsername.ts
  app/frontend/src/features/userQueries/useUsers.test.tsx
  app/frontend/src/features/userQueries/useUsers.ts
  app/frontend/src/utils/arrayEq.ts
Labels: feature, frontend

#494 Add meeting 14 notes
  docs/meetings/backend/Meeting 014.md
Labels: backend, docs

#498 fix auth tests
  app/frontend/src/features/auth/AuthProvider.test.ts
  app/frontend/src/features/auth/useAuthStore.test.ts
  app/frontend/src/features/connections/friends/useFriendList.test.tsx
  app/frontend/src/features/profile/useUpdateHostingPreferences.test.tsx
  app/frontend/src/features/profile/useUpdateUserProfile.test.ts
  app/frontend/src/test/hookWrapper.tsx
  app/frontend/src/test/utils.ts
Labels: frontend, refactoring

#505 Frontend chore: clean up lint warnings
  app/frontend/package.json
  app/frontend/src/components/Map.tsx
  app/frontend/src/components/ScoreBar.tsx
  app/frontend/src/features/profile/ProfileTagInput.tsx
Labels: devops, frontend

#503 Frontend: send friend request
  app/frontend/package.json
  app/frontend/src/components/Icons/index.ts
  app/frontend/src/features/connections/friends/AddFriendButton.test.tsx
  app/frontend/src/features/connections/friends/AddFriendButton.tsx
  app/frontend/src/features/connections/friends/FriendRequestsSent.tsx
  app/frontend/src/features/connections/friends/useCancelFriendRequest.test.ts
  app/frontend/src/features/connections/friends/useCancelFriendRequest.ts
  app/frontend/src/features/userPage/UserHeader.tsx
  app/frontend/src/features/userPage/UserPage.tsx
  app/frontend/src/service/api.ts
  app/frontend/yarn.lock
Labels: dependencies, feature, frontend

#504 frontend chore: set up dependabot to check for package updates automatically
  .github/dependabot.yml
Labels: dependencies, frontend

#461 Threads API specification and implementation
  app/backend/src/app.py
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/migrations/versions/152a14ce8d96_modify_the_database.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/threads.py
  app/backend/src/tests/test_fixtures.py
  app/backend/src/tests/test_threads.py
  app/pb/threads.proto
Labels: backend

#488 Communities and groups
  app/backend/src/app.py
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/migrations/versions/f4754d7d469d_tweak_communities_and_groups.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/communities.py
  app/backend/src/couchers/servicers/groups.py
  app/backend/src/couchers/servicers/pages.py
  app/backend/src/couchers/utils.py
  app/backend/src/data/dummy_communities.json
  app/backend/src/dummy_data.py
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/features/communities/CommunityPage.tsx
  app/frontend/src/features/communities/GroupPage.tsx
  app/frontend/src/features/communities/PagePage.tsx
  app/frontend/src/service/client.ts
  app/frontend/src/service/communities.ts
  app/frontend/src/service/groups.ts
  app/frontend/src/service/index.ts
  app/pb/communities.proto
  app/pb/groups.proto
  app/pb/pages.proto
Labels: backend, feature, question

#521 Update the home page wording on the Alpha.
  app/vue/src/views/Home.vue
Labels: frontend-old

#520 frontend: notifications
  app/frontend/src/components/NotificationBadge.tsx
  app/frontend/src/components/TabBar/TabBar.stories.tsx
  app/frontend/src/components/TabBar/TabBar.tsx
  app/frontend/src/components/TabBar/index.ts
  app/frontend/src/constants.ts
  app/frontend/src/features/auth/Logout.tsx
  app/frontend/src/features/connections/ConnectionsPage.tsx
  app/frontend/src/features/connections/friends/useRespondToFriendRequest.ts
  app/frontend/src/features/messages/Messages.test.tsx
  app/frontend/src/features/messages/Messages.tsx
  app/frontend/src/features/useNotifications.ts
  app/frontend/src/service/api.ts
Labels: feature, frontend

#535 Communities
  app/.gitignore
  app/backend/.dockerignore
  app/backend/requirements.txt
  app/backend/src/app.py
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/migrations/versions/2affc63b4a01_regenerate_community_migrations.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/api.py
  app/backend/src/couchers/servicers/communities.py
  app/backend/src/couchers/servicers/gis.py
  app/backend/src/couchers/servicers/groups.py
  app/backend/src/couchers/servicers/pages.py
  app/backend/src/couchers/servicers/threads.py
  app/backend/src/couchers/utils.py
  app/backend/src/data/dummy_communities.json
  app/backend/src/data/dummy_users.json
  app/backend/src/data/osm/175905.geojson
  app/backend/src/data/osm/54224.geojson
  app/backend/src/data/osm/61320.geojson
  app/backend/src/data/osm/62149.geojson
  app/backend/src/data/osm/80500.geojson
  app/backend/src/data/osm/readme.md
  app/backend/src/dummy_data.json
  app/backend/src/dummy_data.py
  app/backend/src/tests/test_api.py
  app/backend/src/tests/test_fixtures.py
  app/backend/src/tests/test_pages.py
  app/backend/src/tests/test_threads.py
  app/frontend/src/AppRoutes.tsx
  app/frontend/src/components/EditLocationMap.tsx
  app/frontend/src/components/EditUserLocationMap.tsx
  app/frontend/src/features/Home.tsx
  app/frontend/src/features/communities/CommunityPage.tsx
  app/frontend/src/features/communities/GroupPage.tsx
  app/frontend/src/features/communities/NewPageForm.tsx
  app/frontend/src/features/communities/NewPagePage.tsx
  app/frontend/src/features/communities/PagePage.tsx
  app/frontend/src/features/map/MapPage.tsx
  app/frontend/src/features/map/communities.ts
  app/frontend/src/features/map/pages.ts
  app/frontend/src/service/client.ts
  app/frontend/src/service/communities.ts
  app/frontend/src/service/groups.ts
  app/frontend/src/service/index.ts
  app/frontend/src/service/pages.ts
  app/pb/communities.proto
  app/pb/gis.proto
  app/pb/groups.proto
  app/pb/pages.proto
  app/pb/threads.proto
  app/vue/src/views/Map.vue
Labels: backend, feature, frontend

#533 Code coverage: Add __init__.py files
  app/backend/src/couchers/__init__.py
  app/backend/src/couchers/servicers/__init__.py
Labels: backend, bug

#549 Fix flaky CI
  .gitlab-ci.yml
Labels: bug, devops

#550 Split unseen host request message count into sent and received
  app/backend/src/couchers/servicers/api.py
  app/backend/src/tests/test_requests.py
  app/frontend/src/features/messages/Messages.test.tsx
  app/frontend/src/features/messages/Messages.tsx
  app/pb/api.proto
Labels: backend, bug
