Repository Couchers-org/couchers, pull requests merged in 2022-01, with the labels that each got.

#2283 Add meeting 37 notes
  docs/meetings/backend/Meeting 037.md
Labels: docs

#2287 Fix up current email message
  app/web/src/features/auth/locales/en.json
Labels: bug, web

#2301 Add meeting 38 notes
  docs/meetings/backend/Meeting 038.md
Labels: docs, backend

#2308 Add a link to write a reference in email notifications
  app/backend/src/couchers/tasks.py
  app/backend/templates/host_reference.md
Labels: backend

#2307 Add private text to references
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/references.py
  app/backend/src/tests/test_references.py
  app/proto/references.proto
Labels: backend

#2310 Add python dependabot using pip-compile
  .github/dependabot.yml
  app/backend/requirements.in
  app/backend/requirements.txt
  app/media/requirements.in
  app/media/requirements.txt
  docs/requirements.md
Labels: backend

#2309 Add optional prefix to emails and making sender name configurable
  app/backend.dev.env
  app/backend/src/couchers/config.py
  app/backend/src/couchers/email/__init__.py
  app/backend/src/tests/test_bg_jobs.py
  app/backend/src/tests/test_email.py
  app/backend/src/tests/test_fixtures.py
Labels: backend

#2320 fix: block private pages with loader to prevent flash
  .gitpod.yml
  app/web/components/AppRoute.tsx
Labels: bug, web

#2288 Feature preview page and navigation cleanup
  app/web/.prettierignore
  app/web/components/Navigation/Navigation.tsx
  app/web/features/auth/FeaturePreview.tsx
  app/web/features/auth/locales/en.json
  app/web/pages/preview.tsx
  app/web/routes.ts
Labels: feature, web

#2325 Add user ids to report emails
  app/backend/templates/content_report.md
  app/backend/templates/reference_report.md
Labels: backend

#2345 Fix user id in reference email
  app/backend/src/couchers/tasks.py
Labels: backend

#2324 Update README.md
  app/web/README.md
Labels: web

#2368 Build protos in vercel
  app/web/ci-build-protos.sh
  app/web/dl-protos.sh
Labels: web

#2357 Switch to new stripe account
  app/backend/src/couchers/migrations/versions/a6c8b3a9a986_switch_to_new_stripe_account.py
  app/backend/src/couchers/models.py
Labels: backend

#2388 Fix password reset route
  app/web/routes.ts
Labels: web

#1282 SMS sending
  app/backend.dev.env
  app/backend/requirements.in
  app/backend/requirements.txt
  app/backend/src/couchers/config.py
  app/backend/src/couchers/migrations/versions/c21437364eb6_add_sms_log.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/phone/sms.py
  app/backend/src/tests/test_fixtures.py
  app/backend/src/tests/test_verification.py
Labels: backend

#2398 Add meeting 39 notes
  docs/meetings/backend/Meeting 039.md
Labels: docs, backend

#2402 Fix gitpod yaml to use right grpc container
  .gitpod.yml
Labels: priority: critical

#2401 WIP: auth translation key tidy
  app/web/.eslintrc.json
  app/web/features/auth/AuthPage.tsx
  app/web/features/auth/AuthProvider.test.ts
  app/web/features/auth/AuthProvider.tsx
  app/web/features/auth/CommunityGuidelines.tsx
  app/web/features/auth/FeaturePreview.tsx
  app/web/features/auth/NoFeaturePreviews.tsx
  app/web/features/auth/Settings.tsx
  app/web/features/auth/constants.tsx
  app/web/features/auth/email/ChangeEmail.tsx
  app/web/features/auth/email/ConfirmChangeEmail.tsx
  app/web/features/auth/jail/Jail.tsx
  app/web/features/auth/jail/LocationSection.tsx
  app/web/features/auth/jail/PasswordSection.tsx
  app/web/features/auth/jail/TOSSection.tsx
  app/web/features/auth/jail/constants.ts
  app/web/features/auth/locales/en.json
  app/web/features/auth/login/Login.test.tsx
  app/web/features/auth/login/Login.tsx
  app/web/features/auth/login/LoginForm.tsx
  app/web/features/auth/login/constants.ts
  app/web/features/auth/notifications/NotificationSettings.tsx
  app/web/features/auth/password/ChangePassword.tsx
  app/web/features/auth/password/CompleteResetPassword.tsx
  app/web/features/auth/password/ResetPassword.tsx
  app/web/features/auth/signup/AccountForm.tsx
  app/web/features/auth/signup/BasicForm.tsx
  app/web/features/auth/signup/FeedbackForm.tsx
  app/web/features/auth/signup/Signup.tsx
  app/web/features/auth/timezone/Timezone.tsx
  app/web/features/auth/useAuthStore.ts
  app/web/features/auth/username/Username.tsx
  app/web/package.json
Labels: web

#2440 Fix slug when the transformation ends up producing nothing
  app/backend/src/couchers/migrations/versions/a0d1c7fdfe5b_fix_slugify_for_empty_slugs.py
  app/backend/src/tests/slugify.sql
  app/backend/src/tests/test_db.py
Labels: backend, release notes: pending
