Repository Couchers-org/couchers, pull requests merged in 2022-03, with the labels that each got.

#2649 fix: redirect to page with middleware using absolute URL
  app/web/pages/_middleware.ts
Labels: web

#2612 Refactor: Removing weird translation keys that shouldn't appear in Weblate for donations
  app/web/features/donations/Donations.tsx
  app/web/features/donations/DonationsBox.tsx
  app/web/features/donations/constants.ts
  app/web/features/donations/locales/cs.json
  app/web/features/donations/locales/de.json
  app/web/features/donations/locales/en.json
  app/web/features/donations/locales/es.json
  app/web/features/donations/locales/fr.json
  app/web/features/donations/locales/hi.json
  app/web/features/donations/locales/it.json
  app/web/features/donations/locales/ja.json
  app/web/features/donations/locales/nb_NO.json
  app/web/features/donations/locales/pt_BR.json
  app/web/features/donations/locales/pt_PT.json
  app/web/features/donations/locales/ru.json
  app/web/features/donations/locales/zh_Hans.json
Labels: web

#2650 fix: formatting error
  app/web/features/donations/constants.ts
Labels: web

#2594 fix: change node requirement to say 14.x
  app/web/dev.Dockerfile
  app/web/package.json
  app/web/prod.Dockerfile
Labels: web, devops

#2590 Update Other pages “handbook”
  app/web/markdown/handbook.md
Labels: cms/pending_publish

#2673 fix: prettier formatting issues
  app/web/components/Linkify.tsx
Labels: web

#2674 Closes #2616 - Line break display in user-generated text of the profile page rendered with MarkdownNoSSR
  app/web/components/MarkdownNoSSR.tsx
Labels: web, release notes: pending

#2671 fix: message input not visible in mobile screens
  app/web/features/messages/groupchats/GroupChatView.tsx
Labels: web, release notes: pending

#2676 Create Blog “2022/03/10/hosting-refugees-and-finding-shelter-with-couchers-org”
  app/web/markdown/blog.md
  app/web/markdown/blog/2022/03/10/hosting-refugees-and-finding-shelter-with-couchers-org-en.md
  app/web/markdown/blog/2022/03/10/hosting-refugees-and-finding-shelter-with-couchers-org-hu.md
  app/web/markdown/blog/2022/03/10/hosting-refugees-and-finding-shelter-with-couchers-org-pl.md
  app/web/markdown/blog/2022/03/10/hosting-refugees-and-finding-shelter-with-couchers-org-uk.md
  app/web/public/img/blog/20220313_ukraine_en.jpg
  app/web/public/img/blog/20220313_ukraine_hu.jpg
  app/web/public/img/blog/20220313_ukraine_pl.jpg
  app/web/public/img/blog/20220313_ukraine_uk.jpg
Labels: cms/draft

#2692 Add meeting 42 notes
  docs/meetings/backend/Meeting 042.md
Labels: docs, backend

#2726 Response rate API call
  app/backend/src/couchers/servicers/requests.py
  app/backend/src/tests/test_requests.py
  app/proto/admin.proto
  app/proto/requests.proto
  app/web/service/requests.ts
Labels: backend, release notes: pending

#2720 Allow hosting references on accepted requests too
  app/web/features/messages/requests/HostRequestSendField.tsx
Labels: web, release notes: pending
