Repository Couchers-org/couchers, pull requests merged in 2022-05, with the labels that each got.

#2869 Remove card in landing page first section
  app/web/features/landing/LandingPage.tsx
Labels: web

#2876 Add GetChats admin call
  app/backend/src/couchers/servicers/admin.py
  app/backend/src/tests/test_admin.py
  app/proto/admin.proto
Labels: backend

#2924 Update profile page button styles
  app/web/features/profile/view/Overview.tsx
Labels: web, design

#2919 Add link to donations page on the "support" word in the dashboard
  app/web/features/dashboard/Dashboard.tsx
  app/web/features/dashboard/locales/en.json
Labels: web

#2904 Rename button label "Filters" to "Search" on mobile
  app/web/features/search/FilterDialog.tsx
  app/web/features/search/SearchBox.test.tsx
  app/web/features/search/SearchBox.tsx
  app/web/features/search/SearchPage.tsx
  app/web/features/search/constants.ts
  app/web/features/search/locales/en.json
Labels: web, design, improvement

#2918 Dashboard Hero Section
  app/web/components/Autocomplete.tsx
  app/web/components/LocationAutocomplete/LocationAutocomplete.stories.tsx
  app/web/components/LocationAutocomplete/LocationAutocomplete.test.tsx
  app/web/components/LocationAutocomplete/LocationAutocomplete.tsx
  app/web/components/LocationAutocomplete/index.ts
  app/web/features/communities/events/EventForm.tsx
  app/web/features/dashboard/Dashboard.tsx
  app/web/features/dashboard/Hero/Hero.tsx
  app/web/features/dashboard/Hero/HeroButton.tsx
  app/web/features/dashboard/Hero/HeroImageAttribution.tsx
  app/web/features/dashboard/Hero/HeroLinks.tsx
  app/web/features/dashboard/Hero/HeroSearch.tsx
  app/web/features/dashboard/Hero/index.ts
  app/web/features/dashboard/Hero/mesut-kaya-eOcyhe5-9sQ-unsplash.jpeg
  app/web/features/dashboard/Hero/useHeroBackgroundTheme.ts
  app/web/features/dashboard/locales/en.json
  app/web/features/search/FilterDialog.stories.tsx
  app/web/features/search/FilterDialog.test.tsx
  app/web/features/search/FilterDialog.tsx
  app/web/features/search/SearchBox.stories.tsx
  app/web/features/search/SearchBox.test.tsx
  app/web/features/search/SearchBox.tsx
  app/web/features/search/SearchPage.tsx
  app/web/features/search/SearchResultsList.test.tsx
  app/web/features/search/SearchResultsList.tsx
  app/web/features/search/constants.ts
  app/web/features/search/useRouteWithSearchFilters.ts
  app/web/pages/dashboard.tsx
  app/web/resources/locales/en.json
  app/web/routes.ts
  app/web/utils/searchFilters.test.ts
  app/web/utils/searchFilters.ts
Labels: feature, web, design
