Repository Couchers-org/couchers, pull requests merged in 2022-04, with the labels that each got.

#2775 Add meeting notes 2022/04/06
  docs/meetings/web/2022-04-06.md
Labels: web

#2721 add profile save confirmation
  app/web/features/profile/edit/EditHostingPreference.tsx
  app/web/features/profile/edit/EditProfile.tsx
  app/web/features/profile/locales/en.json
  app/web/utils/hooks.ts
Labels: web, release notes: pending

#2756 Add reply rate and time to user overview
  app/backend/src/couchers/servicers/requests.py
  app/backend/src/tests/test_requests.py
  app/proto/requests.proto
  app/web/components/LabelAndText.tsx
  app/web/features/profile/locales/en.json
  app/web/features/profile/view/About.tsx
  app/web/features/profile/view/ProfilePage.tsx
  app/web/features/profile/view/UserOverview.tsx
  app/web/features/profile/view/userLabels.tsx
  app/web/features/queryKeys.ts
  app/web/features/search/SearchResult.tsx
  app/web/pages/profile/[tab].tsx
  app/web/utils/dayjs.ts
Labels: web, release notes: pending

#2783 chore: update jest config to Next's SWC compiler
  app/web/jest.config.js
  app/web/package.json
  app/web/yarn.lock
Labels: web, devops

#2795 fix: disable request button when user is not hosting
  app/web/features/profile/view/Overview.tsx
Labels: web, release notes: pending

#2630 Bump pool size to 50 for db connections
  app/backend/src/couchers/constants.py
  app/backend/src/couchers/db.py
  app/backend/src/couchers/server.py
  app/docker-compose.prod.yml
Labels: backend

#2812 Meeting notes 2022-04-21
  docs/meetings/web/2022-04-21.md
Labels: web

#2813 Update Other pages “handbook”
  app/web/markdown/handbook.md
Labels: cms/pending_review

#2834 Update Other pages “handbook”
  app/web/markdown/handbook.md
Labels: cms/pending_review

#2835 Fix storybook dev mode in local (issue with dependencies + CaseSensitivePathsPlugin)
  app/web/.storybook/main.js
  app/web/package.json
  app/web/yarn.lock
Labels: dependencies, web

#2838 fix: navbar blocking handbook link visibility
  app/web/components/AppRoute.tsx
  app/web/features/messages/groupchats/GroupChatView.tsx
Labels: release notes: pending

#2842 Update web setup instructions
  app/web/README.md
Labels: docs, web
