Repository Couchers-org/couchers, pull requests merged in 2022-02, with the labels that each got.

#2471 Implement conversation muting
  app/backend/src/couchers/constants.py
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/jobs/handlers.py
  app/backend/src/couchers/migrations/versions/e96f385d0f66_add_mute_to_group_chat_subscription.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/conversations.py
  app/backend/src/couchers/utils.py
  app/backend/src/tests/test_bg_jobs.py
  app/backend/src/tests/test_conversations.py
  app/proto/conversations.proto
Labels: backend, release notes: pending

#2473 Add meeting 40 notes
  docs/meetings/backend/Meeting 040.md
Labels: docs

#2476 Don't notify author about messages they send
  app/backend/src/couchers/jobs/handlers.py
Labels: backend

#2475 Unsubscribe from notifications
  app/backend.dev.env
  app/backend/proto/internal/unsubscribe.proto
  app/backend/src/couchers/config.py
  app/backend/src/couchers/crypto.py
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/notifications/settings.py
  app/backend/src/couchers/notifications/unsubscribe.py
  app/backend/src/couchers/servicers/auth.py
  app/backend/src/couchers/tasks.py
  app/backend/src/couchers/urls.py
  app/backend/src/tests/test_fixtures.py
  app/backend/templates/macros.html
  app/backend/templates/notification.md
  app/proto/auth.proto
  app/web/features/auth/locales/en.json
  app/web/features/auth/notifications/Unsubscribe.tsx
  app/web/pages/unsubscribe.tsx
  app/web/service/auth.ts
Labels: backend, release notes: pending

#1677 Backend/refactoring/small changes inspired by delete account
  app/backend/src/couchers/jobs/definitions.py
  app/backend/src/couchers/jobs/handlers.py
  app/backend/src/couchers/models.py
  app/backend/src/tests/test_account.py
  app/backend/src/tests/test_admin.py
  app/backend/src/tests/test_api.py
  app/backend/src/tests/test_auth.py
  app/backend/src/tests/test_bg_jobs.py
  app/backend/src/tests/test_conversations.py
  app/backend/src/tests/test_fixtures.py
  app/backend/src/tests/test_jail.py
  app/backend/src/tests/test_references.py
  app/backend/src/tests/test_visible_users.py
  app/backend/templates/login.md
  app/backend/templates/signup_continue.md
Labels: backend, refactoring, priority: low

#2507 Update Other pages “foundation”
  app/web/markdown/foundation.md
Labels: cms/draft

#2523 Create Blog “2022/02/07/five-things-to-do-in-any-city”
  app/web/markdown/blog.md
  app/web/markdown/blog/2022/02/07/five-things-to-do-in-any-city.md
Labels: cms/draft

#2508 Update Other pages “handbook”
  app/web/markdown/handbook.md
Labels: cms/pending_publish

#2521 fix: highlight invalid location as error before creation
  app/web/features/search/LocationAutocomplete/LocationAutocomplete.tsx
  app/web/features/search/constants.ts
Labels: web, release notes: pending

#1630 Implement self-service account deletion
  app/backend/src/couchers/constants.py
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/jobs/definitions.py
  app/backend/src/couchers/jobs/handlers.py
  app/backend/src/couchers/jobs/worker.py
  app/backend/src/couchers/migrations/versions/6c05f801b0c6_add_account_deletion.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/account.py
  app/backend/src/couchers/servicers/auth.py
  app/backend/src/couchers/servicers/threads.py
  app/backend/src/couchers/tasks.py
  app/backend/src/couchers/urls.py
  app/backend/src/tests/test_account.py
  app/backend/src/tests/test_admin.py
  app/backend/src/tests/test_api.py
  app/backend/src/tests/test_auth.py
  app/backend/src/tests/test_bg_jobs.py
  app/backend/src/tests/test_conversations.py
  app/backend/src/tests/test_email.py
  app/backend/src/tests/test_fixtures.py
  app/backend/src/tests/test_jail.py
  app/backend/src/tests/test_references.py
  app/backend/src/tests/test_visible_users.py
  app/backend/templates/account_deletion_confirmation.md
  app/backend/templates/account_deletion_successful.md
  app/backend/templates/account_recovered_successful.md
  app/backend/templates/login.md
  app/backend/templates/signup_continue.md
  app/backend/templates/signup_verify.md
  app/proto/account.proto
  app/proto/admin.proto
  app/proto/auth.proto
  app/web/features/auth/Settings.tsx
  app/web/features/auth/deletion/ConfirmDeleteAccount.tsx
  app/web/features/auth/deletion/DeleteAccount.tsx
  app/web/features/auth/deletion/RecoverAccount.tsx
  app/web/features/auth/locales/en.json
  app/web/pages/delete-account.tsx
  app/web/pages/recover-account.tsx
  app/web/service/account.ts
  app/web/service/auth.ts
Labels: feature, backend, release notes: pending

#2528 Send reasons for account deletion to support
  app/backend/src/couchers/servicers/account.py
  app/backend/src/couchers/tasks.py
  app/backend/templates/account_deletion_report.md
Labels: backend

#1863 Backend/docs/vscode setup
  app/.devcontainer/devcontainer.json
  app/.devcontainer/docker-compose.yml
  app/backend/readme.md
  docs/backend-in-vscode.md
Labels: backend

#2538 chore: Move `pt` translations to `pt-BR`
  app/web/features/auth/locales/pt.json
  app/web/features/auth/locales/pt_BR.json
  app/web/features/communities/events/constants.ts
  app/web/features/donations/locales/pt.json
  app/web/features/donations/locales/pt_BR.json
Labels: web

#2539 fix: duplicate headers in edit community page
  app/web/features/communities/EditCommunityInfoPage.tsx
Labels: web, release notes: pending

#2525 Add chat muting
  app/web/components/Icons/Icons.stories.mdx
  app/web/components/Icons/index.ts
  app/web/features/messages/groupchats/GroupChatListItem.tsx
  app/web/features/messages/groupchats/GroupChatView.test.tsx
  app/web/features/messages/groupchats/GroupChatView.tsx
  app/web/features/messages/groupchats/LeaveDialog.tsx
  app/web/features/messages/groupchats/MuteDialog.tsx
  app/web/features/messages/locales/en.json
  app/web/service/conversations.ts
  app/web/test/fixtures/groupChat.json
  app/web/utils/date.ts
  app/web/utils/dayjs.ts
Labels: feature, web, release notes: pending

#2532 set node version for web to >=14
  app/web/package.json
Labels: web

#2544 Self host fonts instead of using Google Fonts
  app/web/.storybook/preview.js
  app/web/app.css
  app/web/fonts.ts
  app/web/package.json
  app/web/pages/_app.tsx
  app/web/yarn.lock
Labels: web

#2542 Include translation files in serverless contexts
  app/web/next-i18next.config.js
Labels: web

#2580 Add sentry integration into media container
  app/media/requirements.in
  app/media/requirements.txt
  app/media/src/media/server.py
Labels: backend

#2579 Make hosting status non-nullable
  app/backend/src/couchers/migrations/versions/9261e9647b69_make_hosting_status_non_nullable.py
  app/backend/src/couchers/models.py
  app/backend/src/dummy_data.py
  app/backend/src/tests/test_api.py
  app/backend/src/tests/test_fixtures.py
Labels: backend

#2561 Add languages to preview
  app/web/i18n/allLanguages.js
  app/web/next-i18next.config.js
  app/web/tsconfig.json
Labels: web

#2582 Add index on active users
  app/backend/src/couchers/migrations/versions/82289f7fdeab_add_active_user_index.py
  app/backend/src/couchers/models.py
Labels: backend

#2581 Use column_property for faster tz lookup
  app/backend/Dockerfile
  app/backend/src/couchers/migrations/versions/39295ed931f6_update_tz_table_and_add_index.py
  app/backend/src/couchers/models.py
Labels: backend

#2545 filter duplicate map search results
  app/web/utils/hooks.ts
  app/web/utils/nomatim.test.ts
  app/web/utils/nominatim.ts
Labels: release notes: pending

#2586 Add meeting 41 notes
  docs/meetings/backend/Meeting 041.md
Labels: backend

#2577 Add security headers to nextjs
  app/web/next.config.js
Labels: web

#2613 Add pl and fr-CA to langauges
  app/web/i18n/allLanguages.js
Labels: web

#2615 Meeting 2022-02-23
  docs/meetings/web/2022-02-23.md
Labels: web
