Repository Couchers-org/couchers, pull requests merged in 2024-05, with the labels that each got.

#4272 Add timeout to fix map zoom animation; Remove redundant animation calls
  app/web/components/LocationAutocomplete/LocationAutocomplete.tsx
  app/web/features/search/FilterDialog.tsx
  app/web/features/search/SearchBox.tsx
  app/web/features/search/SearchPage.tsx
  app/web/features/search/locales/en.json
Labels: bug, web

#4326 AddAdminNote API for user moderation
  app/backend/src/couchers/migrations/versions/d45f557f87e8_add_admin_note_to_users.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/servicers/admin.py
  app/backend/src/tests/test_admin.py
  app/proto/admin.proto
Labels: feature, backend, priority: high

#4321 AddAdmin/RemoveAdmin calls in Communities service
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/servicers/communities.py
  app/backend/src/tests/test_communities.py
  app/proto/communities.proto
Labels: feature, backend, priority: high

#4333 Add newsletter subscription option on signup form
  app/web/Dockerfile
  app/web/features/auth/locales/en.json
  app/web/features/auth/signup/AccountForm.test.tsx
  app/web/features/auth/signup/AccountForm.tsx
  app/web/service/auth.ts
Labels: release notes: pending

#4044 Reworked notifications, notify for events
  app/backend.dev.env
  app/backend/proto/internal/jobs.proto
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/jobs/handlers.py
  app/backend/src/couchers/jobs/worker.py
  app/backend/src/couchers/migrations/versions/1c999dea180d_add_new_notification_types.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/notifications/background.py
  app/backend/src/couchers/notifications/fan_funcs.py
  app/backend/src/couchers/notifications/notify.py
  app/backend/src/couchers/notifications/settings.py
  app/backend/src/couchers/servicers/conversations.py
  app/backend/src/couchers/servicers/events.py
  app/backend/src/couchers/servicers/notifications.py
  app/backend/src/couchers/servicers/search.py
  app/backend/src/couchers/tasks.py
  app/backend/src/couchers/urls.py
  app/backend/src/tests/test_communities.py
  app/backend/src/tests/test_conversations.py
  app/backend/src/tests/test_dummy_data.py
  app/backend/src/tests/test_fixtures.py
  app/backend/src/tests/test_notifications.py
  app/backend/templates/digest.md
  app/backend/templates/notification.md
  app/media.dev.env
  app/proto/notifications.proto
  app/web/Dockerfile
  app/web/features/auth/locales/en.json
  app/web/features/auth/notifications/NotificationSettings.tsx
Labels: backend, release notes: pending

#4277 Do not email option
  app/backend/proto/internal/unsubscribe.proto
  app/backend/src/couchers/email/__init__.py
  app/backend/src/couchers/errors.py
  app/backend/src/couchers/jobs/handlers.py
  app/backend/src/couchers/migrations/versions/b5355a1f60f6_add_do_not_email.py
  app/backend/src/couchers/models.py
  app/backend/src/couchers/notifications/unsubscribe.py
  app/backend/src/couchers/servicers/account.py
  app/backend/src/couchers/servicers/admin.py
  app/backend/src/couchers/servicers/api.py
  app/backend/src/couchers/servicers/notifications.py
  app/backend/src/couchers/tasks.py
  app/backend/src/tests/test_api.py
  app/backend/src/tests/test_email.py
  app/backend/src/tests/test_notifications.py
  app/backend/templates/account_deletion_confirmation.md
  app/backend/templates/account_deletion_successful.md
  app/backend/templates/account_recovered_successful.md
  app/backend/templates/api_key.md
  app/backend/templates/donation_received.md
  app/backend/templates/email_base_html.html
  app/backend/templates/email_base_plain.md
  app/backend/templates/email_changed_confirmation_new_email.md
  app/backend/templates/email_changed_confirmation_old_email.md
  app/backend/templates/friend_request.md
  app/backend/templates/friend_request_accepted.md
  app/backend/templates/host_reference.md
  app/backend/templates/host_request.md
  app/backend/templates/host_request_accepted_guest.md
  app/backend/templates/host_request_cancelled_host.md
  app/backend/templates/host_request_confirmed_host.md
  app/backend/templates/host_request_rejected_guest.md
  app/backend/templates/login.md
  app/backend/templates/macros.html
  app/backend/templates/password_reset.md
  app/backend/templates/reference_reminder.md
  app/backend/templates/signup_continue.md
  app/backend/templates/signup_verify.md
  app/backend/templates/unseen_message_guest.md
  app/backend/templates/unseen_message_host.md
  app/backend/templates/unseen_messages.md
  app/proto/account.proto
  app/proto/admin.proto
  app/proto/notifications.proto
  app/web/Dockerfile
  app/web/features/auth/Settings.tsx
  app/web/features/auth/email/ChangeEmail.stories.tsx
  app/web/features/auth/email/ChangeEmail.test.tsx
  app/web/features/auth/email/DoNotEmail.tsx
  app/web/features/auth/locales/en.json
  app/web/features/auth/password/ChangePassword.stories.tsx
  app/web/features/auth/password/ChangePassword.test.tsx
  app/web/features/queryKeys.ts
  app/web/service/account.ts
  app/web/service/notifications.ts
Labels: release notes: pending
